In [1]:
#Importing needed libraries
import requests
import pandas as pd
from datetime import datetime
import geopandas as gpd
import fiona
import time
from json import JSONDecodeError
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import matplotlib.cm as cm
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from statsmodels.discrete.count_model import ZeroInflatedPoisson
from personal_lib import general_functions as gf
import re
from typing import Optional, List, Tuple
import googlemaps
import os
import math
import pyogrio
import geopandas as gpd
import io



creds = gf.get_creds()
google_api_key = creds["Google"]["geocoding"]
open_ai = creds["openai"]["FirstTestKey"]
gmaps = googlemaps.Client(key=google_api_key)

STATE_ABBR = "NY"
pd.options.display.max_columns = 500 
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="capstone_test")

C:\Users\johnf\AppData\Roaming\Python\Python310\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

### NYC ENERGY DATA BUILDINGS (### Pulling in the Data Via the APi online Local Law 84)

In [211]:
## There are mulitple sources of yearly data. Compiling the source URLs here as well as the API urls to grab
## privately owned buildings over 25,000 ft2 and in City-owned buildings over 10,000 ft2
building_energy_LL84_sources={"2022+":{
    "api":"https://data.cityofnewyork.us/resource/5zyy-y8am.json",
    "info":"https://data.cityofnewyork.us/Environment/NYC-Building-Energy-and-Water-Data-Disclosure-for-/5zyy-y8am/about_data"
                              },
                              "2021":{
    "api":"https://data.cityofnewyork.us/resource/7x5e-2fxh.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/7x5e-2fxh/about_data"
                              },
                              "2020":{
    "api":"https://data.cityofnewyork.us/resource/usc3-8zwd.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/usc3-8zwd/about_data"
                                  },
                              "2019":{
    "api":"https://data.cityofnewyork.us/resource/wcm8-aq5w.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/wcm8-aq5w/about_data"
                                  },
                              "2018":{
    "api":"https://data.cityofnewyork.us/resource/4tys-3tzj.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/4tys-3tzj/about_data"
                                   },
                              "2017":{
    "api":"https://data.cityofnewyork.us/resource/4t62-jm4m.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/4t62-jm4m/about_data"
                                  },
                              "2016":{
    "api":"https://data.cityofnewyork.us/resource/utpj-74fz.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/utpj-74fz/about_data"
                                  },
                              "2015":{
    "api":"https://data.cityofnewyork.us/resource/77q4-nkfh.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/77q4-nkfh/about_data"
                                  },
                              "2014":{
    "api":"https://data.cityofnewyork.us/resource/nbun-wekj.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/nbun-wekj/about_data"
                                  },
                              "2013":{
    "api":"https://data.cityofnewyork.us/resource/yr5p-wjer.json",
    "info":"http://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/yr5p-wjer"
                                  },
                              "2012":{
    "api":"https://data.cityofnewyork.us/resource/r6ub-zhff.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/r6ub-zhff/about_data"
                                  },
                              "2011":{
    "api":"https://data.cityofnewyork.us/resource/k7nh-aufb.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/k7nh-aufb/about_data"
                                  },
                              "2010":{
    "api":"https://data.cityofnewyork.us/resource/kswi-37bp.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/kswi-37bp/about_data"
                                  }
}

In [ ]:
PAGE = 1000           
TIMEOUT = 30
MAX_RETRIES = 5
BACKOFF_BASE = 1.5

session = requests.Session()
headers = {}

def fetch_all_rows_1k(api_url: str, source_years: str, source_info_url: str) -> pd.DataFrame:
    offset = 0
    frames = []

    while True:
        params = {"$limit": PAGE, "$offset": offset}

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                resp = session.get(api_url, params=params, headers=headers, timeout=TIMEOUT)
                if resp.status_code in (429, 502, 503, 504):
                    time.sleep(BACKOFF_BASE ** attempt * (0.1 * attempt))
                    continue
                resp.raise_for_status()

                if "json" not in resp.headers.get("Content-Type", "").lower():
                    preview = resp.text[:200]
                    raise ValueError(f"Non-JSON response (status {resp.status_code}): {preview}")

                data_chunk = resp.json()
                if not data_chunk:
                    return pd.concat(frames, ignore_index=True) if frames else pd.DataFrame()

                # Create DataFrame
                df = pd.DataFrame(data_chunk)

                # ðŸ”‘ Add your metadata columns here
                df["source_years"] = source_years
                df["source_api_url"] = api_url
                df["source_info_url"] = source_info_url

                frames.append(df)

                # If less than PAGE, stop; otherwise keep paginating
                if len(data_chunk) < PAGE:
                    return pd.concat(frames, ignore_index=True)

                offset += PAGE
                break  # Success, go to next page

            except (requests.RequestException, JSONDecodeError, ValueError) as e:
                if attempt == MAX_RETRIES:
                    print(f"âš ï¸ Failed fetching {api_url} at offset {offset}: {e}")
                    return pd.concat(frames, ignore_index=True) if frames else pd.DataFrame()
                time.sleep(BACKOFF_BASE ** attempt * (0.1 * attempt))

In [ ]:
agg_running_list = []
for k, v in building_energy_LL84_sources.items():
    print(f"Fetching {k} -> {v['api']}")
    df = fetch_all_rows_1k(v["api"], k, v["info"])
    if not df.empty:
        agg_running_list.append(df)
    else:
        print(f"Warning: no rows returned for {k} ({v['api']}).")

nyc_building_energy = pd.concat(agg_running_list, ignore_index=True) if agg_running_list else pd.DataFrame()
print(f"Total rows: {len(nyc_building_energy)}")

In [38]:
### Columns to Drop 
to_drop =[
## Banking oriented COlumns
'bank_branch_computer_density',
 'bank_branch_gross_floor_area',
 'bank_branch_gross_floor_area_ft',
 'bank_branch_number_of',
 'bank_branch_number_of_workers',
 'bank_branch_percent_that',
 'bank_branch_weekly_operating',
 'bank_branch_worker_density',
## College / Uni / School
'college_university_gross',
 'college_university_gross_floor_area_ft',
 'college_university_number',
    'k_12_school_computer_density',
 'k_12_school_cooking_facilities',
 'k_12_school_gross_floor_area',
 'k_12_school_gross_floor_area_ft',
 'k_12_school_high_school',
 'k_12_school_percent_that',
 'k_12_school_refrigeration',
 'k_12_school_weekend_operation',
 'laboratory_gross_floor_area_ft',
    'library_gross_floor_area',
# OTher
"automobile_dealership_gross",
'convenience_store_without',
'data_center_energy_estimates_applied',
 'data_center_gross_floor_area',
 'data_center_gross_floor_area_ft',
 'data_center_it_energy',
 'data_center_it_energy_configuration',
 'data_center_it_equipment_input_meter_kwh',
 'data_center_it_site_energy',
 'data_center_it_site_energy_kwh',
 'data_center_it_source_energy_kbtu',
 'data_center_national_median',
 'data_center_pdu_input_meter_kwh',
 'data_center_pdu_output_meter_kwh',
 'data_center_ups_output_meter_kwh',
 'enclosed_mall_gross_floor',
 'enclosed_mall_gross_floor_area_ft',
 'fast_food_restaurant_gross',
 'financial_office_gross_floor',
 'financial_office_gross_floor_area_ft',
 'financial_office_number_of',
 'financial_office_number_of_1',
 'financial_office_number_of_computers',
 'financial_office_number_of_workers_on_main_shift',
 'financial_office_weekly',
 'financial_office_weekly_operating_hours',
 'fitness_center_health_club',
 'fitness_center_health_club_gym_gross_floor_area_ft',
 'food_sales_gross_floor_area',
 'food_sales_gross_floor_area_ft',
 'food_service_gross_floor',
 'food_service_gross_floor_area_ft',
     'worship_facility_computer',
 'worship_facility_cooking',
 'worship_facility_gross_floor',
 'worship_facility_gross_floor_area_ft',
 'worship_facility_weekly',
    'supermarket_grocery_cooking',
 'supermarket_grocery_gross',
 'supermarket_grocery_gross_floor_area_ft',
 'supermarket_grocery_number',
 'supermarket_grocery_number_1',
 'supermarket_grocery_number_2',
 'supermarket_grocery_number_of_open_or_closed_refrigeration_freezer_units',
 'supermarket_grocery_number_of_walk_in_refrigeration_freezer_units',
 'supermarket_grocery_percent',
 'supermarket_grocery_walk',
 'supermarket_grocery_weekly',
 'supermarket_grocery_worker',
 'swimming_pool_approximate',
 'swimming_pool_location_of',
 'swimming_pool_months_in_use',
     'social_meeting_hall_gross',
 'social_meeting_hall_gross_floor_area_ft',
     'residence_hall_dormitory',
 'residence_hall_dormitory_1',
 'residence_hall_dormitory_2',
 'residence_hall_dormitory_3',
 'residence_hall_dormitory_4',
 'residence_hall_dormitory_gross_floor_area_ft',
 'restaurant_gross_floor_area',
 'restaurant_gross_floor_area_ft',
 'restaurant_weekly_operating',
 'restaurant_weekly_operating_hours',
 'restaurant_worker_density',
 'restaurant_worker_density_number_per_1_000_sq_ft',
 'retail_store_cash_register',
 'retail_store_computer_density',
 'retail_store_exterior_entrance',
 'retail_store_gross_floor',
 'retail_store_gross_floor_area_ft',
 'retail_store_number_of_open',
 'retail_store_number_of_open_or_closed_refrigeration_freezer_units',
 'retail_store_number_of_walk',
 'retail_store_number_of_walk_in_refrigeration_freezer_units',
 'retail_store_open_or_closed',
 'retail_store_percent_that',
 'retail_store_walk_in',
 'retail_store_weekly_operating',
 'retail_store_worker_density',
 'self_storage_facility_gross',
 'self_storage_facility_gross_floor_area_ft',
 'senior_care_community_average',
 'senior_care_community_gross',
 'senior_care_community_maximum',
 'senior_care_community_number',
 'senior_care_community_number_1',
 'senior_care_community_number_2',
 'senior_care_community_number_3',
 'senior_care_community_number_4',
 'senior_care_community_number_5',
 'senior_care_community_number_6',
 'senior_care_community_percent',
 'senior_living_community_gross_floor_area_ft',
 'senior_living_community_living_unit_density_number_per_1_000_sq_ft',
    'movie_theater_gross_floor_area_ft',
    'non_refrigerated_warehouse',
 'non_refrigerated_warehouse_1',
 'non_refrigerated_warehouse_2',
 'non_refrigerated_warehouse_3',
 'non_refrigerated_warehouse_4',
 'non_refrigerated_warehouse_5',
 'non_refrigerated_warehouse_gross_floor_area_ft',
     'parking_completely_enclosed',
 'parking_completely_enclosed_parking_garage_size_ft',
 'parking_gross_floor_area',
 'parking_gross_floor_area_ft',
 'parking_open_parking_lot',
 'parking_open_parking_lot_size_ft',
 'parking_partially_enclosed',
 'parking_partially_enclosed_parking_garage_size_ft',
     'strip_mall_gross_floor_area',
## Hostpial / Hotel
    'hospital_general_medical',
 'hospital_general_medical_1',
 'hospital_general_medical_10',
 'hospital_general_medical_11',
 'hospital_general_medical_12',
 'hospital_general_medical_13',
 'hospital_general_medical_14',
 'hospital_general_medical_15',
 'hospital_general_medical_16',
 'hospital_general_medical_17',
 'hospital_general_medical_2',
 'hospital_general_medical_3',
 'hospital_general_medical_4',
 'hospital_general_medical_5',
 'hospital_general_medical_6',
 'hospital_general_medical_7',
 'hospital_general_medical_8',
 'hospital_general_medical_9',
 'hotel_amount_of_laundry',
 'hotel_cooking_facilities',
 'hotel_full_service_spa_floor',
 'hotel_gross_floor_area_ft',
 'hotel_gym_fitness_center',
 'hotel_gym_fitness_center_floor_area_ft',
 'hotel_number_of_rooms',
 'hotel_percent_that_can_be',
 'hotel_room_density_number',
 'hotel_type_of_laundry_facility',
 'hotel_worker_density_number',
 'urgent_care_clinic_other',
 'urgent_care_clinic_other_outpatient_gross_floor_area_ft',
    'mailing_center_post_office_gross_floor_area_ft',
 'manufacturing_industrial_plant_gross_floor_area_ft',
 'medical_office_gross_floor',
 'medical_office_gross_floor_area_ft',
 'medical_office_mri_machine',
 'medical_office_number_of',
 'medical_office_number_of_1',
 'medical_office_number_of_computers',
 'medical_office_number_of_mri_machines',
 'medical_office_number_of_workers_on_main_shift',
 'medical_office_percent_that',
 'medical_office_percent_that_1',
 'medical_office_percent_that_can_be_cooled',
 'medical_office_percent_that_can_be_heated',
 'medical_office_weekly',
 'medical_office_weekly_operating_hours',
    'museum_gross_floor_area_ft',
    'office_computer_density_number',
 'office_gross_floor_area_ft',
 'office_number_of_computers',
 'office_number_of_workers',
 'office_number_of_workers_on_main_shift',
 'office_percent_that_can_be',
 'office_percent_that_can_be_1',
 'office_percent_that_can_be_cooled',
 'office_percent_that_can_be_heated',
 'office_weekly_operating_hours',
 'office_worker_density_number',
 'office_worker_density_number_per_1_000_sq_ft',
     'adult_education_gross_floor',
 'adult_education_gross_floor_area_ft',
    'data_center_ups_output_meter',
 'data_center_pdu_input_meter',
 'data_center_pdu_output_meter',
 'data_center_it_equipment',
 'data_center_it_site_energy',
 'data_center_it_source_energy',
 'data_center_pue',
 'data_center_national_median',
 'data_center_gross_floor_area',
 'data_center_ups_system',
 'data_center_it_energy',
 'data_center_cooling_equipment',
'supermarkets_grocery_gross',
 'supermarkets_grocery_number',
 'supermarkets_grocery_number_1',
 'supermarkets_grocery_number_2',
 'supermarkets_grocery_percent',
 'supermarkets_grocery_presence',
 'supermarkets_grocery_walk',
 'supermarkets_grocery_weekly',
 'supermarkets_grocery_workers',
'house_of_worship_gross_floor',
 'house_of_worship_pc_density',
 'house_of_worship_weekly',
 'house_of_worship_presence',
'residence_halls_dormitories',
'medical_office_percent_cooled',
 'residence_halls_dormitories_1',
 'residence_halls_dormitories_2',
 'residence_halls_dormitories_3',
 'residence_halls_dormitories_4',
'hotel_onsite_laundry_short',
 'warehouse_unrefrigerated',
 'warehouse_unrefrigerated_1',
 'warehouse_unrefrigerated_2',
 'warehouse_unrefrigerated_3',
 'warehouse_unrefrigerated_4',
 'warehouse_unrefrigerated_5',
 'warehouse_unrefrigerated_6',
 'hospital_gross_floor_area',
 'hospital_laboratory_y_1_n',
 'hospital_laundry_facility',
 'hospital_maximum_number_of',
 'hospital_number_of_buildings',
 'warehouse_refrigerated_gross',
 'warehouse_refrigerated_weekly',
 'warehouse_refrigerated_workers',
 'hospital_number_of_licensed',
 'multifamily_home_dishwashers',
 'fuel_oil_2_use_kbtu',
 'fuel_oil_4_use_kbtu',
 'diesel_2_use_kbtu',
 'district_steam_use_kbtu',
 'natural_gas_use_kbtu',
'natural_gas_use_therms',
 'difference_from_national',
 'difference_from_national_1',
 'current_direct_ghg_emissions',
 'current_indirect_ghg_emissions',
'office_gross_floor_area_sq',
 'office_office_air_conditioned',
 'office_pc_density',
 'office_workers_density',
 'parking_enclosed_floor_area',
 'parking_non_enclosed_floor',
 'parking_open_floor_area_w',
 'parking_weekly_hours_of_access',
 'retail_gross_floor_area_sq',
 'retail_cash_register_density',
 'retail_exterior_entrance',
 'retail_workers_density',
 'retail_weekly_operating_hours',
 'retail_walk_in_refrig_density',
 'retail_percent_cooled',
 'retail_pc_density',
 'retail_open_closed_refrig',
 'retail_number_of_walk_in',
 'retail_number_of_open_or',
'data_center_annual_it_energy',
'other_space_type_name',
 'other_gross_floor_area_sq',
 'other_number_of_pcs',
 'other_workers_on_main_shift',
 'hotel_gross_floor_area_sq',
 'hotel_room_density',
 'hotel_percent_cooled',
 'hotel_presence_of_cooking',
 'hotel_workers_density',
 'bank_financial_institution',
 'bank_financial_institution_1',
 'bank_financial_institution_2',
 'bank_financial_institution_3',
 'bank_financial_institution_4',
 'bank_financial_institution_5',
 'k_12_school_high_school_y',
 'k_12_school_open_weekends',
 'k_12_school_pc_density',
 'k_12_school_percent_cooled',
 'k_12_school_walk_in_refrig',
 'k_12_school_presence_of',
 'swimming_pool_size',
 'swimming_pool_indoor_outdoor',
 'hotel_floor_area_of_full',
 'hotel_floor_area_of_gym',
 'hotel_average_occupancy',
 'hotel_quantity_of_laundry',
'number_of_staffed_beds',
 'number_of_mri_machines',
 'senior_care_facility_average',
 'senior_care_facility_gross',
 'senior_care_facility_number',
 'senior_care_facility_number_1',
 'senior_care_facility_number_2',
 'senior_care_facility_number_3',
 'senior_care_facility_number_4',
 'senior_care_facility_percent',
 'senior_care_facility_total',
 'senior_care_facility_total_1',
 'senior_care_facility_workers',]

In [185]:
chunksize = 100000  
filtered_chunks = []
for chunk in pd.read_csv("nyc_dob_energy_2010_2024.csv", chunksize=chunksize, usecols=lambda col: col not in to_drop):
    ## Using nulls instead of "not Available".
        ## Using nulls instead of "not Available".
    chunk = chunk.replace("Not Available",np.nan)
    # Convert year_ending to datetime
    chunk["year_ending"] = pd.to_datetime(chunk["year_ending"], errors="coerce")
    # Optional: extract just the year if thatâ€™s all you need
    chunk["year_ending_year"] = chunk["year_ending"].dt.year
    # print(chunk["year_ending_year"].unique())
    
    ### Property Types
    chunk["primary_property_type"] = chunk["primary_property_type"].combine_first(chunk["primary_property_type_epa"])
    chunk["primary_property_type_self"] = chunk["primary_property_type_self"].combine_first(chunk["primary_property_type_self_selected"])
    chunk = chunk.drop(columns=["primary_property_type_self_selected","primary_property_type_epa"])


    ## Beginning of Limiting to Multifamily Homes (Step 1)
    residential_chunk = chunk[(((chunk["list_of_all_property_use"].isin([i for i in chunk["list_of_all_property_use"].unique() if 'Multifamily Housing' in str(i)]))
            |(chunk["list_of_all_property_use"].isnull()))
           &((chunk["primary_property_type_self"]=="Multifamily Housing")|(chunk["primary_property_type_self"].isnull()))
           &((chunk["primary_property_type"]=="Multifamily Housing")|(chunk["primary_property_type"].isnull())))]
    
    ## Second Step is limiting to NON MIXED USE, so ONLY MultiFamily Residences
    residential_chunk2 = residential_chunk[((residential_chunk['list_of_all_property_use'].isnull())
                                            | residential_chunk['list_of_all_property_use'].apply(
                                                lambda x: len(x.split(",")) == 1 if isinstance(x, str) else False
                                            ))]


    ## Limtiing to the Metered Areas for whole property or whole building
    residential_chunk3 = residential_chunk2[((residential_chunk2["metered_areas_energy"].isin(['Whole Building', "Whole Property"]))
                                             |(residential_chunk2["metered_areas_energy"].isnull()))]

    residential_chunk3 = residential_chunk3[((residential_chunk3["construction_status"]=='Existing')|(residential_chunk3["construction_status"].isnull()))]
    
    ## Stand Alone Properties
    residential_chunk3 = residential_chunk3[((residential_chunk3["parent_property_id"].isnull())
                                             |(residential_chunk3["parent_property_id"]=='Not Applicable: Standalone Property'))]
    ## Dropping what i already filtered on
    residential_chunk3 = residential_chunk3.drop(columns=["primary_property_type_self","primary_property_type",
                                                          "national_median_reference", "list_of_all_property_use",
                                                          "largest_property_use_type","construction_status",
                                                          "parent_property_id","parent_property_name"])
    
    # ## Fruther Limiting to those that are under 10 Stories. 
    # residential_chunk2 = residential_chunk2.replace("Not Available",np.nan).dropna(how='all',axis=1)
    # residential_chunk2 = residential_chunk2.dropna(how='all',axis=1)

    filtered_chunks.append(residential_chunk3)

residential3 = pd.concat(filtered_chunks, ignore_index=True)

C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\1837888054.py:3: DtypeWarning: Columns (3,6,7,10,11,12,13,14,16,17,18,19,20,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,53,56,58,59,60,61,62,63,64,65,67,68,71,72,73,74,75,76,77,78,79,80,81,82,83,85,87,88,91,93,94,95,97,98,99,100,101,102,103,104,105,106,107,108,109,121,124,127,129,130,131,133,155,159,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,185,196,208,209,214,215,216,220,221,222,223,224,225,226,227,228,229,230,232,233,234,235,236,237,238,239,244,245,252,253,254,257,258,259,260,261,262,263,264,268,269,270,272,273,274,275,276,277,278,279,280,281,283,284,285,287,288,289,290,291,292,293,294,295,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,337,338,340,342,343,345,346,355,356,358,366,367,368,369,370,371,372,373,374,375,376,377,385,389,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,415,420,434,435,436,438,439,440,441,442,443,444,445,446,447,448,449,450,451,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,472) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("nyc_dob_energy_2010_2024.csv", chunksize=chunksize, usecols=lambda col: col not in to_drop):
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\1837888054.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  chunk = chunk.replace("Not Available",np.nan)
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\1837888054.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  chunk["year_ending_year"] = chunk["year_ending"].dt.year
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\1837888054.py:3: DtypeWarning: Columns (3,4,6,7,11,12,13,14,16,17,18,19,20,22,26,27,29,30,31,32,33,34,35,36,37,42,43,44,45,46,47,50,52,53,55,56,58,59,60,61,62,63,64,65,66,67,68,69,70,71,74,75,78,80,81,82,83,84,85,86,91,93,94,95,97,98,99,100,101,102,103,104,105,106,107,121,124,127,129,130,131,133,155,159,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,185,194,196,214,215,216,220,221,222,224,225,226,227,228,229,230,231,232,233,235,237,253,268,269,270,272,273,274,275,276,277,278,279,284,285,286,287,288,289,290,291,292,293,294,295,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,337,338,340,342,343,345,346,355,356,358,366,367,368,369,370,371,372,373,374,375,376,377,385,389,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,415,420,434,435,436,438,439,440,441,442,443,444,445,446,447,448,449,450,451,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,472,473,476,481,482,483,484,485,486,489,490,491,492,493,494,500,501,502,503,504,505,506) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("nyc_dob_energy_2010_2024.csv", chunksize=chunksize, usecols=lambda col: col not in to_drop):
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\1837888054.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  chunk = chunk.replace("Not Available",np.nan)
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\1837888054.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  chunk["year_ending_year"] = chunk["year_ending"].dt.year
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\1837888054.py:3: DtypeWarning: Columns (2,3,4,5,6,7,11,12,13,14,15,16,17,18,19,20,21,23,25,26,27,29,31,32,33,34,35,36,37,42,43,44,45,46,47,50,52,53,55,56,58,59,62,63,64,67,68,69,70,74,78,80,81,83,84,85,86,87,88,89,90,91,92,93,94,95,96,98,99,100,101,102,103,104,105,106,108,124,129,130,131,133,159,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,185,194,196,214,219,220,221,222,224,225,226,227,228,229,230,231,232,233,234,235,236,237,253,268,269,270,272,273,274,276,278,279,280,286,472,476,481,482,483,484,486,489,490,491,492,493,494,500,501,504,505,506,509,510,511,512,521,522,523,524,525,526,527,528,529,532,533,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,553,555,556,557,558,559,560,561,562,563,564,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,656,657,663,666,668,671,672,673,674,675,678,682,683,693,694,695,696,724,735,736,739,740,748,749,773,780,782,796,829,834,835,839,841) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("nyc_dob_energy_2010_2024.csv", chunksize=chunksize, usecols=lambda col: col not in to_drop):
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\1837888054.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  chunk = chunk.replace("Not Available",np.nan)
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\1837888054.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  chunk["year_ending_year"] = chunk["year_ending"].dt.year
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\1837888054.py:3: DtypeWarning: Columns (739,841) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("nyc_dob_energy_2010_2024.csv", chunksize=chunksize, usecols=lambda col: col not in to_drop):

### Fixing Via Self Joins and Otherwise for Earlier years in data without Property ID / BBL

In [33]:
## Finalize the truth set year column 
residential3["year_ending_year"] = residential3["year_ending_year"].combine_first(residential3["source_years"]).astype(int)
### Consolidating those columns that contain potential ID numbers
residential3["bbl"] = residential3["nyc_borough_block_and_lot"].combine_first(residential3['nyc_borough_block_and_lot_bbl']).combine_first(residential3["bbl10"]).combine_first(residential3["bbl"])
residential3.loc[residential3["bbl"].notna(), "bbl"] = residential3.loc[residential3["bbl"].notna(), "bbl"].astype(str).str.replace(r"\.0$", "", regex=True).str.replace(r"-", "", regex=False).str.replace(r"/", "", regex=False).str.replace(r".", "", regex=False)
residential3["postcode"] = residential3["postcode"].combine_first(residential3["postal_code"])
residential3['postcode'] = residential3['postcode'].apply(lambda x : str(x).replace(",0",'') if x else x)
residential3 = residential3.drop(columns=["postal_code","nyc_borough_block_and_lot",'nyc_borough_block_and_lot_bbl',"bbl10"])

In [34]:
### Checking the row numbers and Property Id vals
residential3.groupby(["year_ending_year"]).agg({"property_id":["nunique","count"],"source_api_url":"count"})

                 property_id        source_api_url
                     nunique  count          count
year_ending_year
2010                       0      0          10329
2011                       0      0          12400
2012                     804    804            804
2013                    9291   9405           9405
2014                    9416   9435           9435
2015                    6834   6908           6908
2016                    7059   7071           7071
2017                   11948  18323          18323
2018                   13378  13696          13696
2019                   13689  14367          14367
2020                   17205  17290          17290
2021                   13054  13167          13167
2022                   13401  13444          13444
2023                   14574  14803          14803

In [37]:
### Attempting to self-enrich data for property ids
null_property_ids = residential3[residential3["property_id"].isnull()]
print(null_property_ids.shape)
property_ids = residential3[~residential3["property_id"].isnull()]
print(property_ids.shape)

(22729, 590)
(138713, 590)

In [38]:
### immediate Crosswalk for BBL and Property IDs Merging 
cw_join = property_ids[["property_id","bbl"]][~property_ids["bbl"].isnull()].drop_duplicates()
null_property_ids_enr1 = null_property_ids[[c for c in null_property_ids.columns if c !="property_id"]].merge(cw_join,how='left',on=["bbl"])
unresolved = null_property_ids_enr1[null_property_ids_enr1["property_id"].isnull()]
resolved = null_property_ids_enr1[~null_property_ids_enr1["property_id"].isnull()]
property_ids = pd.concat([property_ids,resolved]).drop_duplicates()

In [39]:
## Taking a look
property_ids.groupby(["property_id"]).agg({"bbl":["nunique","count"],"source_api_url":"count"})

                bbl       source_api_url
            nunique count          count
property_id
1407884.0         1     5              5
1443214.0         1     6              6
1732083.0         1     4              4
1847014.0         1     4              4
1944274.0         1     6              6
...             ...   ...            ...
35964199.0        0     0              1
35992350.0        0     0              1
36064989.0        1     1              1
36064990.0        1     1              1
36087754.0        1     1              1

[31189 rows x 3 columns]

In [40]:
property_ids.groupby(["year_ending_year"]).agg({"property_id":["nunique","count"],"source_api_url":"count"})

                 property_id        source_api_url
                     nunique  count          count
year_ending_year
2010                   11476  14307          14307
2011                   14874  17402          17402
2012                     804    804            804
2013                    9291   9405           9405
2014                    9416   9435           9435
2015                    6834   6908           6908
2016                    7059   7071           7071
2017                   11948  17490          17490
2018                   13378  13696          13696
2019                   13689  14367          14367
2020                   17205  17290          17290
2021                   13054  13164          13164
2022                   13401  13444          13444
2023                   14574  14803          14803

In [41]:
### Resolving Mulitple BBLS per property Id
test = property_ids[["property_id", "bbl", "address_1", "city","latitude", "longitude", "postcode", "year_ending_year"]].drop_duplicates()
test2 = (test.groupby("property_id").agg(bbl_nunique=("bbl", "nunique"),address_nunique=("address_1", "nunique"),
                                         year_min=("year_ending_year", "min"),year_max=("year_ending_year", "max"),).reset_index())
to_fix = test2[test2["bbl_nunique"] > 1]
to_fix = to_fix[((to_fix["year_min"]==2010)
        &(to_fix["year_max"]>=2017))]

In [43]:
for i, r in to_fix.iterrows():
    print(r["property_id"])
    temp_df = property_ids[["property_id","bbl","year_ending","address_1","city","postcode"]][property_ids["property_id"]==r['property_id']]
    print(temp_df['bbl'].unique())
    #Most frequent (mode) BBL for this property_id
    mode_bbl = temp_df['bbl'].mode(dropna=True).iloc[0]
    if ";" in mode_bbl:
        continue
    else:
        print(temp_df.shape)
        # Write that BBL back onto ALL rows for this property_id
        property_ids.loc[property_ids["property_id"] == r['property_id'], "bbl"] = mode_bbl

2506975.0
['2026140061' '2023140061']
(13, 6)
2639329.0
['2042520025' '2042520052']
(12, 6)
2640537.0
['4066780001' '4066770001']
(14, 6)
2657973.0
['1007537502' '1007530048']
(14, 6)
2658179.0
['1020647502' '1020640018']
(13, 6)
2658291.0
['2028610067' '2026800019']
(9, 6)
2658513.0
['1021347504' '1021340200']
(9, 6)
2658791.0
['1021807501' '1021800134']
(5, 6)
2658837.0
['1021807505' '1021800154']
(15, 6)
2661683.0
['3011907501' '3011900014']
(10, 6)
2664411.0
['4032587501' '4032580006']
(5, 6)
2664467.0
['4050407502' '4050400019']
(5, 6)
2682035.0
['1008357501' '1008350001']
(5, 6)
2686101.0
['4051230051' '4028640017']
(7, 6)
2691095.0
['2028879100' '2028879100; 2028870100']
(6, 6)
2693021.0
['4000627501' '4000627501;4000620046']
(5, 6)
2693044.0
['1012947501;1012940037' '1012940037']
(12, 6)
2702118.0
['1014387502' '1014380049']
(9, 6)
2704721.0
['3044147501' '3044157501']
(8, 6)
2708796.0
['1006430001' '1006430027']
(9, 6)
2711028.0
['2036230020' '2036230001']
(7, 6)
2715805.0
['3023507501' '3023500001']
(6, 6)
2715809.0
['3067000038' '3067000026']
(6, 6)
2715854.0
['1012229029' '1012220029']
(6, 6)
2718578.0
['1010267502' '1010260049']
(5, 6)
2718827.0
['4000347501' '4000340001']
(14, 6)
2722008.0
['1018320036;1012050034' '1018320036']
(12, 6)
2729823.0
['1011587507' '1011580129']
(7, 6)
2734686.0
['3061380001' '3061380006']
(6, 6)
2740271.0
['2039627501' '2039447501']
(25, 6)
2750325.0
['1007350006' '1007350001']
(5, 6)
2771725.0
['3012500060:3012500053' '3012500060']
(7, 6)
2777190.0
['4050437501' '4050431001']
(3, 6)
2782299.0
['1000110014' '1000110014; 1000110012']
(5, 6)
2790204.0
['4001560005' '4001560005 multiple']
(20, 6)
2793844.0
['3050420089' '3054200089']
(12, 6)
2795937.0
['1014067504' '1014060001']
(9, 6)
2796206.0
['1014240001;1014240004' '1014240001']
(5, 6)
2800713.0
['3062190029' '3059280028']
(18, 6)
2800723.0
['3062190029' '3059280028']
(14, 6)
2803052.0
['3054530018' '354530018']
(13, 6)
2807291.0
['1007730134;2022930058' '1007730134']
(13, 6)
2809319.0
['2032130018' '2032130012']
(12, 6)
2809354.0
['2041940025' '2049140025']
(8, 6)
2809821.0
['1018757501' '1018751001;1018751002']
(13, 6)
2809822.0
['1018810003' '1018810003;1018810004']
(13, 6)
2810748.0
['1020467501' '1020460001']
(12, 6)
2810875.0
['2030610005' '2030610005;2030610007;2030610009;2030610011']
(13, 6)
2811423.0
['1020010038' '1020010038 multiple']
(12, 6)
2811573.0
['5040010001; 5040020001; 5040000039' '5040010001']
(8, 6)
3102189.0
['4015170059' '4015480006']
(15, 6)
3108152.0
['4059580140' '4059580030']
(13, 6)
3112446.0
['4050220018' '4050130038;4050220018']
(9, 6)
3114298.0
['1010517502' '1010510001;1010517502' '1010517502;1010510001']
(5, 6)
3114465.0
['1000167523' '1000160195']
(5, 6)
3114466.0
['1000167522' '1000160200']
(5, 6)
3121257.0
['2022830053' '3022830053']
(9, 6)
3312297.0
['3048150037' '2048150037']
(12, 6)
3326673.0
['1013757503' '1013750037']
(4, 6)
3513307.0
['1021080083' '1021800083']
(14, 6)
3575104.0
['3071790058' '2147483647']
(13, 6)
3579625.0
['3036790030;3036790022' '3036790030']
(13, 6)
4019351.0
['1012317502' '1012310064']
(12, 6)
4035263.0
['4021730001' '4021520133;4021730001' '4021520133']
4035264.0
['4051920001;4051930001' '4051920001']
4035674.0
['4021210021' '2147483647']
(9, 6)
4035675.0
['4021210051' '2147483647']
(9, 6)
4035676.0
['3071790042' '2147483647']
(9, 6)
4035677.0
['3074580062' '2147483647']
(9, 6)
4035678.0
['4021460028' '2147483647']
(5, 6)
4036629.0
['1000160221' '1000160220']
(8, 6)
4037236.0
['3058730084; 3058730087' '3058730084']
(11, 6)
4038847.0
['1007630008;1007639008' '1007630008' '1007639008;1007630008' '1007639008']
4039028.0
['1015147502' '5015147502']
(10, 6)
4039523.0
['4021220028' '2147483647']
(9, 6)
4039527.0
['3072000008' '2147483647']
(5, 6)
4039528.0
['4021450028' '2147483647']
(5, 6)
4039531.0
['3074580001' '2147483647']
(5, 6)
4040220.0
['3072140001' '372140001']
(14, 6)
4040832.0
['1000167521' '1000160190']
(15, 6)
4043956.0
['20292500422029250048' '2029250042;2029250048' '2029250042']
(11, 6)
4055978.0
['4005280050' '40005280050']
(10, 6)
4374696.0
['2025120015' '4025120015']
(11, 6)
4384851.0
['1015850023' '1015860023']
(9, 6)
4387640.0
['3070550013' '3070550012;3070550013;3070550056;3070550120']
(6, 6)
4390615.0
['1011180022' '101180022']
(8, 6)
4403574.0
['4052000006;4052000001' '4052000006' '4052000001']
(12, 6)
4407379.0
['3031510012' '3031510012multiple']
(5, 6)
4407793.0
['1015130001' '101513001']
(12, 6)
4409948.0
['1012510071' '1031201251']
(11, 6)
4410415.0
['1016217501' '1016210005;1016210067;1016217501']
(4, 6)
4414082.0
['4012160017' '1012160017']
(6, 6)
4497145.0
['1002127505' '1002120007']
(10, 6)
4506903.0
['1008827502' '1008820069']
(13, 6)
4626594.0
['1014270028' '?1014270028']
(11, 6)
4626608.0
['1015180024' '?1015180024']
(11, 6)
4626704.0
['3086840062' '3086840062?']
(11, 6)
4630109.0
['3011677501' '3011677501?']
(8, 6)
4769672.0
['1007217501' '1007217501;1007211062;1007211008']
(7, 6)
4820495.0
['4014180001' '4033400036']
(14, 6)
4836218.0
['3087710135' '3088190011']
(11, 6)
4952201.0
['1018887504' '1018880043']
(6, 6)
4953988.0
['4051817502' '4051810036']
(11, 6)
4998556.0
['3002447502' '3002440017']
(5, 6)
4999202.0
['2051417501' '2051410280']
(7, 6)
5041358.0
['4015187502' '4018187502']
(9, 6)
5510202.0
['1008277501' '1008270044']
(10, 6)
5721188.0
['3053210001' '3011790037']
(10, 6)
5721195.0
['3011790037' '3053210001']
(10, 6)
5802760.0
['1009287505' '1009280031']
(8, 6)
5802767.0
['1015527504' '1015520023']
(6, 6)
5839056.0
['2036230020; 2036230001' '2036230001; 2036230020' '2036230020'
 '2036230001']
(12, 6)
5841207.0
['10137319011904' '1013737505']
(6, 6)
5876478.0
['1014997502' '1014990061']
(3, 6)
5944832.0
['3070460001' '2070460001']
(4, 6)
6133822.0
['1007181003' '1007187501']
(7, 6)
6202475.0
['1011860083' '1011867501']
(9, 6)
6205637.0
['243407502' '2043407502']
(3, 6)
6208843.0
['5009550075;5009550170' '5009550075' '5009550100']
(8, 6)
6222520.0
['2031820019' '02318219']
(12, 6)
6245401.0
['2040480014' '2404814']
(11, 6)
6282587.0
['3088190011' '3088200001']
(10, 6)
6282588.0
['3088200001' '4014210001']
(10, 6)
6282589.0
['4014210001' '4031510103']
(10, 6)
6282592.0
['4114640001' '4015470016']
(6, 6)
6282593.0
['4015470016' '4005760005']
(10, 6)
6282594.0
['4098300035' '4114660025']
(10, 6)
6282611.0
['2032130024' '1002087501']
(9, 6)
6282613.0
['4050057502' '4053280015']
(9, 6)
6282617.0
['4006540024' '4013120043']
(9, 6)
6282618.0
['4013120043' '4051020029']
(9, 6)
6282621.0
['1005900034' '1009970047']
(8, 6)
6282717.0
['1010370040' '1010370038']
(10, 6)
6301742.0
['3074650040' '3074680040']
(9, 6)
6302689.0
['1021700365' '1021700375']
(10, 6)
6305975.0
['2026220005' '226220005']
(6, 6)
6306033.0
['2028320035' '228320035']
(8, 6)
6306111.0
['2037390001' '237390001']
(6, 6)
6306140.0
['4155740036' '4155630051']
(9, 6)
6309277.0
['4012980079' '4015530001']
(9, 6)
6310881.0
['2050440030' '205440030']
(9, 6)
6418625.0
['1022150465' '2022150465']
(11, 6)
6569398.0
['3050867501' '3050860060']
(4, 6)
6639278.0
['2051411120' '2051411085']
(9, 6)
6639289.0
['4033120008;4033120001' '4033120008']
(5, 6)
6639298.0
['1022430289' '3022430289']
(4, 6)
6650220.0
['1013730040' '1013737505; 1013730040' '1013737505;1013730040'
 '1013737505']
(9, 6)
6653300.0
['4012760001' '412760001']
(11, 6)
6675034.0
['1009437502' '1009430052']
(5, 6)
6675099.0
['1019690034' '1007270001']
(9, 6)
6776724.0
['2036000025' '2036000004']
(12, 6)
6798025.0
['4097140152' '4097140052']
(9, 6)
6800120.0
['4013367501' '4096290001']
(8, 6)
6814131.0
['4051017506' '4051010022']
(8, 6)
6814132.0
['4050427505' '4050420066']
(8, 6)
6814928.0
['1009049024' '1009040024']
(5, 6)
6821188.0
['3019250042' '3019250007']
(4, 6)
7857356.0
['4097180002' '4087180002']
(6, 6)
8102044.0
['1014269035' '1014260035']
(9, 6)
9553484.0
['1011147504' '1011140009']
(6, 6)
10495630.0
['4051850017' '2051850017']
(9, 6)
11886097.0
['4014570001' '4014570006']
(6, 6)
12742842.0
['4014570006' '4014570001']
(6, 6)
22707247.0
['4096630020' '4096520020']
(4, 6)
25124170.0
['5079080099' '1013737501']
(4, 6)

In [44]:
### Putting together Processed Results So Far 
## Keepgin the unresolved with BBL values, dropping those that are null because BBL and Property ID are null.
print(unresolved[unresolved["bbl"].isnull()].shape)
print(unresolved[~unresolved["bbl"].isnull()].shape)
# test = pd.concat()
keep = unresolved[~unresolved["bbl"].isnull()]
keep["resolved_flag"]="UNRESOLVED"
property_ids["resolved_flag"]="RESOLVED"
residential3_refined= pd.concat([property_ids,keep])

(849, 590)
(5750, 590)

C:\Users\johnf\AppData\Local\Temp\ipykernel_50264\3801367619.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  keep["resolved_flag"]="UNRESOLVED"
C:\Users\johnf\AppData\Local\Temp\ipykernel_50264\3801367619.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  property_ids["resolved_flag"]="RESOLVED"

#### Limiting by Years and for those Buildigns that have been in the Data for the years we want

In [45]:
buildings_2010_property_ids = residential3_refined[((residential3_refined["year_ending_year"].isin([2010,2011]))
                                                    &(~residential3_refined["property_id"].isnull()))]["property_id"].unique()
buildings_2010_bbls = residential3_refined[((residential3_refined["year_ending_year"].isin([2010,2011]))
                                            &(~residential3_refined["bbl"].isnull()))]["bbl"].unique()
print("CheckingGrouping - Prop ID")
print(residential3_refined[residential3_refined['property_id'].isin(buildings_2010_property_ids)].groupby(['year_ending_year']).agg({"address_1":"count"}).reset_index())
print("CheckingGrouping - BBL")
print(residential3_refined[residential3_refined['bbl'].isin(buildings_2010_bbls)].groupby(['year_ending_year']).agg({"address_1":"count"}).reset_index())
### Limtiing to 2017 and before 
residential3_refined_b4_2018 = residential3_refined[residential3_refined["year_ending_year"]<2018]
print("YEARS")
print(residential3_refined_b4_2018['year_ending_year'].unique())
residential3_2010_2017 = residential3_refined_b4_2018[((residential3_refined_b4_2018['property_id'].isin(buildings_2010_property_ids))
                                                       |(residential3_refined_b4_2018['bbl'].isin(buildings_2010_bbls)))]

CheckingGrouping - Prop ID
    year_ending_year  address_1
0               2010      14307
1               2011      17369
2               2012        562
3               2013       8191
4               2014       8183
5               2015       5872
6               2016       5839
7               2017       8525
8               2018       6283
9               2019       6426
10              2020       8372
11              2021       5707
12              2022       5820
13              2023       6591
CheckingGrouping - BBL
    year_ending_year  address_1
0               2010      16573
1               2011      20773
2               2012        540
3               2013       8097
4               2014       8118
5               2015       5848
6               2016       5831
7               2017       8467
8               2018       6270
9               2019       6413
10              2020       8359
11              2021       5698
12              2022       5807
13              2023       6576
YEARS
[2017 2016 2015 2014 2013 2012 2011 2010]

In [46]:
### Building Info Only 
building_info =residential3_2010_2017[["property_id",'bbl',"address_1","address_2","city","postcode",'county','borough',"latitude","longitude"]].drop_duplicates()

#### Cleaning Address, Prepping for Geocoding where needed.

In [227]:
# NYC biasing bounds (rough NYC box)
NYC_BOUNDS = {
    "southwest": {"lat": 40.477399, "lng": -74.259090},
    "northeast": {"lat": 40.917577, "lng": -73.700272},
}

# Common misspellings / normalizations seen in your data
COMMON_FIXES = {
    r"\bWASHIGNTON\b": "WASHINGTON",
    r"\bWASHNGTN\b": "WASHINGTON",
    r"\bALBERMALE\b": "ALBEMARLE",
    r"\bALBERMALE\b": "ALBEMARLE",
    r"\bAMSETRDAM\b": "AMSTERDAM",
    r"\bKINGBRIDGE\b": "KINGSBRIDGE",
    r"\bOVINGTON\b": "OVINGTON",   # keep as is (looks fine)
    r"\bNAGLE HOUSE\b": "NAGLE AVE",  # likely street not building name
    r"\bNAGLE\b": "NAGLE",  # pass-through
    r"\bST\s*NICOLAS\b": "ST NICHOLAS",
    r"\bOILVER\b": "OLIVER",
    r"\bRIVER SIDE\b": "RIVERSIDE",
    r"\bSTEET\b": "STREET",
    r"\bSREET\b": "STREET",
    r"\bFOR WASHINGTON\b": "FORT WASHINGTON",
    r"\bFT\.?\b": "FORT",
    r"\bBIVONA\b": "BIVONA",  # leave
    r"\bCLARKE\b": "CLARKE",  # leave
    r"\bCAROLL\b": "CARROLL",
    r"\bCLAFFIN\b": "CLAFLIN",
    r"\bDEKALB\b": "DEKALB",
    r"\bLAFAYETTE\b": "LAFAYETTE",
    r"\bW\s*MOSHOLU\b": "W MOSHOLU",
    r"\bE\s*MOSHOLU\b": "E MOSHOLU",
    r"\bMOSHOLU\b": "MOSHOLU",
    r"\bPARSON\b": "PARSONS",
    r"\bPARSONS BLVD?\b": "PARSONS BLVD",
}

# Street type vocabulary to help "best-guess" if clearly missing
STREET_TYPES = ["ST", "AVE", "RD", "BLVD", "PL", "LN", "DR", "CT", "PKWY", "TER", "PLZ"]

def _norm_ws(s: Optional[str]) -> Optional[str]:
    if s is None or (isinstance(s, float) and pd.isna(s)):
        return None
    s = str(s)
    # HTML escapes commonly seen
    s = s.replace("&amp;", "&")
    s = s.replace("\u2013", "-").replace("\u2014", "-")
    s = s.strip()
    s = re.sub(r"\s+", " ", s)
    return s if s else None

def _apply_common_fixes(u: str) -> str:
    for pat, repl in COMMON_FIXES.items():
        u = re.sub(pat, repl, u, flags=re.IGNORECASE)
    return u

def _std_unit(s: Optional[str]) -> Optional[str]:
    u = _norm_ws(s)
    if not u:
        return None
    u = u.upper().replace("#", "").strip()
    if not u:
        return None
    u = re.sub(r"^(APARTMENT|APT\.?)\s*", "APT ", u)
    u = re.sub(r"^(SUITE|STE\.?)\s*", "STE ", u)
    u = re.sub(r"^(FLOOR|FL\.?)\s*", "FL ", u)
    if not re.match(r"^(APT|STE|FL)\b", u):  # bare "5B" â†’ "APT 5B"
        u = f"APT {u}"
    return u

def _std_street(u: Optional[str]) -> Optional[str]:
    u = _norm_ws(u)
    if not u:
        return None
    u = _apply_common_fixes(u.upper())

    repl = {
        " STREET": " ST",
        " AVENUE": " AVE",
        " ROAD": " RD",
        " BOULEVARD": " BLVD",
        " PLACE": " PL",
        " LANE": " LN",
        " DRIVE": " DR",
        " COURT": " CT",
        " PARKWAY": " PKWY",
        " TERRACE": " TER",
        " PLAZA": " PLZ",
    }
    for k, v in repl.items():
        u = re.sub(k + r"\b", v, u)

    # Normalize ordinals and add missing "TH/ST/ND/RD" on bare numbers like "E 48" or "West104"
    u = re.sub(r"\b(\d+)\s*(ST|ND|RD|TH)\b", lambda m: f"{int(m.group(1))}{m.group(2)}", u)
    u = re.sub(r"\b(WEST|W|EAST|E)\s*(\d{1,3})(?=\b)", r"\1 \2", u)  # ensure space
    def add_ordinal(m):
        n = int(m.group(2))
        suf = "TH"
        if n % 10 == 1 and n % 100 != 11: suf = "ST"
        elif n % 10 == 2 and n % 100 != 12: suf = "ND"
        elif n % 10 == 3 and n % 100 != 13: suf = "RD"
        return f"{m.group(1)} {n}{suf}"
    u = re.sub(r"\b(WEST|W|EAST|E)\s+(\d{1,3})\b(?!\s*(ST|AVE|RD|BLVD|PL|LN|DR|CT|PKWY|TER|PLZ))", add_ordinal, u)

    # Collapse multiple addresses to last one here (we also split earlier in the pipeline)
    if "/" in u:
        u = u.split("/")[-1].strip()

    # Queens: hyphenated house numbers like "41-07 42ND ST" are valid; leave them as-is
    # Best-guess add a street type if line is like "308 WEST 104TH" (no type) or "160 E 48TH"
    if re.search(r"\b(WEST|W|EAST|E|NORTH|N|SOUTH|S)\b", u) and re.search(r"\b\d{1,3}(ST|ND|RD|TH)\b", u) and not re.search(r"\b(ST|AVE|RD|BLVD|PL|LN|DR|CT|PKWY|TER|PLZ)\b", u):
        u = u + " ST"

    # Convert key phrases
    u = re.sub(r"\bFT\b", "FORT", u)

    return u.title()

def _borough_from_fields(borough, county, city) -> Optional[str]:
    vals = " ".join([str(x) for x in [borough, county, city] if pd.notna(x)]).upper()
    if any(x in vals for x in ["MANHATTAN", "NEW YORK", "NY COUNTY"]): return "MANHATTAN"
    if "BRONX" in vals: return "BRONX"
    if any(x in vals for x in ["BROOKLYN", "KINGS"]): return "BROOKLYN"
    if "QUEENS" in vals: return "QUEENS"
    if any(x in vals for x in ["STATEN", "RICHMOND"]): return "STATEN ISLAND"
    return None

def _usps_city_from_borough(city, borough_norm) -> Optional[str]:
    c = (_norm_ws(city) or "").upper()
    if borough_norm == "MANHATTAN": return "New York"
    if borough_norm == "BRONX": return "Bronx"
    if borough_norm == "BROOKLYN": return "Brooklyn"
    if borough_norm == "QUEENS":
        # USPS accepts neighborhoods, but "Queens" is safest default
        return "Queens" if c in ["", "QUEENS", "NAN"] else c.title()
    if borough_norm == "STATEN ISLAND": return "Staten Island"
    return c.title() if c else None

def _std_zip5(z):
    if z is None or (isinstance(z, float) and pd.isna(z)):
        return None
    s = re.sub(r"\D", "", str(z))
    return s[:5] if len(s) >= 5 else None

# ---------- NEW: address candidate generator ----------

SEP_PATTERN = re.compile(r"\s*(?:;|,|/|&{1,2}| and | AND |\bETAL\b|\bet al\b|\(|\)|\bAKA\b|\bA\/K\/A\b)\s*", flags=re.IGNORECASE)

def _is_pobox(s: str) -> bool:
    return bool(re.search(r"\bP\.?\s*O\.?\s*BOX\b", s, flags=re.IGNORECASE))

def _has_street_name(u: str) -> bool:
    # needs something besides just a house number or zeros
    return bool(re.search(r"\b[A-Z][A-Z]+\b", u)) and not re.fullmatch(r"\d+(-\d+)?", re.sub(r"[^0-9\-]", "", u or ""))

def _expand_number_ranges(u: str) -> List[str]:
    """
    '2078-84-90 Morris Ave' -> ['2078 Morris Ave','2084 Morris Ave','2090 Morris Ave']
    '1051-1057-1061-1065 Boston Rd' -> same expansion
    """
    m = re.search(r"\b(\d{1,6}(?:-\d{1,6})+)\s+([A-Z].+)$", u)
    if not m:
        return [u]
    block = m.group(1)
    tail = m.group(2)
    parts = [p for p in re.split(r"-", block) if p]
    base = parts[0]
    expanded = []
    for p in parts:
        if len(p) < len(base):  # "2078-84" -> fill high-order digits from base
            p = base[:len(base)-len(p)] + p
        expanded.append(f"{p} {tail}")
    return expanded

def _split_multi(s: str) -> List[str]:
    s = SEP_PATTERN.sub(" | ", s)  # unify to pipe, then split
    tokens = [t.strip(" .") for t in s.split("|") if _norm_ws(t)]
    # Remove address-like fragments that are obviously units/notes only
    return [t for t in tokens if t and not re.match(r"^(APT|STE|FL|B#\d+)\b", t, flags=re.IGNORECASE)]

def build_candidates(row) -> List[Tuple[str, dict, str]]:
    """
    Returns list of (query, components, reason_tag)
    """
    a1 = _std_street(row.get("address_line1_clean"))
    a2 = _std_unit(row.get("address_line2_clean"))
    borough = _borough_from_fields(row.get("borough_clean"), row.get("county"), row.get("city_clean"))
    city = _usps_city_from_borough(row.get("city_clean"), borough)
    zip5 = _std_zip5(row.get("zip"))
    state = STATE_ABBR

    raw = _norm_ws(row.get("geocode_key") or row.get("address_1") or "")
    raw = _apply_common_fixes(raw.upper()) if raw else ""
    raw_parts = _split_multi(raw) if raw else []

    # Build an address seed from clean fields
    seeds = []
    if a1:
        seeds.append(a1)
    seeds.extend(_expand_number_ranges(x) for x in raw_parts)
    seeds = [y for x in seeds for y in (x if isinstance(x, list) else [x])]
    seeds = [s for s in seeds if s] or ([raw.title()] if raw else [])

    candidates = []
    for s in seeds:
        s_norm = _std_street(s)
        if not s_norm:
            continue
        if _is_pobox(s_norm):
            candidates.append((None, {}, "POBOX"))
            continue
        if not _has_street_name(s_norm):
            candidates.append((None, {}, "MISSING_STREET"))
            continue

        line = s_norm
        parts = [line]
        # Append unit if it looks like an apartment (rarely helpful for geocode but OK)
        # if a2: parts.append(a2)

        locality = city or (borough.title() if borough else None)
        tail = ", ".join([p for p in [locality, state, zip5] if p])
        query = f"{' '.join(parts)}, {tail}" if tail else " ".join(parts)

        comps = {"administrative_area": state}
        if locality: comps["locality"] = locality

        candidates.append((query, comps, "OK"))
    # Deduplicate, keep order
    seen = set()
    out = []
    for q, c, r in candidates:
        key = (q or r, tuple(sorted(c.items())))
        if key not in seen:
            seen.add(key)
            out.append((q, c, r))
    return out

In [228]:
# Cleaned drafts
building_info["address_line1_clean"] = building_info["address_1"].apply(_std_street)
building_info["address_line2_clean"] = building_info["address_2"].apply(_std_unit)

building_info["borough_clean"] = [
    _borough_from_fields(b, c, ci)
    for b, c, ci in zip(building_info.get("borough"), building_info.get("county"), building_info.get("city"))
]
building_info["city_clean"] = [
    _usps_city_from_borough(ci, bn)
    for ci, bn in zip(building_info.get("city"), building_info["borough_clean"])
]
building_info["state_clean"] = STATE_ABBR
building_info["postal_code_5_clean"] = building_info.get("postal_code").apply(_std_zip5) if "postal_code" in building_info.columns else None

# Mark rows missing coords
building_info["needs_geocoding"] = building_info["latitude"].isna() | building_info["longitude"].isna()

# a stable address key to dedupe geocoding calls
def addr_key(r):
    parts = [
        _norm_ws(r["address_line1_clean"]) or "",
        _norm_ws(r["address_line2_clean"]) or "",
        _norm_ws(r["city_clean"]) or "",
        STATE_ABBR,
        _norm_ws(r["postal_code_5_clean"]) or "",
    ]
    return "|".join(parts).upper()

building_info["geocode_key"] = building_info.apply(addr_key, axis=1)

building_info.head(3)[[
    "property_id",'bbl',"address_1","address_2","city","borough","county",
    "address_line1_clean","address_line2_clean","city_clean","state_clean","postal_code_5_clean",
    "needs_geocoding","geocode_key"
]]

,property_id,bbl,address_1,address_2,city,borough,county,address_line1_clean,address_line2_clean,city_clean,state_clean,postal_code_5_clean,needs_geocoding,geocode_key
86767,2638790.0,4001610033,43-22,NaN,Sunnyside,NaN,NaN,43-22,None,Sunnyside,NY,None,True,43-22||SUNNYSIDE|NY|
86768,5841233.0,2024610111,1011 Carroll Place,NaN,Bronx,BRONX,NaN,1011 Carroll Pl,None,Bronx,NY,None,False,1011 CARROLL PL||BRONX|NY|
86769,2707907.0,3074560006,2626 Homecrest Avenue,NaN,Brooklyn,BROOKLYN,NaN,2626 Homecrest Ave,None,Brooklyn,NY,None,False,2626 HOMECREST AVE||BROOKLYN|NY|

In [230]:
print(building_info.shape)
building_info = building_info.dropna(subset=["address_1","address_2","city","postcode","county","borough",
                                             "latitude","longitude","address_line1_clean"],how='all')
print(building_info.shape)

(37998, 18)
(37998, 18)

In [244]:
### Geocode The Null lat long 
with_coord = building_info[building_info["needs_geocoding"]==False]
print(with_coord.shape)
without_coord = building_info[building_info["needs_geocoding"]==True]
print(without_coord.shape)

(35919, 18)
(2079, 18)

In [245]:
without_coord['city'][without_coord['city']=='Flushinig']='Flushing'
without_coord['borough_clean'][(without_coord['city'].isin(['Sunnyside', 'Astoria', 'Jackson Heights', 'Flushing', 'Rego Park',
                                                   'Forest Hills', 'Oakland Gardens', 'Bayside', 'Kew Gardens','flushing',
                                                   'Woodside', 'Flushinig', 'Larchmont', 'Ridgewood','Jamaica', 'Albertson'])
                                &(without_coord['borough_clean'].isnull()))]='QUEENS'
### Manual Fixes where possible 
without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
               (without_coord["address_1"]=="3115 brighton 6th"))]="BROOKLYN"
without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
               (without_coord["address_1"]=="144-35/39 Sanford Avenue"))]="QUEENS"
without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
               (without_coord["address_1"]=="183-11 Hillside Ave"))]="QUEENS"
without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
               (without_coord["address_1"]=="103-30/26 68th Ave"))]="QUEENS"
without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
               (without_coord["address_1"]=="71-11 -71-23 162ND STREET"))]="QUEENS"
without_coord = without_coord[~without_coord['borough_clean'].isnull()]
print(without_coord.shape)

(2058, 18)

C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord['city'][without_coord['city']=='Flushinig']='Flushing'
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord['city'][without_coord['city']=='Flushinig']='Flushing'
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord['city'][without_coord['city']=='Flushinig']='Flushing'
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord['borough_clean'][(without_coord['city'].isin(['Sunnyside', 'Astoria', 'Jackson Heights', 'Flushing', 'Rego Park',
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord['borough_clean'][(without_coord['city'].isin(['Sunnyside', 'Astoria', 'Jackson Heights', 'Flushing', 'Rego Park',
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord['borough_clean'][(without_coord['city'].isin(['Sunnyside', 'Astoria', 'Jackson Heights', 'Flushing', 'Rego Park',
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:7: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:13: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:15: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_62516\277626894.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&

### Start of Geocoding

In [249]:
# ---- GEOCODING LOOP (with retries/candidates/NYC bias) ----
results, failed = [], []

def geocode_row(row):
    cands = build_candidates(row)
    # Always add *raw borough + state* fallback for named complexes (e.g., NYCHA) to try to at least anchor
    borough = _borough_from_fields(row.get("borough_clean"), row.get("county"), row.get("city_clean"))
    if borough:
        cands.append((f"{borough.title()}, NY", {"administrative_area": "NY", "locality": borough.title()}, "BOROUGH_ONLY"))

    for query, comps, tag in cands:
        if not query:
            continue
        try:
            resp = gmaps.geocode(
                query,
                region="us",
                components=comps,
                bounds=NYC_BOUNDS
            )
        except Exception as e:
            print("Geocode error:", e)
            resp = []

        if resp:
            # prefer rooftop or range_interpolated results
            best = sorted(resp, key=lambda r: {"ROOFTOP":0, "RANGE_INTERPOLATED":1}.get(r.get("geometry",{}).get("location_type",""), 2))[0]
            loc = best["geometry"]["location"]
            return loc["lat"], loc["lng"], tag, best.get("formatted_address"), best.get("place_id")

    return None, None, "NO_HIT", None, None

# assumes without_coord is a DataFrame with the relevant columns
for i, r in without_coord[["property_id",'bbl',"geocode_key","address_line1_clean","address_line2_clean","borough_clean","city_clean","county"]].drop_duplicates().iterrows():
    # keep your i >= guard if needed
    temp_df = pd.DataFrame([r])
    lat, lng, tag, faddr, pid = geocode_row(r)

    if lat is not None and lng is not None:
        temp_df["latitude"]  = lat
        temp_df["longitude"] = lng
        temp_df["geocode_tag"] = tag
        temp_df["formatted_address"] = faddr
        temp_df["place_id"] = pid
        results.append(temp_df)
    else:
        temp_df["geocode_tag"] = tag  # e.g., POBOX, MISSING_STREET, NO_HIT
        failed.append(temp_df)

In [252]:
print(len(results))
print(len(failed)) ## Zero failures

2055
0

In [254]:
results_df = pd.concat(results)

In [265]:
### Property ID Present Without_coord (Checking)
print(without_coord.shape)
without_coord_geo = without_coord.dropna(how='all',axis=1).merge(results_df, 
                                                                 on=["property_id",'bbl',"geocode_key","address_line1_clean","address_line2_clean","borough_clean","city_clean","county"],
                                                                 how='left')

without_coord_geo[without_coord_geo['latitude'].isnull()]

(2058, 18)

Empty DataFrame
Columns: [property_id, bbl, address_1, address_2, city, postcode, county, borough, address_line1_clean, address_line2_clean, borough_clean, city_clean, state_clean, needs_geocoding, geocode_key, latitude, longitude, geocode_tag, formatted_address, place_id]
Index: []

In [270]:
building_info_geocoded= pd.concat([with_coord,without_coord_geo])

In [273]:
### Limit the resutlsd based on Building-specific Lat Long, not borough centroids.
building_info_geocoded = building_info_geocoded[building_info_geocoded['geocode_tag'].isnull()]
### NEEED TO ADD THE BBL BY ADDRESS.(Where needed)
print(building_info_geocoded.shape)

(35919, 21)

In [280]:
need_bbl = building_info_geocoded[((building_info_geocoded['bbl'].isnull())
                                   |(building_info_geocoded['bbl'].astype(str).str.contains(";")))]
print(need_bbl.shape)
has_bbl = building_info_geocoded[((~building_info_geocoded['bbl'].isnull())
                                  &(~building_info_geocoded['bbl'].astype(str).str.contains(";")))]
print(has_bbl.shape)

(123, 21)
(35796, 21)

['2024610111',
 '3074560006',
 '1010710042',
 '4012750045',
 '4012720012',
 '4058630002',
 '4058650040',
 '4058630200',
 '1008060026',
 '1005640031',
 '1018510005',
 '1012440072',
 '3063440033',
 '1018680001',
 '2025160058',
 '4014337501',
 '2042840020',
 '4058650030',
 '4058570110',
 '4012680033',
 '4014200001',
 '1008480061',
 '1008867502',
 '3086880035',
 '1012720001',
 '1014460023',
 '3078190046',
 '3075590011',
 '3050650030',
 '4066980040',
 '1010080026',
 '1011860025',
 '1021720060',
 '1008030007',
 '4014890018',
 '1018420029',
 '4012630015',
 '1008830044',
 '1014600047',
 '1008020022',
 '1019940038',
 '1010897501',
 '2025050064',
 '2028780120',
 '3012970006',
 '3067300001',
 '2043190015',
 '4053740023',
 '2026770070',
 '3051240040',
 '2059040267',
 '3067140041',
 '3067220001',
 '2045500012',
 '3011890024',
 '2033140041',
 '1014100033',
 '2032490006',
 '2032490046',
 '1004270002',
 '1016210014',
 '1003450048',
 '3014220064',
 '1010800010',
 '3056640035',
 '4067110027',
 '1019530012',
 '1011280001',
 '2028410025',
 '2028430079',
 '2028440021',
 '2028440038',
 '2028450007',
 '2028450017',
 '2028470063',
 '2028460061',
 '2028380004',
 '2028450020',
 '1018480042',
 '2032630085',
 '1013970069',
 '1018710001',
 '1018710061',
 '2055190091',
 '2039447501',
 '3086880041',
 '3050970060',
 '3016990027',
 '1007187501',
 '2043407502',
 '2029870025',
 '2031790052',
 '2030700030',
 '2030980001',
 '2032090009',
 '2032910024',
 '2032910016',
 '2032910008',
 '2031870047',
 '2040480014',
 '2031820019',
 '1017300045',
 '1017300036',
 '1017300025',
 '1017300064',
 '1017300075',
 '1017300009',
 '1015320004',
 '1008320001',
 '1013320029',
 '2057220475',
 '2028920011',
 '2024780030',
 '2024560175',
 '1020530014',
 '2028540056',
 '2028280030',
 '2030220010',
 '2032900042',
 '2028050001',
 '4014320034',
 '233100081',
 '1022250010',
 '121740145',
 '232000016',
 '2033100081',
 '1021740145',
 '2032000016',
 '1007850029',
 '3051540047',
 '4013330086',
 '4015050037',
 '4015660001',
 '2057990073',
 '4050200017',
 '3086880084',
 '4009057501',
 '2024650038',
 '1008807501',
 '1007967504',
 '1006907501',
 '2032120088',
 '2043190025',
 '2043170019',
 '2043180030',
 '2043190050',
 '2045430021',
 '2033240130',
 '1018880067',
 '4017797501',
 '4012560035',
 '1011450061',
 '1002777501',
 '3059060018',
 '3053227501',
 '3053390061',
 '3010980001',
 '3053390001',
 '3052587501',
 '3067090001',
 '3076560042',
 '1011977501',
 '3071810001',
 '3074410231',
 '3068350012',
 '4000317501',
 '3061110001',
 '2042520025',
 '2032130018',
 '2041770007',
 '2041940025',
 '2028790053',
 '2033630001',
 '1011840031',
 '4033550144',
 '4033220135',
 '4003420018',
 '4015810014',
 '3066100055',
 '1004120053',
 '4019460001',
 '1005720038',
 '1013620012',
 '1011210017',
 '1008940032',
 '1011440056',
 '1012160140',
 '3002310019',
 '3001797503',
 '1009350005',
 '3013220032',
 '3011890001',
 '3013210021',
 '3051240001',
 '1005570017',
 '1012410061',
 '1021390181',
 '1012320055',
 '1006350026',
 '1018920016',
 '1019930015',
 '3051230025',
 '3051630041',
 '3067310039',
 '3066220001',
 '3073440020',
 '2024650034',
 '3072990071',
 '3068260077',
 '3066630023',
 '3067380024',
 '3073800071',
 '1021750128',
 '1021360190',
 '3068250027',
 '2025280011',
 '2023710017',
 '3017107501',
 '3007600036',
 '3065680015',
 '2042220093',
 '1020260029',
 '1018230018',
 '1020460007',
 '1020460063',
 '1007010062',
 '2033280102',
 '3013730025',
 '3067390030',
 '3067540052',
 '3065010013',
 '3054170007',
 '3001807501',
 '3054687501',
 '2024870042',
 '4096930001',
 '2039330070',
 '2040870033',
 '1021420001',
 '1020570039',
 '1021420089',
 '1021420058',
 '1021070072',
 '1018700056',
 '2038660049',
 '2032710132',
 '1022480092',
 '1018200061',
 '2030440040',
 '2025100074',
 '1007927504',
 '1014197501',
 '2054090041',
 '3011920077',
 '3087137501',
 '3011920085',
 '3012950010',
 '3053570005',
 '3053570030',
 '3064470001',
 '3064970044',
 '3065680033',
 '3086830080',
 '3086907501',
 '4162260062',
 '3052130024',
 '3067830010',
 '3050450059',
 '3050840015',
 '3087237501',
 '3072427501',
 '3014030055',
 '3067480040',
 '2033140051',
 '2038010001',
 '2028290001',
 '1021630044',
 '3072697501',
 '2025280019',
 '2028400022',
 '1020300010',
 '2022840062',
 '2033240013',
 '2043250001',
 '2033180023',
 '2033560126',
 '2028790080',
 '2042890020',
 '2042870001',
 '2042890035',
 '2042890050',
 '2042890015',
 '2057807501',
 '2057950518',
 '2058640526',
 '2032810001',
 '1022217501',
 '2057850284',
 '1018807501',
 '2037400005',
 '2024530030',
 '2028000013',
 '2033150098',
 '2024520054',
 '2025320015',
 '2031560027',
 '2024530035',
 '2024310001',
 '2024530041',
 '2028090005',
 '2028790253',
 '2031590001',
 '2024890054',
 '2033150094',
 '2033450011',
 '2028080062',
 '2033160033',
 '2033330001',
 '2025320026',
 '2032850001',
 '2048350018',
 '2039260024',
 '2039260031',
 '2032880035',
 '3050590022',
 '3050260028',
 '3050580016',
 '3050260350',
 '3050620014',
 '3050620001',
 '3050990123',
 '3050580044',
 '2024560001',
 '2037410022',
 '4000170029',
 '3070490051',
 '1010630035',
 '1015580050',
 '1015390010',
 '3020060001',
 '1003430043',
 '2028100037',
 '1017350012',
 '3061000028',
 '1012130009',
 '1016220037',
 '4051347501',
 '4030760022',
 '4096930011',
 '4032530062',
 '4031730046',
 '4022340006',
 '4022510027',
 '4059380007',
 '4064940003',
 '4059380003',
 '4058780003',
 '4058780050',
 '4005717501',
 '2044250001',
 '2057770772',
 '4114177502',
 '4045730001',
 '4058937502',
 '4058720002',
 '2057130107',
 '2032510420',
 '4012770050',
 '4001580038',
 '4051370012',
 '2042470057',
 '2057780879',
 '4051370005',
 '2042910001',
 '4051370084',
 '4051370093',
 '1021700520',
 '4098270018',
 '4001780025',
 '4064820003',
 '4096930029',
 '4062270088',
 '3036330001',
 '4045740061',
 '4021530001',
 '3010620011',
 '4013340022',
 '4022250019',
 '4039070960',
 '3069620011',
 '4114660001',
 '1021700140',
 '4019480001',
 '4051370102',
 '4001250028',
 '1007977501',
 '4045740041',
 '4071170401',
 '4019320009',
 '4045740071',
 '4014390001',
 '3019330001',
 '1003330001',
 '3002540062',
 '4076320002',
 '4064930003',
 '4064820100',
 '3074470028',
 '1021340206',
 '2032580073',
 '4067150002',
 '3002717501',
 '2046410016',
 '4071170051',
 '1021700129',
 '4114340100',
 '4092460305',
 '3019330100',
 '1016007501',
 '3058590015',
 '3072680001',
 '1015780001',
 '2046590031',
 '4097140018',
 '4015187502',
 '4059380005',
 '4076290002',
 '4076280002',
 '4005797502',
 '3030580001',
 '3030600075',
 '3030780001',
 '3087210360',
 '3087210375',
 '4050230035',
 '3030770001',
 '2036630002',
 '1019037501',
 '1020080006',
 '2028360005',
 '2028650103',
 '2028770250',
 '2028440058',
 '2028440075',
 '2028440083',
 '2028760219',
 '2032090060',
 '2033430042',
 '2028760106',
 '2024350035',
 '1008640041',
 '1012297501',
 '1015690010',
 '1021770175',
 '1021770170',
 '1007937506',
 '1022460130',
 '4050490019',
 '4050280007',
 '3068250037',
 '4098190003',
 '4097620028',
 '4024740021',
 '4098270008',
 '4097550001',
 '3011640064',
 '2024840015',
 '1020860011',
 '1020860029',
 '1021370052',
 '4001370004',
 '2036590001',
 '2032600005',
 '1018290029',
 '1007990035',
 '4001610020',
 '2057590364',
 '2058731042',
 '1019320033',
 '2030890037',
 '2030890026',
 '2032970011',
 '5028330031',
 '5006107501',
 '5000080046',
 '5002517501',
 '2031070036',
 '2025780006',
 '2025570056',
 '2043190001',
 '2043170085',
 '2043170092',
 '2043170046',
 '2032820007',
 '2025040075',
 '2058141195',
 '2031560039',
 '2032950070',
 '2032960050',
 '2032840057',
 '3066940050',
 '3049660009',
 '3012880045',
 '3013320030',
 '3050840001',
 '3012280007',
 '4008940030',
 '4008960053',
 '1018640009',
 '1008767503',
 '2044270007',
 '4021860002',
 '4098370080',
 '1021740211',
 '1018480036',
 '1021360180',
 '2038140001',
 '1002470001',
 '2027620181',
 '2027070026',
 '2027070022',
 '2057250776',
 '4096770167',
 '3019590027',
 '3017080001',
 '2030970016',
 '3086890097',
 '1021080016',
 '1019257501',
 '1017457502',
 '1019457503',
 '1019467502',
 '1007757502',
 '2033240070',
 '2025060138',
 '2031900050',
 '1020990063',
 '3069630003',
 '2036720001',
 '2036490001',
 '2036500001',
 '3070580013',
 '2024060021',
 '1002480070',
 '3017850020',
 '2031330001',
 '4012160017',
 '3061110057',
 '4031610001',
 '1012520005',
 '1012050029',
 '4050227502',
 '1018390029',
 '1000950027',
 '2043200022',
 '4006280021',
 '1020467501',
 '2032190232',
 '2032340006',
 '2032480057',
 '4015260016',
 '4015470001',
 '4033340250',
 '4031540001',
 '4008720068',
 '4018557501',
 '4031660107',
 '4051377502',
 '4015510026',
 '4015170059',
 '4049777501',
 '1007960048',
 '3013620050',
 '2028670094',
 '2033180098',
 '1020910038',
 '1020620054',
 '3011890007',
 '4052947501',
 '4001607501',
 '4031560114',
 '4049990033',
 '1009160001',
 '3067210058',
 '1008570018',
 '3011890064',
 '1022430332',
 '4098430019',
 '4033220123',
 '4105240001',
 '4005047501',
 '2033190103',
 '2033270067',
 '2024350045',
 '2030850045',
 '2031140008',
 '2031140009',
 '3072380042',
 '3073550042',
 '3066200001',
 '3086890055',
 '3074650052',
 '3087110015',
 '3088040042',
 '3087260001',
 '3050050026',
 '3050260257',
 '3050840042',
 '3013220046',
 '3014290017',
 '3014150045',
 '3050260065',
 '3050260070',
 '3050340006',
 '3013230017',
 '3013750069',
 '3048530086',
 '3048530082',
 '3050260235',
 '3052080025',
 '1021370091',
 '1021740175',
 '1021370040',
 '3017547502',
 '3013800054',
 '2030260005',
 '2028780156',
 '2022900110',
 '2028780190',
 '2026230060',
 '2028690001',
 '4065870006',
 '4066090007',
 '4066070001',
 '4043430010',
 '4021620122',
 '3024300002',
 '2037410005',
 '3014120001',
 '1020100042',
 '3018110019',
 '2032760005',
 '3052060017',
 '3015320030',
 '3013720001',
 '3051250006',
 '3052070004',
 '3053470045',
 '1020910048',
 '4015670040',
 '4014690050',
 '2033450019',
 '2033300073',
 '3066120042',
 '4058570050',
 '3059880001',
 '2057040050',
 '1008870014',
 '4129440036',
 '4129450002',
 '4014610006',
 '5006317501',
 '4102620006',
 '4014470001',
 '1006187501',
 '4014460001',
 '1012510063',
 '4030780085',
 '4092650006',
 '1012480011',
 '2043100008',
 '3001220013',
 '3001220005',
 '1007600068',
 '1007970007',
 '1000420001',
 '1000257501',
 '1014840026',
 '1014210021',
 '1015840001',
 '1014550013',
 '1004450014',
 '1015180033',
 '1015310035',
 '1015300034',
 '1015300019',
 '1014530021',
 '1015320016',
 '1010450012',
 '1008430003',
 '2029400001',
 '2029400006',
 '2029400072',
 '1011220040',
 '2028120017',
 '1018280034',
 '1010570141',
 '1011830053',
 '1021670024',
 '1021370046',
 '1021420161',
 '1021420130',
 '1015190069',
 '1008790001',
 '4021320054',
 '2059040086',
 '4021270018',
 '4033380030',
 '4021330036',
 '4051210017',
 '4051220022',
 '2032370067',
 '4051810028',
 '4001610026',
 '1020980036',
 '1011200051',
 '4006260001',
 '2058030960',
 '1020010060',
 '2041620002',
 '3050830086',
 '3051000056',
 '3050830071',
 '3050850075',
 '2057690132',
 '2025310001',
 '1018270053',
 '1017100012',
 '3002260001',
 '1013670031',
 '1013670035',
 '1014370029',
 '4084900002',
 '4085170002',
 '4084460001',
 '4085350002',
 '4085150002',
 '4084420001',
 '4085110002',
 '4084500001',
 '4084470001',
 '4084400001',
 '1011190047',
 '2033130069',
 '1021790226',
 '1021740020',
 '1021740008',
 '1010760043',
 '1002830024',
 '4013140003',
 '4012300045',
 '4013340071',
 '2029470009',
 '2028500023',
 '3051500006',
 '3051500013',
 '4030870002',
 '2028720326',
 '2031610010',
 '4157620008',
 '2032870109',
 '1021700287',
 '2033560122',
 '2057950537',
 '4050120012',
 '4022460011',
 '3075560053',
 '4001880021',
 '4030780103',
 '1015700021',
 '2025770038',
 '3002350020',
 '1021390578',
 '1021390537',
 '1012100055',
 '1021800480',
 '4051450068',
 '1017960020',
 '1017950035',
 '1015770008',
 '2027610083',
 '2031960029',
 '1011430030',
 '1011450012',
 '1009960014',
 '1016217502',
 '1015810045',
 '4030790086',
 '4000347501',
 '2057370061',
 '2057237501',
 '2057430203',
 '2057450012',
 '2057260673',
 '2057870130',
 '2029600028',
 '1018590039',
 '3070460001',
 '3023327501',
 '3023247501',
 '2028690087',
 '4021440020',
 '1022430090',
 '4014530010',
 '4028640021',
 '4024767501',
 '4051810001',
 '2042930023',
 '2033090010',
 '2033540047',
 '3065080006',
 '1021800187',
 '2041300033',
 '3073690027',
 '3073700021',
 '3072380115',
 '2043190030',
 '3087710135',
 '4018370104',
 '2028780005',
 '3060990013',
 '3020680001',
 '4051370067',
 '3074407501',
 '4050247501',
 '3052790019',
 '2031290010',
 '2033290010',
 '2033290020',
 '2031290021',
 '2028210068',
 '2028260062',
 '2024350025',
 '4159450001',
 '4156240001',
 '1014440036',
 '3073920001',
 '4047720001',
 '3052470016',
 '1022480001',
 '3054951018',
 '1021700131',
 '3058810038',
 '3053200001',
 '4162310044',
 '3068010001',
 '3052180001',
 '2026860001',
 '3058720007',
 '1014720014',
 '3061150006',
 '3061150001',
 '3061290012',
 '3010650037',
 '1014990025',
 '3000517501',
 '3059250053',
 '1002127503',
 '3061260041',
 '3058890003',
 '1013020033',
 '2024730048',
 '2024820040',
 '2032920001',
 '2024730055',
 '3058730084',
 '3060580012',
 '1012067501',
 '1005017501',
 '1007440001',
 '1007697506',
 '1008427501',
 '1008517504',
 '1011840087',
 '1012097502',
 '1012330029',
 '1012397502',
 '1012520057',
 '1014710045',
 '1015180049',
 '1015500007',
 '1018427501',
 '1018720043',
 '1018817502',
 '1021770087',
 '1021800326',
 '1012237504',
 '1012350002',
 '1018950038',
 '3051500021',
 '2057870177',
 '2057730290',
 '2043190045',
 '2039820016',
 '2039800007',
 '2045500027',
 '2042860004',
 '4015640004',
 '4015250018',
 '4019130001',
 '1021380155',
 '1021380147',
 '1021370152',
 '1021380175',
 '1006107501',
 '1011970113',
 '1018780052',
 '1021700066',
 '1015860005',
 '1015860013',
 '1008580008',
 '1017370025',
 '1017370015',
 '1017370001',
 '1017370069',
 '1015860035',
 '1021360086',
 '1005450011',
 '2039980010',
 '4012707501',
 '4030960118',
 '4030830069',
 '1017560039',
 '1007990003',
 '1021800522',
 '1007930067',
 '3073210001',
 '2056400018',
 '1021080003',
 '1022210022',
 '1009117502',
 '3052480022',
 '4021510127',
 '4020930133',
 '1010070054',
 '4088920050',
 '1015940007',
 '3014240049',
 '1017170069',
 '1018697501',
 '1013277501',
 '3069350001',
 '1007667502',
 '1019930023',
 '1009300012',
 '1021080033',
 '1011850025',
 '3065110001',
 '1018930001',
 '3002457501',
 '2028780178',
 '2027130002',
 '2028780170',
 '2027240005',
 '2027120023',
 '2030610026',
 '1019250036',
 '1005690001',
 '1021390170',
 '1008167503',
 '2025270061',
 '2025290063',
 '2028220019',
 '2028790170',
 '2032530054',
 '2032530051',
 '2027840010',
 '2025060121',
 '4012980079',
 '2024070023',
 '1017670005',
 '2029170017',
 '2032870043',
 '2028770233',
 '1018880043',
 '2028760194',
 '2028780090',
 '1013630043',
 '3013270072',
 '3076740039',
 '3058410001',
 '3052330015',
 '3067480045',
 '2033180052',
 '4021360033',
 '4009467501',
 '4009477501',
 '4009497501',
 '4009487501',
 '4009737501',
 '4010087501',
 '4009747501',
 '4010077501',
 '4009727501',
 '1002227501',
 '1018910001',
 '1018320036',
 '1011670001',
 '1011850019',
 '1018960001',
 ...]

### Enriching the Geocoded Building Information with BBLs using another API

In [281]:
df = need_bbl.copy()
rows = []

with requests.Session() as s:
    for i, r in df.iterrows():
        addr = str(r.get("address_line1_clean", "")).strip()
        boro = str(r.get("borough_clean", "")).strip()
        if not addr:
            rows.append((i, None, None, None, None, None)); continue

        q = f"{addr}, {boro}, NY" if boro else f"{addr}, NY"
        try:
            resp = s.get("https://geosearch.planninglabs.nyc/v2/search",
                         params={"text": q, "size": 5}, timeout=20)
            feats = resp.json().get("features", [])
            # pick the best feature: prefer layer=='address' and same borough; else highest confidence
            best, best_score = None, (-1, -1.0)
            for f in feats:
                p = f.get("properties", {})
                layer = p.get("layer")
                conf  = float(p.get("confidence", 0) or 0)
                fb    = (p.get("borough") or ((p.get("addendum") or {}).get("pad") or {}).get("boroughName") or "")
                score = (2 if layer == "address" else 0) + (1 if boro and boro.upper() in str(fb).upper() else 0)
                if (score, conf) > best_score:
                    best, best_score = f, (score, conf)

            if best:
                props = best.get("properties", {})
                add   = (props.get("addendum") or {}).get("pad") or {}
                bbl   = add.get("bbl") or props.get("bbl")
                bin_  = add.get("bin") or props.get("bin")

                # normalize BBL to a 10-digit string
                if isinstance(bbl, str):
                    digits = re.sub(r"\D", "", bbl)
                    bbl = digits.zfill(10) if digits else None
                elif bbl is not None:
                    try: bbl = str(int(bbl)).zfill(10)
                    except: bbl = None

                rows.append((i, bbl, bin_, props.get("confidence"), props.get("label") or props.get("name"), q))
            else:
                rows.append((i, None, None, None, None, q))

        except Exception as e:
            rows.append((i, None, None, None, f"ERR:{type(e).__name__}", q))

        time.sleep(0.1)  # tiny throttle to be polite

# assemble + join back
out = pd.DataFrame(rows, columns=["__idx","BBL_from_api","BIN_from_api","confidence","match_label","query"]).set_index("__idx")

In [292]:
## Putting all tegehter and cleaning 
need_bbl_enr = need_bbl.join(out)
building_info_geocoded= pd.concat([need_bbl_enr, has_bbl])

In [299]:
## Cleaning up some
building_info_geocoded['bbl'] = building_info_geocoded['BBL_from_api'].combine_first(building_info_geocoded['bbl'])
building_info_geocoded = building_info_geocoded.drop(columns=["BBL_from_api","BIN_from_api","confidence"])
building_info_geocoded = building_info_geocoded.dropna(how='all',axis=1)

### Pulling in Pluto Data for Num Floors and Height etc`

In [339]:
# SOURCE # https://www.nyc.gov/content/planning/pages/resources/datasets/mappluto-pluto-change#mappluto
# ===================== CONFIG =====================
SRC   = r"C:/Users/johnf/Downloads/nyc_mappluto_25v3_fgdb/MapPLUTO25v3.gdb"
LAYER = "MapPLUTO_25v3_clipped"

# PLUTO columns you need (no geometry necessary)
PLUTO_COLS = ["BBL","LandUse","NumFloors","UnitsRes","BldgClass","Block","Borough","BoroCode"]

# How many distinct BLOCKS per chunk (per borough)
BLOCKS_PER_CHUNK = 2000  # tune: 1000â€“4000 are typical sweet spots

# ===================== HELPERS =====================
def norm_bbl_series(s: pd.Series) -> pd.Series:
    """Normalize to 10-digit BBL strings; handle '1234567890.0' correctly."""
    # Convert to string & trim
    s = s.astype(str).str.strip()

    # If it looks like 'digits.0' or 'digits.00', drop the decimal part
    s = s.str.replace(r"\.0+$", "", regex=True)

    # Remove any remaining non-digits, then pad to 10
    s = s.str.replace(r"\D", "", regex=True).str.zfill(10)

    # Turn "0000000000" into NA
    return s.mask(s.eq("0000000000"))

def boro_code_from_bbl_str(bbl: str) -> int:
    """First digit of BBL is borough code 1..5."""
    return int(bbl[0]) if isinstance(bbl, str) and bbl and bbl[0].isdigit() else None

def block_from_bbl_str(bbl: str) -> int:
    """Digits 2..6 (5 digits) are block."""
    try:
        return int(bbl[1:6])
    except Exception:
        return None

def pull_where(where: str, cols: list[str]) -> pd.DataFrame:
    """Run filtered attribute read; returns pandas.DataFrame (no geometry)."""
    return pyogrio.read_dataframe(
        SRC, layer=LAYER,
        columns=[c for c in cols if c != "geometry"],
        read_geometry=False,
        where=where,
    )

In [340]:
# ===================== 1) LL84 BBL PREP =====================
ll84 = building_info_geocoded.copy()
ll84["bbl"] = norm_bbl_series(ll84["bbl"])
ll84 = ll84[ll84["bbl"].notna()].copy()

bbls = ll84["bbl"].unique().tolist()
print(f"[prep] Unique LL84 BBLs: {len(bbls):,}")

# ===================== 2) PULL PLUTO BY BBL IN(...) BATCHES =====================
parts = []
t0 = time.time()

BATCH = 800   # tune if needed
total_chunks = math.ceil(len(bbls) / BATCH)
print(f"[plan] {total_chunks} PLUTO chunks via BBL IN(...) batches")

for ci in range(total_chunks):
    chunk = bbls[ci*BATCH:(ci+1)*BATCH]

    # We already know "BBL = '...'" works, so quote as text
    in_list = ",".join(f"'{bb}'" for bb in chunk)
    where = f"BBL IN ({in_list})"

    part = pull_where(where, PLUTO_COLS)
    print(
        f"[pull] chunk {ci+1}/{total_chunks} | requested {len(chunk):,} BBLs "
        f"| pulled {len(part):,}"
    )

    if not part.empty:
        part["BBL"] = norm_bbl_series(part["BBL"])
        parts.append(part)

elapsed = time.time() - t0
pluto_by_bbl = (
    pd.concat(parts, ignore_index=True) if parts
    else pd.DataFrame(columns=PLUTO_COLS)
)

print(f"[done] Kept PLUTO rows: {len(pluto_by_bbl):,} in {elapsed:,.1f}s")

# ===================== 3) MERGE BACK TO LL84 + FILTER UNDER 5 STORIES =====================
ll84_enriched = ll84.merge(
    pluto_by_bbl.drop_duplicates("BBL"),
    left_on="bbl",
    right_on="BBL",
    how="left"
)

ll84_enriched["stories"] = ll84_enriched["NumFloors"]

res_codes = {"01", "02", "03", "04"}
is_res = (
    ll84_enriched["LandUse"].astype(str).isin(res_codes)
    | (ll84_enriched["UnitsRes"].fillna(0) > 0)
    | ll84_enriched.get(
        "BldgClass",
        pd.Series(index=ll84_enriched.index, dtype="object")
      ).fillna("").str.startswith(("A", "B"))
)

under5 = ll84_enriched[
    is_res
    & ll84_enriched["stories"].notna()
    & (ll84_enriched["stories"] < 5)
].copy()

print(
    f"[summary] LL84 rows: {len(ll84_enriched):,} | "
    f"Residential <5 stories: {len(under5):,}"
)

[prep] Unique LL84 BBLs: 12,028
[plan] 16 PLUTO chunks via BBL IN(...) batches
[pull] chunk 1/16 | requested 800 BBLs | pulled 793
[pull] chunk 2/16 | requested 800 BBLs | pulled 791
[pull] chunk 3/16 | requested 800 BBLs | pulled 796
[pull] chunk 4/16 | requested 800 BBLs | pulled 800
[pull] chunk 5/16 | requested 800 BBLs | pulled 798
[pull] chunk 6/16 | requested 800 BBLs | pulled 798
[pull] chunk 7/16 | requested 800 BBLs | pulled 795
[pull] chunk 8/16 | requested 800 BBLs | pulled 777
[pull] chunk 9/16 | requested 800 BBLs | pulled 791
[pull] chunk 10/16 | requested 800 BBLs | pulled 782
[pull] chunk 11/16 | requested 800 BBLs | pulled 761
[pull] chunk 12/16 | requested 800 BBLs | pulled 715
[pull] chunk 13/16 | requested 800 BBLs | pulled 687
[pull] chunk 14/16 | requested 800 BBLs | pulled 686
[pull] chunk 15/16 | requested 800 BBLs | pulled 749
[pull] chunk 16/16 | requested 28 BBLs | pulled 28
[done] Kept PLUTO rows: 11,547 in 349.7s
[summary] LL84 rows: 35,918 | Residential <5 stories: 3,019

### Spatial joining with CT to pull ct into the buildings data.

In [59]:
CT2010_URL = "https://data.cityofnewyork.us/resource/bmjq-373p.geojson?$limit=50000"
resp = requests.get(CT2010_URL, timeout=60)
resp.raise_for_status()

ct2010 = gpd.read_file(io.BytesIO(resp.content)).to_crs(2263)
ct2010.head()

,ntacode,shape_area,ntaname,shape_leng,boroname,puma,boroct2010,ct2010,borocode,cdeligibil,ctlabel,geometry
0,SI22,2497009.71359,West New Brighton-New Brighton-St. George,7729.01679383,Staten Island,3903,5000900,000900,5,E,9,"MULTIPOLYGON (((962269.126 173705.5, 962288.72..."
1,MN17,1860992.68163,Midtown-Midtown South,5687.80243891,Manhattan,3807,1010200,010200,1,I,102,"MULTIPOLYGON (((992216.539 216507.687, 992091...."
2,MN17,1864600.43538,Midtown-Midtown South,5693.03636707,Manhattan,3807,1010400,010400,1,I,104,"MULTIPOLYGON (((991325.882 217001.689, 991199...."
3,MN17,1890907.25105,Midtown-Midtown South,5699.86064037,Manhattan,3807,1011300,011300,1,I,113,"MULTIPOLYGON (((988650.277 214286.402, 988517...."
4,MN40,1918144.56374,Upper East Side-Carnegie Hill,5807.97295649,Manhattan,3805,1013000,013000,1,I,130,"MULTIPOLYGON (((994920.11 221386.27, 994791.85..."

### Adding CT to buildigns

In [60]:
# --- 1) Points from your geocoded table ---
# assumes working_residential_geo has columns: property_id, latitude, longitude
pts = gpd.GeoDataFrame(
    ll84_enriched[["property_id", "latitude", "longitude"]].copy(),
    geometry=gpd.points_from_xy(
        ll84_enriched["longitude"], ll84_enriched["latitude"]
    ),
    crs=4326  # your geocodes are WGS84
)

# project points to match the CT layer (your CT layer is already to_crs(2263))
pts_2263 = pts.to_crs(2263)

# --- 2) Keep only what you need from the CT layer ---
# 'ct2010' and/or 'boroct2010' are the usual tract IDs in that NYC layer
ct_keep = ct2010[["ct2010", "boroct2010", "boroname", "geometry"]].copy()

# --- 3) Spatial join: which tract polygon contains each point ---
joined = gpd.sjoin(
    pts_2263,
    ct_keep,
    how="left",
    predicate="within"   # points that fall inside a tract polygon
)

# If a property_id appears multiple times (duplicates), keep the first tract hit
joined = joined.sort_index().drop_duplicates(subset=["property_id"])

# --- 4) Bring tract columns back to your original dataframe ---
cols_to_add = ["ct2010", "boroct2010", "boroname"]
ll84_enriched_ct = ll84_enriched.merge(
    joined[["property_id"] + cols_to_add],
    on="property_id",
    how="left"
)

#### Pulling in the Building Footprionts of the buildings in the LL84 Data

In [76]:
limit = 50000
offset = 0
chunks = []

while True:
    url = f"https://data.cityofnewyork.us/resource/5zhs-2jue.geojson?$limit={limit}&$offset={offset}&$order=:id"
    r = requests.get(url, timeout=120); r.raise_for_status()
    g = gpd.read_file(io.BytesIO(r.content))
    if g.empty:
        break
    if g.crs is None:
        g = g.set_crs(4326)
    chunks.append(g)
    offset += limit
    # optional progress
    print(f"Fetched {len(g)} rows (total {sum(len(c) for c in chunks)})")
    if len(g) < limit:
        break
    time.sleep(0.2)  

building_ft_prnt = gpd.GeoDataFrame(pd.concat(chunks, ignore_index=True), crs=4326)

# De-dup by Socrata row id if present
if ':id' in building_ft_prnt.columns:
    building_ft_prnt = building_ft_prnt.drop_duplicates(subset=':id')

# Project to StatePlane feet for spatial ops
building_ft_prnt_2263 = building_ft_prnt.to_crs(2263)

print(building_ft_prnt_2263.shape, building_ft_prnt_2263.crs)
building_ft_prnt_2263.head()

Fetched 50000 rows (total 50000)
Fetched 50000 rows (total 100000)
Fetched 50000 rows (total 150000)
Fetched 50000 rows (total 200000)
Fetched 50000 rows (total 250000)
Fetched 50000 rows (total 300000)
Fetched 50000 rows (total 350000)
Fetched 50000 rows (total 400000)
Fetched 50000 rows (total 450000)
Fetched 50000 rows (total 500000)
Fetched 50000 rows (total 550000)
Fetched 50000 rows (total 600000)
Fetched 50000 rows (total 650000)
Fetched 50000 rows (total 700000)
Fetched 50000 rows (total 750000)
Fetched 50000 rows (total 800000)
Fetched 50000 rows (total 850000)
Fetched 50000 rows (total 900000)
Fetched 50000 rows (total 950000)
Fetched 50000 rows (total 1000000)
Fetched 50000 rows (total 1050000)
Fetched 33120 rows (total 1083120)
(1083120, 16) EPSG:2263

,name,base_bbl,shape_area,construction_year,ground_elevation,mappluto_bbl,objectid,feature_code,shape_length,height_roof,last_status_type,bin,last_edited_date,geom_source,doitt_id,geometry
0,None,4075320028,177.74609375,1950,93,4075327501,507357,2100,59.00493914846858,27,Constructed,4451699,2017-08-22 19:18:38+00:00,Other (Manual),321944,"MULTIPOLYGON (((1052359.953 214149.188, 105240..."
1,None,4105630045,34.7421875,1930,72,4105630045,137879,5110,24.548386936588788,13.06,Constructed,4558952,2017-08-17 16:20:43+00:00,Photogrammetric,255026,"MULTIPOLYGON (((1052764.922 201306.381, 105274..."
2,None,3066450044,180.890625,1915,18,3066450044,982953,2100,61.475641058998,36.76158895,Constructed,3176483,2017-08-22 15:37:34+00:00,Photogrammetric,759005,"MULTIPOLYGON (((988769.316 159090.345, 988746...."
3,None,3038010128,106.03515625,1997,32,3038010128,244121,2100,43.732571712134629,21.95,Constructed,3393369,2017-08-22 15:31:10+00:00,Photogrammetric,949392,"MULTIPOLYGON (((1012469.24 181742.107, 1012446..."
4,None,2033800084,217.17578125,1910,197,2033800084,229537,2100,63.268290421653646,33.49,Constructed,2019299,2017-08-22 18:57:18+00:00,Photogrammetric,353927,"MULTIPOLYGON (((1020199.824 267310.273, 102020..."

In [140]:
### Very laerge df so limiting to those BBLs that exist in my data for latlong / LL84
ll84_enriched_ct['bbl'] = ll84_enriched_ct['bbl'].astype(int).astype(str)
print(building_ft_prnt_2263.shape)
building_footprint_lim = building_ft_prnt_2263[building_ft_prnt_2263["base_bbl"].isin(ll84_enriched_ct["bbl"].unique())]
print(building_footprint_lim.shape)

(1083120, 16)
(8557, 16)

In [141]:
bbl_counts_ftpnt = building_footprint_lim.groupby(['base_bbl']).agg({"last_edited_date":'nunique'}).reset_index()
bbl_counts_ftpnt.reset_index(drop=True,inplace=True)

single = bbl_counts_ftpnt[bbl_counts_ftpnt['last_edited_date']==1]
print(single.shape)
mult = bbl_counts_ftpnt[bbl_counts_ftpnt['last_edited_date']>1]
print(mult.shape)

### Limtiing the df 
building_ft_prnt_2263_mult = building_footprint_lim[building_footprint_lim['base_bbl'].isin(mult['base_bbl'].unique())]
building_ft_prnt_2263_single= building_footprint_lim[building_footprint_lim['base_bbl'].isin(single['base_bbl'].unique())]

## Extracing the year for mult
building_ft_prnt_2263_mult['year'] = building_ft_prnt_2263_mult["last_edited_date"].dt.year

(5556, 2)
(691, 2)

C:\Python310\lib\site-packages\geopandas\geodataframe.py:1968: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [176]:
mult_year = []
single_year = []
for bbl in building_ft_prnt_2263_mult['base_bbl'].unique():
    temp_df = building_ft_prnt_2263_mult[building_ft_prnt_2263_mult['base_bbl']==bbl]
    min_year = temp_df['year'].min()
    print(min_year)
    max_year = temp_df['year'].max()
    print(max_year)
    if min_year==max_year:
        single_year.append(temp_df[temp_df["last_edited_date"]==temp_df["last_edited_date"].max()])
    else: 
        if min_year>=2017:
            single_year.append(temp_df[temp_df["last_edited_date"]==temp_df["last_edited_date"].min()])
        else: 
            if max_year ==2017:
                sub_df = temp_df[temp_df['year']!=2017]
                if sub_df['year'].max()<=2010:
                    selection = sub_df[sub_df['last_edited_date'] == sub_df['last_edited_date'].max()]
                    if selection.shape[0]>1:
                        ## Taking the largest polygon 
                        single_year.append(selection[selection['shape_area'] == selection['shape_area'].max()])
                    else:
                        single_year.append(selection)
                else:
                    print("max year 2017, and there are other interim years. ")
                    for yy in range(2010,2018):
                        print(yy)
                        year_lim_temp= temp_df[temp_df['year']<=yy]
                        year_lim_temp = year_lim_temp[year_lim_temp['last_edited_date']==year_lim_temp['last_edited_date'].max()]
                        print(year_lim_temp.shape)
                        if year_lim_temp.shape[0]>1:
                            ## Again takign the largest
                            year_lim_temp = year_lim_temp[year_lim_temp['shape_area'] == year_lim_temp['shape_area'].max()]
                        year_lim_temp['year_manual']=yy
                        mult_year.append(year_lim_temp)
            else:
                print("max_year>2017")
                for yy in range(2010,2018):
                    print(yy)
                    year_lim_temp= temp_df[temp_df['year']<=yy]
                    year_lim_temp = year_lim_temp[year_lim_temp['last_edited_date']==year_lim_temp['last_edited_date'].max()]
                    print(year_lim_temp.shape)
                    if year_lim_temp.shape[0]>1:
                        ## Again takign the largest
                        year_lim_temp = year_lim_temp[year_lim_temp['shape_area'] == year_lim_temp['shape_area'].max()]
                    year_lim_temp['year_manual']=yy
                    mult_year.append(year_lim_temp)

2019
2019
2017
2017
2024
2024
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2008
2017
2017
2019
2017
2017
2017
2025
2017
2017
2017
2017
2017
2017
2009
2025
max_year>2017
2010
(1, 17)
2011
(1, 17)
2012
(1, 17)
2013
(1, 17)
2014
(1, 17)
2015
(2, 17)
2016
(4, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2021
2009
2017
max year 2017, and there are other interim years.
2010
(3, 17)
2011
(3, 17)
2012
(3, 17)
2013
(3, 17)
2014
(2, 17)
2015
(2, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2016
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(0, 17)
2015
(0, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2016
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(0, 17)
2015
(0, 17)
2016
(1, 17)
2017
(1, 17)
2014
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(7, 17)
2015
(7, 17)
2016
(7, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2008
2024
max_year>2017
2010
(1, 17)
2011
(1, 17)
2012
(1, 17)
2013
(1, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2019
2014
2020
max_year>2017
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2009
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2009
2017
2017
2017
2009
2017
2017
2017
2017
2019
2017
2017
2017
2017
2017
2017
2017
2017
2017
2020
2017
2017
2017
2017
2017
2017
2017
2020
2017
2017
2017
2017
2016
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(0, 17)
2015
(0, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2020
2017
2018
2017
2019
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2012
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(1, 17)
2013
(1, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2023
2013
2018
max_year>2017
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(1, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2019
2019
2017
2017
2017
2017
2017
2017
2017
2017
2009
2020
max_year>2017
2010
(1, 17)
2011
(1, 17)
2012
(1, 17)
2013
(1, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2009
2022
max_year>2017
2010
(1, 17)
2011
(1, 17)
2012
(1, 17)
2013
(1, 17)
2014
(2, 17)
2015
(2, 17)
2016
(2, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2022
2022
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2009
2017
2017
2020
2017
2017
2017
2017
2017
2017
2017
2017
2009
2017
max year 2017, and there are other interim years.
2010
(1, 17)
2011
(1, 17)
2012
(1, 17)
2013
(1, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2009
2017
2017
2017
2017
2017
2017
2017
2016
2019
max_year>2017
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(0, 17)
2015
(0, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2021
2017
2017
2017
2017
2017
2018
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2009
2017
2017
2017
2017
2022
2017
2017
2017
2017
2017
2017
2009
2017
2024
2024
2017
2017
2017
2017
2017
2024
2017
2017
2017
2017
2014
2018
max_year>2017
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2017
2017
2017
2017
2017
2017
2017
2017
2013
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(1, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2019
2019
2017
2017
2017
2024
2017
2017
2017
2017
2017
2020
2017
2021
2014
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2009
2017
2009
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2019
2017
2019
2009
2017
2017
2017
2017
2017
2017
2017
2017
2018
2017
2017
2017
2022
2017
2018
2017
2017
2017
2017
2017
2017
2017
2025
2017
2017
2017
2017
2017
2022
2017
2017
2014
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2014
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2016
2023
max_year>2017
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(0, 17)
2015
(0, 17)
2016
(2, 17)
2017
(2, 17)
2017
2017
2018
2021
2021
2021
2009
2024
max_year>2017
2010
(1, 17)
2011
(1, 17)
2012
(1, 17)
2013
(1, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2022
2022
2017
2017
2017
2017
2017
2017
2009
2017
2017
2017
2017
2017
2017
2022
2017
2017
2016
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(0, 17)
2015
(0, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2017
2017
2009
2017
2017
2018
2017
2017
2017
2017
2018
2018
2017
2019
2017
2017
2017
2017
2017
2017
2017
2025
2017
2017
2017
2017
2017
2017
2014
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2018
2017
2017
2017
2017
2017
2017
2017
2017
2009
2017
2017
2017
2017
2017
2009
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2013
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(1, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2015
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(0, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2009
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2024
2017
2017
2017
2018
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2009
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2014
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2012
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(1, 17)
2013
(1, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2014
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2019
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2023
2017
2017
2017
2017
2017
2017
2017
2017
2018
2018
2017
2017
2017
2017
2017
2017
2008
2017
2013
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(2, 17)
2014
(2, 17)
2015
(2, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2017
2017
2013
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(1, 17)
2014
(1, 17)
2015
(1, 17)
2016
(3, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2018
2017
2017
2017
2018
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2009
2017
2017
2017
2017
2017
2023
2023
2017
2017
2009
2017
2017
2018
2017
2017
2017
2017
2017
2017
2018
2018
2017
2024
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2009
2017
2017
2017
2017
2017
2020
2020
2017
2017
2017
2017
2017
2018
2017
2017
2017
2024
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2014
2024
max_year>2017
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2014
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2009
2019
max_year>2017
2010
(1, 17)
2011
(1, 17)
2012
(1, 17)
2013
(1, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2018
2019
2019
2017
2017
2017
2017
2017
2017
2009
2017
2017
2017
2016
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(0, 17)
2015
(0, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2019
2019
2022
2022
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2009
2017
2017
2018
2017
2017
2022
2024
2017
2017
2014
2018
max_year>2017
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2021
2022
2017
2017
2014
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(4, 17)
2015
(4, 17)
2016
(4, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2025
2009
2017
2016
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(0, 17)
2015
(0, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2021
2021
2017
2017
2017
2018
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2021
2021
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2019
2017
2017
2017
2024
2017
2017
2009
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2021
2021
2018
2018
2017
2017
2017
2017
2017
2024
2017
2017
2018
2019
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2013
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(1, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2009
2017
2017
2017
2017
2017
2017
2017
2023
2023
2017
2017
2017
2017
2017
2017
2017
2017
2017
2023
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2016
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(0, 17)
2015
(0, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2019
2019
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2022
2023
2013
2017
max year 2017, and there are other interim years.
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(1, 17)
2014
(1, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2015
2024
max_year>2017
2010
(0, 17)
2011
(0, 17)
2012
(0, 17)
2013
(0, 17)
2014
(0, 17)
2015
(1, 17)
2016
(1, 17)
2017
(1, 17)
2017
2018
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2018
2025
2025
2017
2017
2017
2017

In [179]:
single_year_df = pd.concat(single_year)
single_bbls_footprint = pd.concat([building_ft_prnt_2263_single,single_year_df.drop(columns=['year'])])
mult_year_df = pd.concat(mult_year)

In [185]:
### Two step join via BBL 
ll84_footprint_1 = ll84_enriched_ct.merge(single_bbls_footprint, how='left', left_on=['bbl'], right_on=['base_bbl'])
success1 = ll84_footprint_1[~ll84_footprint_1['base_bbl'].isnull()]
print(success1.shape)
not_success = ll84_footprint_1[ll84_footprint_1['base_bbl'].isnull()].dropna(how='all',axis=1)
print(not_success.shape)
#### success1 df is finalized building-specific information with the building footprint joined 
#### not_sccess df is the muiltiple year bbls, with changes in footprint for specific years, needs to be joined to year-specific energy building data before lidar spatial join.

(16834, 47)
(19201, 31)

### Have Building Information joined with and the Canopy information, need to join back with the energy usage data (LL84)for year over year data

In [190]:
### Limiting Energy Data tp those that have "Whole Building" metered eneryg area, but extrapolating for earlier years. 
residential3_2010_2017_lim1 = residential3_2010_2017[(
    ((residential3_2010_2017["metered_areas_energy"]=="Whole Building")&(residential3_2010_2017["year_ending_year"]>=2012))
     |(((residential3_2010_2017["metered_areas_energy"]=="Whole Building")|(residential3_2010_2017["metered_areas_energy"].isnull()))
       &(residential3_2010_2017["year_ending_year"]<=2012))
    )]
### Ensuring no relevant alerts for Energy Related meters 
residential3_2010_2017_lim2 = residential3_2010_2017_lim1[(
    ((residential3_2010_2017_lim1['alert_energy_no_meters'].isnull())|(residential3_2010_2017_lim1['alert_energy_no_meters']=='Ok'))
    &((residential3_2010_2017_lim1['alert_energy_meter_has_less'].isnull())|(residential3_2010_2017_lim1['alert_energy_meter_has_less']=='Ok'))
    &((residential3_2010_2017_lim1['alert_energy_meter_has_gaps'].isnull())|(residential3_2010_2017_lim1['alert_energy_meter_has_gaps']=='Ok'))
    &((residential3_2010_2017_lim1['alert_energy_meter_has'].isnull())|(residential3_2010_2017_lim1['alert_energy_meter_has']=='Ok'))
    &((residential3_2010_2017_lim1['alert_energy_meter_has_single'].isnull())|(residential3_2010_2017_lim1['alert_energy_meter_has_single']=='Ok'))
    &((residential3_2010_2017_lim1['alert_meter_has_less_than'].isnull())|(residential3_2010_2017_lim1['alert_meter_has_less_than']=='Ok'))
    &((residential3_2010_2017_lim1['alert_no_meters_are_associated'].isnull())|(residential3_2010_2017_lim1['alert_no_meters_are_associated']=='Ok'))
    &((residential3_2010_2017_lim1['alert_meter_has_overlaps'].isnull())|(residential3_2010_2017_lim1['alert_meter_has_overlaps']=='Ok'))
)]
### Dropping filtered columns 
residential3_2010_2017_lim2 = residential3_2010_2017_lim2.drop(columns=["metered_areas_energy","alert_energy_no_meters","alert_energy_meter_has_less",
                                                                        "alert_energy_meter_has_gaps","alert_energy_meter_has","alert_energy_meter_has_single",
                                                                        "alert_meter_has_less_than","alert_no_meters_are_associated","alert_meter_has_overlaps"])

### limiting to where number_of_buildings is 1 to keep simple, some years onlu have null values. 
residential3_2010_2017_lim3 = residential3_2010_2017_lim2[(
    ((residential3_2010_2017_lim2["number_of_buildings"]==1)&(residential3_2010_2017_lim2['year_ending_year']>=2013))
    |(((residential3_2010_2017_lim2["number_of_buildings"]==1)|(residential3_2010_2017_lim2["number_of_buildings"].isnull()))
      &(residential3_2010_2017_lim2['year_ending_year']<2013))
)]
### Generalized Way to limit to mutifamily residential buildings
multifamily_residential_cols = [i for i in residential3_2010_2017_lim3.columns if 'multifamily_' in i]
residential3_2010_2017_lim4 = residential3_2010_2017_lim3.dropna(subset=multifamily_residential_cols, how="all")

### Further Facility Type / Property Use Limiting
residential3_2010_2017_lim4 = residential3_2010_2017_lim4[(
    ((residential3_2010_2017_lim4["year_ending_year"]<2012) & (residential3_2010_2017_lim4["facility_type"]=='Multifamily Housing'))
    |((residential3_2010_2017_lim4["year_ending_year"]>=2012)&(residential3_2010_2017_lim4["facility_type"].isnull()))
)]

### Only Non estimated data, but also many nulls in this field
residential3_2010_2017_lim4 = residential3_2010_2017_lim4[(
    ((residential3_2010_2017_lim4['estimated_data_flag'].astype(str).str.upper().str.strip()=='NO')
     |(residential3_2010_2017_lim4['estimated_data_flag'].isnull()))
    &((residential3_2010_2017_lim4["temporary_data_flag"].isnull())
      |(residential3_2010_2017_lim4["temporary_data_flag"].astype(str).str.upper().str.strip()=='NO'))
    &((residential3_2010_2017_lim4["estimated_data_flag_1"].isnull())
      |(residential3_2010_2017_lim4["estimated_data_flag_1"].astype(str).str.upper().str.strip()=='NO'))
    &((residential3_2010_2017_lim4["estimated_values_energy"].isnull())
      |(residential3_2010_2017_lim4["estimated_values_energy"].astype(str).str.upper().str.strip()=='NO'))
    &((residential3_2010_2017_lim4["alert_property_has_no_uses"].isnull())
      |(residential3_2010_2017_lim4["alert_property_has_no_uses"].astype(str).str.upper().str.strip()=='OK'))
    &((residential3_2010_2017_lim4["default_values"].isnull())
      |(residential3_2010_2017_lim4["default_values"].astype(str).str.upper().str.strip()=='NO'))
    &((residential3_2010_2017_lim4["temporary_values"].isnull())
      |(residential3_2010_2017_lim4["temporary_values"].astype(str).str.upper().str.strip()=='NO'))
    
)]

## Dropping more columns already filtered on, but not needed for this analysis, also other columns not needed 9Less Noise to sift through for consolidation)
water_cols = [i for i in residential3_2010_2017_lim4.columns if 'water' in i]
national_metric_cols = [i for i in residential3_2010_2017_lim4.columns if 'national' in i]
flag_cols = [i for i in residential3_2010_2017_lim4.columns if 'flag' in i]
drinking_water = [i for i in residential3_2010_2017_lim4.columns if 'potable' in i]
electricity = [i for i in residential3_2010_2017_lim4.columns if 'electricity' in i] # looking at total energy for buildings not elec. (varies percentage by building)
other_specific_types = [i for i in residential3_2010_2017_lim4.columns if ('fuel' in i or 'steam' in i or 'diesel' in i or 'natural' in i )]
financial = [i for i in residential3_2010_2017_lim4.columns if ('_cost' in i or 'cost_' in i or 'savings' in i )]
greentech = [i for i in residential3_2010_2017_lim4.columns if 'green' in i]
emissions = [i for i in residential3_2010_2017_lim4.columns if 'emission' in i]


residential3_2010_2017_lim4 = residential3_2010_2017_lim4.drop(columns=list(set(["number_of_buildings",'estimated_values_energy']
                                                                                +multifamily_residential_cols
                                                                                +water_cols
                                                                                +national_metric_cols
                                                                                +flag_cols
                                                                                + drinking_water
                                                                                + electricity
                                                                                +other_specific_types
                                                                                +financial
                                                                                +greentech
                                                                                +emissions
                                                                               )))
## Droping all that are just null values for all entries
residential3_2010_2017_lim4 = residential3_2010_2017_lim4.dropna(how='all',axis=1)

In [191]:
## Taking a look 
print(residential3_2010_2017_lim4.shape)
residential3_2010_2017_lim4.groupby(["year_ending_year"]).agg({"property_id":"nunique",'bbl':"nunique"})

(53882, 176)

                  property_id   bbl
year_ending_year
2010                    10812  6077
2011                    12797  7830
2012                      527   503
2013                     7648  7240
2014                     3496  3335
2015                     3604  3484
2016                     3627  3519
2017                     4186  3982

In [192]:
### Limiting the residential3_2010_2017_lim4 df to those instances that buildinga are present for ALL 7 years
property_id_2010 = residential3_2010_2017_lim4["property_id"][((residential3_2010_2017_lim4['year_ending_year']==2010)
                                                               &(~residential3_2010_2017_lim4["property_id"].isnull()))].unique()
bbl_2010 = residential3_2010_2017_lim4["bbl"][((residential3_2010_2017_lim4['year_ending_year']==2010)
                                                               &(~residential3_2010_2017_lim4["bbl"].isnull()))].unique()
consistant_presence = []
for year in residential3_2010_2017_lim4["year_ending_year"].unique():
    print(year)
    temp_lim_year = residential3_2010_2017_lim4[residential3_2010_2017_lim4["year_ending_year"]==year].dropna(how='all',axis=1)
    print(temp_lim_year.shape)
    if year ==2010:
        consistant_presence.append(temp_lim_year)
        continue
    else:
        temp_lim = temp_lim_year[((temp_lim_year["bbl"].isin(bbl_2010))|(temp_lim_year["property_id"].isin(property_id_2010)))]
        print(temp_lim.shape)
        print(f" Dropped {temp_lim_year.shape[0]-temp_lim.shape[0]} rows")
        consistant_presence.append(temp_lim)
all_building_energy_2010_2017 = pd.concat(consistant_presence)

2017
(5384, 63)
(3771, 63)
 Dropped 1613 rows
2016
(3636, 59)
(2599, 59)
 Dropped 1037 rows
2015
(3632, 56)
(2563, 56)
 Dropped 1069 rows
2014
(3501, 64)
(2522, 64)
 Dropped 979 rows
2013
(7751, 55)
(5559, 55)
 Dropped 2192 rows
2012
(527, 43)
(311, 43)
 Dropped 216 rows
2011
(15680, 95)
(10722, 95)
 Dropped 4958 rows
2010
(13771, 84)

In [193]:
## Finalizing the Column names 
all_building_energy_2010_2017[all_building_energy_2010_2017['year_ending_year']==2010].dropna(how='all',axis=1).columns

Index(['property_id', 'address_1', 'city', 'weather_normalized_site_eui',
       'borough', 'latitude', 'longitude', 'community_board',
       'council_district', 'source_years', 'source_api_url', 'source_info_url',
       'census_tract', 'nta', 'postcode', 'address_2', 'county', 'bbl',
       'year_ending_year', 'release_date', 'other_weekly_operating_hours',
       'bin', 'facility_name', 'rating', 'total_floor_space_sq_ft',
       'facility_type', 'last_modified_date', 'eligibility_for_energy_star',
       'energy_star_application_status', 'current_rating_1_100',
       'target_rating_1_100', 'current_energy_period_ending',
       'current_site_energy_intensity', 'current_total_site_energy',
       'target_site_energy_intensity', 'current_source_energy',
       'current_total_source_energy', 'current_weather_normalized',
       'office_gross_floor_area_sq', 'office_office_air_conditioned',
       'office_pc_density', 'office_workers_density',
       'parking_enclosed_floor_area', 'parking_non_enclosed_floor',
       'parking_open_floor_area_w', 'parking_weekly_hours_of_access',
       'retail_gross_floor_area_sq', 'retail_cash_register_density',
       'retail_exterior_entrance', 'retail_workers_density',
       'retail_weekly_operating_hours', 'retail_walk_in_refrig_density',
       'retail_percent_cooled', 'retail_pc_density',
       'retail_open_closed_refrig', 'retail_number_of_walk_in',
       'retail_number_of_open_or', 'data_center_annual_it_energy',
       'total_indoor_and_outdoor', 'other_space_type_name',
       'other_gross_floor_area_sq', 'other_number_of_pcs',
       'other_workers_on_main_shift', 'hotel_gross_floor_area_sq',
       'hotel_percent_cooled', 'hotel_presence_of_cooking',
       'bank_financial_institution', 'bank_financial_institution_1',
       'bank_financial_institution_2', 'bank_financial_institution_3',
       'bank_financial_institution_4', 'bank_financial_institution_5',
       'k_12_school_high_school_y', 'k_12_school_open_weekends',
       'k_12_school_pc_density', 'k_12_school_percent_cooled',
       'k_12_school_walk_in_refrig', 'k_12_school_presence_of',
       'swimming_pool_size', 'swimming_pool_indoor_outdoor',
       'current_total_on_site', 'building_id', 'period_ending_date', 'state'],
      dtype='object')

In [194]:
rename_2010 = {
    # Building area â†’ canonical GFA
    "total_floor_space_sq_ft": "gfa_building_ft2",

    # Energy: EUI & totals
    "current_site_energy_intensity": "site_eui_kbtu_ft",
    "current_total_site_energy": "site_energy_use_kbtu",
    "target_site_energy_intensity": "target_site_eui_kbtu_ft",
    "current_total_source_energy": "source_energy_use_kbtu",

    # Normalized site energy index (not kBtu, but useful as separate indicator)
    "current_weather_normalized": "weather_normalized_site_energy_index",

    # Water & on-site energy
    "total_indoor_and_outdoor": "total_water_use_kgal",
    "current_total_on_site": "on_site_energy_use_kbtu",
    # keep current_source_energy as-is or drop it; you already have source_energy_use_kbtu above
}
rename_2011 = {
    # Building area
    "total_floor_space_sq_ft": "gfa_building_ft2",

    # Last modified â†’ canonical
    "last_modified_date": "last_modified_date_property",

    # Energy: EUI & totals
    "current_site_energy_intensity": "site_eui_kbtu_ft",
    "current_total_site_energy": "site_energy_use_kbtu",
    "target_site_energy_intensity": "target_site_eui_kbtu_ft",
    "current_total_source_energy": "source_energy_use_kbtu",

    # Normalized site energy index
    "current_weather_normalized": "weather_normalized_site_energy_index",

    # Optional: you can keep current_source_energy as-is or ignore it
}
rename_2012 = {
    # State field
    "state_province": "state",

    # Building area
    "property_floor_area_buildings": "gfa_building_ft2",

    # Last modified â†’ canonical
    "date_property_last_modified": "last_modified_date_property",

    # Energy fields already use canonical names:
    #   site_eui_kbtu_ft
    #   weather_normalized_site_eui
    #   site_energy_use_kbtu
    #   source_eui_kbtu_ft
    #   weather_normalized_source
    #   source_energy_use_kbtu
    #   target_site_eui_kbtu_ft
}
rename_2013 = {
    # Building area
    "property_floor_area_building": "gfa_building_ft2",

    # Last modified
    "date_property_last_modified": "last_modified_date_property",

    # Everything else you listed (energy) is already in canonical form:
    #   site_eui_kbtu_ft
    #   weather_normalized_site_eui
    #   site_energy_use_kbtu
    #   weather_normalized_site_energy
    #   source_eui_kbtu_ft
    #   weather_normalized_source
    #   source_energy_use_kbtu
    # plus the various weather_normalized_site* convenience columns
}
rename_2014 = {
    # Building area
    "property_floor_area_building": "gfa_building_ft2",

    # Energy fields already canonical names as in 2013
}
rename_2015 = {
    # Building area: self-reported & EPA-calculated
    "property_gfa_self_reported": "gfa_building_ft2",
    "property_gfa_epa_calculated": "gfa_epa_total_ft2",       # bldg + parking
    "property_gfa_epa_calculated_1": "gfa_epa_buildings_ft2", # buildings only

    # Last modified
    "date_property_last_modified": "last_modified_date_property",

    # (Energy columns already have canonical names)
}
rename_2016 = {
    # Building area: self-reported & calculated
    "property_gfa_self_reported": "gfa_building_ft2",
    "property_gfa_calculated": "gfa_epa_total_ft2",       # equivalent to EPA-calculated total
    "property_gfa_calculated_1": "gfa_epa_buildings_ft2", # buildings only

    # Last modified
    "date_property_last_modified": "last_modified_date_property",

    # Energy:
    #   site_eui_kbtu_ft
    #   weather_normalized_site_eui
    #   site_energy_use_kbtu
    #   weather_normalized_site_energy
    #   source_eui_kbtu_ft
    #   weather_normalized_source
    #   source_energy_use_kbtu
    #   weather_normalized_source_1 (duplicate variant)
    #   source_energy_use_adjusted
    #   source_eui_adjusted_to_current
    # all already match canon â†’ no rename needed
}
rename_2017 = {
    # Building area
    "property_gfa_self_reported": "gfa_building_ft2",
    "property_gfa_calculated": "gfa_epa_total_ft2",
    "property_gfa_calculated_1": "gfa_epa_buildings_ft2",

    # Last modified already comes as last_modified_date_property for 2017 in your list.
    # No rename required.

    # Energy fields already match 2016â€™s canonical naming.
}
rename_maps = {
    2010: rename_2010,
    2011: rename_2011,
    2012: rename_2012,
    2013: rename_2013,
    2014: rename_2014,
    2015: rename_2015,
    2016: rename_2016,
    2017: rename_2017,
}

In [195]:
# loop over years, rename columns, and collect
aligned_frames = []

for year in sorted(all_building_energy_2010_2017["year_ending_year"].unique()):
    print("Processing year:", year)
    temp_lim_year = all_building_energy_2010_2017[
        all_building_energy_2010_2017["year_ending_year"] == year
    ].copy()

    # apply the year-specific renames (if we have one)
    rename_dict = rename_maps.get(year, {})
    temp_lim_year = temp_lim_year.dropna(how='all',axis=1).rename(columns=rename_dict)
    if temp_lim_year.columns.duplicated().any():
        break
    print(temp_lim_year.columns)
    aligned_frames.append(temp_lim_year)

# 3) stitch them back together
all_building_energy_2010_2017_renamed = pd.concat(aligned_frames)

Processing year: 2010
Index(['property_id', 'address_1', 'city', 'weather_normalized_site_eui',
       'borough', 'latitude', 'longitude', 'community_board',
       'council_district', 'source_years', 'source_api_url', 'source_info_url',
       'census_tract', 'nta', 'postcode', 'address_2', 'county', 'bbl',
       'year_ending_year', 'release_date', 'other_weekly_operating_hours',
       'bin', 'facility_name', 'rating', 'gfa_building_ft2', 'facility_type',
       'last_modified_date', 'eligibility_for_energy_star',
       'energy_star_application_status', 'current_rating_1_100',
       'target_rating_1_100', 'current_energy_period_ending',
       'site_eui_kbtu_ft', 'site_energy_use_kbtu', 'target_site_eui_kbtu_ft',
       'current_source_energy', 'source_energy_use_kbtu',
       'weather_normalized_site_energy_index', 'office_gross_floor_area_sq',
       'office_office_air_conditioned', 'office_pc_density',
       'office_workers_density', 'parking_enclosed_floor_area',
       'parking_non_enclosed_floor', 'parking_open_floor_area_w',
       'parking_weekly_hours_of_access', 'retail_gross_floor_area_sq',
       'retail_cash_register_density', 'retail_exterior_entrance',
       'retail_workers_density', 'retail_weekly_operating_hours',
       'retail_walk_in_refrig_density', 'retail_percent_cooled',
       'retail_pc_density', 'retail_open_closed_refrig',
       'retail_number_of_walk_in', 'retail_number_of_open_or',
       'data_center_annual_it_energy', 'total_water_use_kgal',
       'other_space_type_name', 'other_gross_floor_area_sq',
       'other_number_of_pcs', 'other_workers_on_main_shift',
       'hotel_gross_floor_area_sq', 'hotel_percent_cooled',
       'hotel_presence_of_cooking', 'bank_financial_institution',
       'bank_financial_institution_1', 'bank_financial_institution_2',
       'bank_financial_institution_3', 'bank_financial_institution_4',
       'bank_financial_institution_5', 'k_12_school_high_school_y',
       'k_12_school_open_weekends', 'k_12_school_pc_density',
       'k_12_school_percent_cooled', 'k_12_school_walk_in_refrig',
       'k_12_school_presence_of', 'swimming_pool_size',
       'swimming_pool_indoor_outdoor', 'on_site_energy_use_kbtu',
       'building_id', 'period_ending_date', 'state'],
      dtype='object')
Processing year: 2011
Index(['property_id', 'address_1', 'city', 'year_built',
       'weather_normalized_site_eui', 'borough', 'latitude', 'longitude',
       'community_board', 'council_district', 'source_years', 'source_api_url',
       'source_info_url', 'census_tract', 'nta', 'postcode', 'address_2',
       'county', 'bbl', 'year_ending_year', 'release_date',
       'other_weekly_operating_hours', 'service_and_product_provider',
       'building_id_espm', 'facility_name', 'rating', 'gfa_building_ft2',
       'facility_type', 'last_modified_date_property',
       'metering_configuration', 'eligibility_for_energy_star',
       'energy_star_application_status', 'current_rating_1_100',
       'target_rating_1_100', 'space_use_alerts',
       'current_energy_period_ending', 'site_eui_kbtu_ft',
       'site_energy_use_kbtu', 'target_site_eui_kbtu_ft',
       'current_source_energy', 'source_energy_use_kbtu',
       'weather_normalized_site_energy_index', 'office_gross_floor_area_sq',
       'office_office_air_conditioned', 'office_pc_density',
       'office_workers_density', 'parking_enclosed_floor_area',
       'parking_non_enclosed_floor', 'parking_open_floor_area_w',
       'parking_weekly_hours_of_access', 'retail_gross_floor_area_sq',
       'retail_cash_register_density', 'retail_exterior_entrance',
       'retail_workers_density', 'retail_weekly_operating_hours',
       'retail_walk_in_refrig_density', 'retail_percent_cooled',
       'retail_pc_density', 'retail_open_closed_refrig',
       'retail_number_of_walk_in', 'retail_number_of_open_or',
       'data_center_annual_it_energy', 'total_indoor_and_outdoor',
       'bin_unique_building_identifier', 'other_space_type_name',
       'other_gross_floor_area_sq', 'other_number_of_pcs',
       'other_workers_on_main_shift', 'hotel_gross_floor_area_sq',
       'hotel_room_density', 'hotel_percent_cooled',
       'hotel_presence_of_cooking', 'hotel_workers_density',
       'energy_use_alerts', 'bank_financial_institution',
       'bank_financial_institution_1', 'bank_financial_institution_2',
       'bank_financial_institution_3', 'bank_financial_institution_4',
       'bank_financial_institution_5', 'k_12_school_high_school_y',
       'k_12_school_open_weekends', 'k_12_school_pc_density',
       'k_12_school_percent_cooled', 'k_12_school_walk_in_refrig',
       'k_12_school_presence_of', 'swimming_pool_size',
       'swimming_pool_indoor_outdoor', 'hotel_floor_area_of_full',
       'hotel_floor_area_of_gym', 'hotel_average_occupancy',
       'hotel_quantity_of_laundry', 'full_time_equivalent_fte',
       'number_of_staffed_beds', 'number_of_mri_machines'],
      dtype='object')
Processing year: 2012
Index(['property_id', 'property_name', 'year_ending', 'address_1', 'city',
       'year_built', 'energy_star_score', 'energy_star_certification',
       'energy_star_certification_1', 'site_eui_kbtu_ft',
       'weather_normalized_site_eui', 'site_energy_use_kbtu',
       'source_eui_kbtu_ft', 'weather_normalized_source',
       'source_energy_use_kbtu', 'borough', 'latitude', 'longitude',
       'community_board', 'council_district', 'source_years', 'source_api_url',
       'source_info_url', 'generation_date', 'census_tract', 'nta', 'postcode',
       'address_2', 'county', 'bbl', 'year_ending_year', 'release_date',
       'last_modified_date_property', 'custom_property_id_1_id',
       'energy_alerts', 'target_energy_star_score', 'state',
       'gfa_building_ft2', 'service_and_product_provider', 'space_alerts',
       'energy_current_date', 'target_site_eui_kbtu_ft', 'bin'],
      dtype='object')
Processing year: 2013
Index(['property_id', 'property_name', 'year_ending',
       'nyc_building_identification', 'address_1', 'city', 'year_built',
       'occupancy', 'site_eui_kbtu_ft', 'weather_normalized_site_eui',
       'site_energy_use_kbtu', 'weather_normalized_site_energy',
       'source_eui_kbtu_ft', 'weather_normalized_source',
       'source_energy_use_kbtu', 'weather_normalized_source_1',
       'percent_of_recs_retained', 'borough', 'latitude', 'longitude',
       'community_board', 'council_district', 'source_years', 'source_api_url',
       'source_info_url', 'weather_normalized_site',
       'weather_normalized_site_1', 'generation_date', 'census_tract', 'nta',
       'postcode', 'address_2', 'county', 'bbl', 'year_ending_year',
       'release_date', 'last_modified_date_property',
       'outpatient_rehabilitation', 'other_gross_floor_area_ft',
       'other_weekly_operating_hours', 'other_number_of_computers',
       'other_number_of_workers_on', 'personal_services_health',
       'gfa_building_ft2', 'energy_star_certification_3',
       'energy_star_certification_5', 'investment_in_energy_projects',
       'investment_in_energy_projects_1', 'leed_us_project_id',
       'pre_school_daycare_gross', 'costar_property_id',
       'custom_property_id_1_name', 'custom_property_id_1_id', 'energy_alerts',
       'property_use_detail_alerts'],
      dtype='object')
Processing year: 2014
Index(['property_id', 'property_name', 'year_ending',
       'nyc_building_identification', 'address_1', 'city', 'year_built',
       'occupancy', 'energy_star_score', 'energy_star_certification',
       'energy_star_certification_1', 'site_eui_kbtu_ft',
       'weather_normalized_site_eui', 'site_energy_use_kbtu',
       'weather_normalized_site_energy', 'source_eui_kbtu_ft',
       'weather_normalized_source', 'source_energy_use_kbtu',
       'weather_normalized_source_1', 'percent_of_recs_retained',
       'default_values', 'temporary_values', 'alert_property_has_no_uses',
       'alert_gross_floor_area_is', 'borough', 'latitude', 'longitude',
       'community_board', 'council_district', 'source_years', 'source_api_url',
       'source_info_url', 'energy_star_certification_2',
       'weather_normalized_site', 'weather_normalized_site_1',
       'weather_normalized_site_2', 'weather_normalized_site_3',
       'generation_date', 'census_tract', 'nta', 'postcode', 'address_2',
       'data_quality_checker_date', 'county', 'data_quality_checker_run',
       'bbl', 'year_ending_year', 'release_date',
       'date_property_last_modified', 'alert_data_center_does_not',
       'alert_individual_monthly', 'alert_meter_has_gaps',
       'outpatient_rehabilitation', 'other_gross_floor_area_ft',
       'other_weekly_operating_hours', 'other_number_of_computers',
       'other_number_of_workers_on', 'personal_services_health',
       'gfa_building_ft2', 'energy_star_certification_3',
       'energy_star_certification_5', 'investment_in_energy_projects',
       'investment_in_energy_projects_1', 'estimated_values'],
      dtype='object')
Processing year: 2015
Index(['property_id', 'property_name', 'year_ending',
       'nyc_building_identification', 'address_1', 'city',
       'largest_property_use_type_1', 'year_built', 'occupancy',
       'energy_star_score', 'energy_star_certification',
       'energy_star_certification_1', 'site_eui_kbtu_ft',
       'weather_normalized_site_eui', 'site_energy_use_kbtu',
       'weather_normalized_site_energy', 'source_eui_kbtu_ft',
       'weather_normalized_source', 'source_energy_use_kbtu',
       'weather_normalized_source_1', 'default_values', 'temporary_values',
       'alert_property_has_no_uses', 'alert_gross_floor_area_is',
       'gfa_building_ft2', 'borough', 'latitude', 'longitude',
       'community_board', 'council_district', 'source_years', 'source_api_url',
       'source_info_url', 'energy_star_certification_2',
       'weather_normalized_site', 'weather_normalized_site_1',
       'weather_normalized_site_2', 'weather_normalized_site_3',
       'generation_date', 'census_tract', 'nta', 'postcode', 'address_2',
       'data_quality_checker_date', 'county', 'data_quality_checker_run',
       'bbl', 'year_ending_year', 'release_date',
       'last_modified_date_property', 'alert_data_center_does_not',
       'alert_individual_monthly', 'alert_meter_has_gaps', 'gfa_epa_total_ft2',
       'gfa_epa_buildings_ft2', 'property_gfa_epa_calculated_2'],
      dtype='object')
Processing year: 2016
Index(['property_id', 'property_name', 'year_ending',
       'nyc_building_identification', 'address_1', 'city',
       'largest_property_use_type_1', 'year_built', 'occupancy',
       'energy_star_score', 'energy_star_certification',
       'energy_star_certification_1', 'site_eui_kbtu_ft',
       'weather_normalized_site_eui', 'site_energy_use_kbtu',
       'weather_normalized_site_energy', 'source_eui_kbtu_ft',
       'weather_normalized_source', 'source_energy_use_kbtu',
       'weather_normalized_source_1', 'percent_of_recs_retained',
       'default_values', 'temporary_values', 'alert_property_has_no_uses',
       'alert_gross_floor_area_is', 'gfa_building_ft2', 'gfa_epa_total_ft2',
       'gfa_epa_buildings_ft2', 'borough', 'latitude', 'longitude',
       'community_board', 'council_district', 'source_years', 'source_api_url',
       'source_info_url', 'energy_star_certification_2',
       'weather_normalized_site', 'weather_normalized_site_1',
       'weather_normalized_site_2', 'weather_normalized_site_3',
       'generation_date', 'census_tract', 'nta', 'postcode', 'address_2',
       'data_quality_checker_date', 'county', 'source_energy_use_adjusted',
       'data_quality_checker_run', 'bbl', 'year_ending_year', 'release_date',
       'last_modified_date_property', 'alert_data_center_does_not',
       'alert_individual_monthly', 'alert_meter_has_gaps',
       'source_eui_adjusted_to_current'],
      dtype='object')
Processing year: 2017
Index(['property_id', 'property_name', 'year_ending',
       'nyc_building_identification', 'address_1', 'city',
       'largest_property_use_type_1', 'year_built', 'occupancy',
       'energy_star_score', 'energy_star_certification',
       'energy_star_certification_1', 'site_eui_kbtu_ft',
       'weather_normalized_site_eui', 'site_energy_use_kbtu',
       'weather_normalized_site_energy', 'source_eui_kbtu_ft',
       'weather_normalized_source', 'source_energy_use_kbtu',
       'weather_normalized_source_1', 'annual_maximum_demand_kw',
       'annual_maximum_demand_mm', 'annual_maximum_demand_meter',
       'percent_of_recs_retained', 'default_values', 'temporary_values',
       'alert_property_has_no_uses', 'alert_data_center_issue_with',
       'alert_gross_floor_area_is', 'gfa_building_ft2', 'gfa_epa_total_ft2',
       'gfa_epa_buildings_ft2', 'last_modified_date_property',
       'last_modified_date_electric', 'last_modified_date_gas_meters',
       'borough', 'latitude', 'longitude', 'community_board',
       'council_district', 'last_modified_date_non', 'source_years',
       'source_api_url', 'source_info_url', 'energy_star_certification_2',
       'weather_normalized_site', 'weather_normalized_site_1',
       'weather_normalized_site_2', 'weather_normalized_site_3',
       'generation_date', 'census_tract', 'nta', 'postcode', 'address_2',
       'data_quality_checker_date', 'county', 'source_energy_use_adjusted',
       'data_quality_checker_run', 'irrigated_area_ft', 'account_id',
       'property_id_1', 'bbl', 'year_ending_year'],
      dtype='object')

In [196]:
final_cols = [
    # Core / IDs / location
    "year_ending_year",
    "property_id",
    "bbl",
    "address_1",
    "address_2",
    "city",
    "borough",
    "postcode",
    "state",

    # Data / timing
    "release_date",
    "generation_date",
    "current_energy_period_ending",
    "energy_current_date",
    "period_ending_date",
    "last_modified_date_property",

    # Building
    "year_built",
    "gfa_building_ft2",
    "gfa_epa_total_ft2",
    "gfa_epa_buildings_ft2",
    "largest_property_use_type_1",
    "costar_property_id",

    # Energy â€“ core
    "site_eui_kbtu_ft",
    "weather_normalized_site_eui",
    "site_energy_use_kbtu",
    "weather_normalized_site_energy",
    "source_eui_kbtu_ft",
    "weather_normalized_source",
    "source_energy_use_kbtu",
    "target_site_eui_kbtu_ft",

    # Energy â€“ early-year extras
    "weather_normalized_site_energy_index",
    "current_source_energy",
    "on_site_energy_use_kbtu",
    "total_water_use_kgal",

    # Extra normalized variants
    "weather_normalized_source_1",
    "weather_normalized_site",
    "weather_normalized_site_1",
    "weather_normalized_site_2",
    "weather_normalized_site_3",

    # Adjusted source metrics
    "source_energy_use_adjusted",
    "source_eui_adjusted_to_current",
]

all_building_energy_2010_2017_renamed = all_building_energy_2010_2017_renamed[final_cols]
# all_building_energy_2010_2017_renamed.to_csv("all_building_energy_2010_2017_renamed.csv",index=False)

In [ ]:
## Finally Joining back in the buidlings information

In [199]:
all_building_energy_2010_2017_renamed

,year_ending_year,property_id,bbl,address_1,address_2,city,borough,postcode,state,release_date,generation_date,current_energy_period_ending,energy_current_date,period_ending_date,last_modified_date_property,year_built,gfa_building_ft2,gfa_epa_total_ft2,gfa_epa_buildings_ft2,largest_property_use_type_1,costar_property_id,site_eui_kbtu_ft,weather_normalized_site_eui,site_energy_use_kbtu,weather_normalized_site_energy,source_eui_kbtu_ft,weather_normalized_source,source_energy_use_kbtu,target_site_eui_kbtu_ft,weather_normalized_site_energy_index,current_source_energy,on_site_energy_use_kbtu,total_water_use_kgal,weather_normalized_source_1,weather_normalized_site,weather_normalized_site_1,weather_normalized_site_2,weather_normalized_site_3,source_energy_use_adjusted,source_eui_adjusted_to_current
20889,2010,10394173.0,2024890054,1265 Gerard Avenue,NaN,Bronx,BRONX,10452,New York,2011-03-31T10:18:27.000,NaN,2010-12-31T00:00:00.000,NaN,2010-12-31T00:00:00.000,NaN,NaN,67724.0,NaN,NaN,NaN,NaN,114.7,114.0,7770800.5,NaN,NaN,NaN,10749760.5,0.0,156.2,158.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20890,2010,2812122.0,2024890054,1265 Gerard Avenue,NaN,Bronx,BRONX,10452,New York,2011-03-31T10:18:27.000,NaN,2010-12-31T00:00:00.000,NaN,2010-12-31T00:00:00.000,NaN,NaN,67724.0,NaN,NaN,NaN,NaN,114.7,114.0,7770800.5,NaN,NaN,NaN,10749760.5,0.0,156.2,158.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20891,2010,2552023.0,1022020009,420 West 206th Street,NaN,New York,MANHATTAN,10034,New York,2011-03-31T10:18:26.000,NaN,2010-12-31T00:00:00.000,NaN,2010-12-31T00:00:00.000,NaN,NaN,77967.0,NaN,NaN,NaN,NaN,101.2,99.5,7892541.1,NaN,NaN,NaN,11458759.9,0.0,141.3,147.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20892,2010,10791243.0,1021070014,930 Saint Nicholas Avenue,NaN,New York,MANHATTAN,10032,New York,2011-03-31T10:18:26.000,NaN,2010-12-31T00:00:00.000,NaN,2010-12-31T00:00:00.000,NaN,NaN,52542.0,NaN,NaN,NaN,NaN,101.2,100.0,5317181.6,NaN,NaN,NaN,7682703.6,0.0,141.9,146.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20893,2010,2550379.0,1021070014,930 Saint Nicholas Avenue,NaN,New York,MANHATTAN,10032,New York,2011-03-31T10:18:26.000,NaN,2010-12-31T00:00:00.000,NaN,2010-12-31T00:00:00.000,NaN,NaN,52542.0,NaN,NaN,NaN,NaN,101.2,100.0,5317181.6,NaN,NaN,NaN,7682703.6,0.0,141.9,146.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104800,2017,5830753.0,1021220110,548 W 164th St,NaN,New York,MANHATTAN,10032,NaN,NaN,2019-02-22T00:00:00.000,NaN,NaN,NaN,02/20/2019 07:24 AM EST,1910.0,56634.0,56634.0,56634.0,56634.0,NaN,113.7,120.8,6438640.0,6843639.9,145.3,152.3,8227565.4,NaN,NaN,NaN,NaN,NaN,8627776.2,4.3,1.1,60196.7,241492.9,8670833.7,NaN
104845,2017,2641019.0,4008600001,20-70 27th Street,NaN,Astoria,QUEENS,11105,NaN,NaN,2019-02-27T00:00:00.000,NaN,NaN,NaN,02/26/2019 12:45 PM EST,1947.0,45407.0,45407.0,45407.0,45407.0,NaN,87.4,93.7,3970496.6,4253439.0,117.6,124.8,5342035.3,NaN,NaN,NaN,NaN,NaN,5668149.3,4.4,0.8,35665.6,201312.7,5660004.0,NaN
104936,2017,6700248.0,3013820004,283 Albany Avenue,NaN,Brooklyn,BROOKLYN,11213,NaN,NaN,2019-02-27T00:00:00.000,NaN,NaN,NaN,02/22/2019 01:16 PM EST,1941.0,57730.0,57730.0,57730.0,57730.0,NaN,79.8,79.9,4606591.0,4614855.8,104.7,105.1,6044048.2,NaN,NaN,NaN,NaN,NaN,6067189.7,3.5,0.7,39168.0,204587.3,6376265.3,NaN
105038,2017,6700173.0,3066030050,273 Avenue P,NaN,Brooklyn,BROOKLYN,11204,NaN,NaN,2019-02-27T00:00:00.000,NaN,NaN,NaN,02/27/2019 02:54 PM EST,1935.0,60000.0,60000.0,60000.0,60000.0,NaN,12.2,12.5,734277.2,749036.1,32.7,33.4,1961289.0,NaN,NaN,NaN,NaN,NaN,2002613.8,3.4,0.0,541.1,203672.0,2065802.2,NaN
105086,2017,6707097.0,3060160006,8301 Ridge Boulevard,NaN,Brooklyn,BROOKLYN,11209,NaN,NaN,2019-03-02T00:00:00.000,NaN,NaN,NaN,02/23/2019 03:04 PM EST,1963.0,51960.0,51960.0,51960.0,51960.0,NaN,107.7,113.8,5595724.3,5915619.8,129.8,136.3,6744297.0,NaN,NaN,NaN,NaN,NaN,7080187.2,2.8,1.0,54191.7,145501.0,6744297.0,NaN

### Joining the energy building data and the Building Footprint data

In [ ]:
## Joing with the footprints already 
success1
print(success1.shape)
### Needs to add footprints, but for year-specific ones 
not_success
print(not_success.shape)

### This is the footprint data for those that aren int success/ single bb; resolution data: mult_year_df

In [237]:
### Multi Step join 
join_columns_energy = [i for i in all_building_energy_2010_2017_renamed.columns if i not in ['borough','postcode','state']]
all_building_energy_2010_2017_renamed

## PART 1 
final_building_energy_data1 = all_building_energy_2010_2017_renamed[join_columns_energy].merge(
    success1,
        how="inner",
        on=["property_id","bbl","address_1","address_2","city"])
print("final_building_energy_data1")
print(final_building_energy_data1.shape)
print("final_building_energy_data1 bbls")
print(len(final_building_energy_data1['bbl'].unique()))

print("not_success")
print(not_success.shape)
print("not_success bbls")
print(len(not_success['bbl'].unique()))

## Part 2 
final_building_energy_data2 = all_building_energy_2010_2017_renamed[join_columns_energy].merge(
    not_success,
        how="inner",
        on=["property_id","bbl","address_1","address_2","city"])
print("final_building_energy_data2")
print(final_building_energy_data2.shape)
print("final_building_energy_data2 bbls")
print(len(final_building_energy_data2['bbl'].unique()))

### Checking Mutli Stats 
print("mult_year_df")
print(mult_year_df.shape)
print('mult_year_df bbls')
print(len(mult_year_df['base_bbl'].unique()))

# final_building_energy_data1
final_building_energy_data3 = final_building_energy_data2.merge(
    mult_year_df,
    how='inner', 
    right_on = ['base_bbl','year_manual'], 
    left_on = ['bbl','year_ending_year'])
print(final_building_energy_data3.shape)
print(len(final_building_energy_data3['bbl'].unique()))


# final_building_energy_data1
final_building_energy_data4 = final_building_energy_data2.merge(
    mult_year_df,
    how='left', 
    right_on = ['base_bbl','year_manual'], 
    left_on = ['bbl','year_ending_year'])
print(final_building_energy_data4.shape)
print(len(final_building_energy_data4['bbl'].unique()))

final_building_energy_data1
(30492, 79)
final_building_energy_data1 bbls
3066
not_success
(19201, 31)
not_success bbls
1306
final_building_energy_data2
(7403, 63)
final_building_energy_data2 bbls
771
mult_year_df
(187, 18)
mult_year_df bbls
41
(47, 81)
5
(7403, 81)
771

In [238]:
### putting it all together with waht was successful for multi year matching and singluelar values 
final_building_data = pd.concat([final_building_energy_data1,final_building_energy_data3])
final_building_data = final_building_data.drop(columns = ['year_manual','year'])

### SEMI FINAL WORKING DATASET WITH BUIDLGINDS
print(final_building_data.groupby(['year_ending_year']).agg({"bbl":"nunique"}))

                   bbl
year_ending_year
2010              3065
2011              2555
2012               134
2013              2622
2014              1145
2015              1223
2016              1234
2017              1412

In [242]:
#### THREE WORKING DATA SETS FOR THE ANALYSIS 

### FIRST IS 2010 and 2017 years specifically to have more buildings for canopy analysis
master_2010_2017_bbl_list = [b for b in 
                             list(final_building_data['bbl'][final_building_data['year_ending_year'] ==2010].unique()) 
                             if b in list(final_building_data['bbl'][final_building_data['year_ending_year'] ==2017].unique())]
print(len(master_2010_2017_bbl_list))
building_final_2010_2017 = final_building_data[((final_building_data['year_ending_year'].isin([2010,2017]))
                                                &(final_building_data['bbl'].isin(master_2010_2017_bbl_list)))]
building_final_2010_2017.to_csv('building_final_2010_2017_20251116.csv',index=False)

### Second is only the BBLs that are present in every eyar, with a max possible number of 134 because od 2012 being so low.
years = range(2010, 2018)  # adjust as needed
bbl_sets = [set(final_building_data.loc[final_building_data['year_ending_year'] == y, 'bbl'].unique()) for y in years]
common_bbls = set.intersection(*bbl_sets)  # BBLs present in ALL years
common_bbls = list(common_bbls)           # back to list if you want
print(len(common_bbls)) ## 25 bbls 
building_final_all_yrs = final_building_data[final_building_data['bbl'].isin(common_bbls)]
print(building_final_all_yrs.shape)
building_final_all_yrs.to_csv('building_final_all_yrs_20251116.csv',index=False)


### OPTIONAL1 (third would be all bbls and buildings with energy data (reguardless of fotoprint data)
max_buildings_no_footprint = pd.concat([final_building_energy_data1,final_building_energy_data4])
years = range(2010, 2018)  # adjust as needed
bbl_sets = [set(max_buildings_no_footprint.loc[max_buildings_no_footprint['year_ending_year'] == y, 'bbl'].unique()) for y in years]
common_bbls = set.intersection(*bbl_sets)  # BBLs present in ALL years
common_bbls = list(common_bbls)           # back to list if you want
print(len(common_bbls)) ## 33  bbls 
max_buildings_no_footprint_all_years = max_buildings_no_footprint[max_buildings_no_footprint['bbl'].isin(common_bbls)]
max_buildings_no_footprint_all_years = max_buildings_no_footprint_all_years.drop(columns = ['year_manual','year'])
max_buildings_no_footprint_all_years.to_csv('max_buildings_no_footprint_all_years_20251116.csv',index=False)


max_buildings_no_footprint = pd.concat([final_building_energy_data1,final_building_energy_data4])
years = [2010, 2017]  # adjust as needed
bbl_sets = [set(max_buildings_no_footprint.loc[max_buildings_no_footprint['year_ending_year'] == y, 'bbl'].unique()) for y in years]
common_bbls = set.intersection(*bbl_sets)  # BBLs present in ALL years
common_bbls = list(common_bbls)           # back to list if you want
print(len(common_bbls)) ## 1664 bbls 
max_buildings_no_footprint_2010_2017 = max_buildings_no_footprint[max_buildings_no_footprint['bbl'].isin(common_bbls)]
max_buildings_no_footprint_2010_2017 = max_buildings_no_footprint_2010_2017.drop(columns = ['year_manual','year'])
max_buildings_no_footprint_2010_2017.to_csv('max_buildings_no_footprint_2010_2017_20251116.csv',index=False)

1410
25
(447, 79)
33
1664

## Now That the building Data is finalized, need to add the Lidar for Canopy Data

### Tree Canopy Joining via spatial join with 50 foot buffer

In [243]:
# Path to your geodatabase (.gdb)
# https://github.com/CityOfNewYork/nyc-geo-metadata/blob/main/Metadata/Metadata_TreeCanopyChange.md
gdb_path = r"C:\Users\johnf\Downloads\Tree_Canopy_Change (1)\Tree_Canopy_Change\NYC_TreeCanopyChange_2010_2017.gdb"

# List all layers in the geodatabase
layers = fiona.listlayers(gdb_path)
print("Layers available:", layers)

# Read a specific layer into a GeoDataFrame
gdf = gpd.read_file(gdb_path, layer=layers[0])  # Replace [0] with your desired layer
print(gdf.head())

# Optional: save as shapefile or GeoJSON
# gdf.to_file("output.shp") 
# gdf.to_file("output.geojson", driver="GeoJSON")

canopy_change = gdf.copy()
# canopy_change
print(canopy_change.crs)

Layers available: ['NYC_TreeCanopyChange_2010_2017']
       Class  Shape_Length    Shape_Area  \
0  No Change    732.955182   5800.500001
1  No Change   2079.456465  35005.875002
2  No Change    228.557599   1984.500000
3  No Change    125.726893    617.750000
4  No Change     41.031601     90.750000

                                            geometry
0  MULTIPOLYGON (((1008879.93 272372.3, 1008878.4...
1  MULTIPOLYGON (((1008749.43 271870.8, 1008748.9...
2  MULTIPOLYGON (((1008704.43 272105.3, 1008701.9...
3  MULTIPOLYGON (((1009015.43 272757.3, 1009013.4...
4  MULTIPOLYGON (((1008794.93 270669.8, 1008781.4...
EPSG:2263

### Geodataframe conversion for building_final_2010_2017

In [258]:
# starting from your existing df, e.g. building_final_2010_2017
bdf = building_final_2010_2017.copy()
# geometry already contains MultiPolygon objects, so just wrap as GeoDataFrame
buildings_gdf = gpd.GeoDataFrame(bdf, geometry="geometry", crs="EPSG:2263")  # CRS in feet
# 50-ft buffer around each building
buildings_buffered = buildings_gdf.copy()
buildings_buffered["geometry"] = buildings_buffered.geometry.buffer(50)

In [262]:
# ensure canopy_gdf is in same CRS
canopy_change = canopy_change.to_crs(buildings_buffered.crs)

# 2. Compute actual intersection geometries
#    This creates one row per buildingâ€“canopy overlap
intersections = gpd.overlay(
    buildings_buffered[['bbl', 'geometry']],  # keep bbl + geometry
    canopy_change,                               # keep all canopy attrs
    how='intersection'
)

# 3. Compute overlap area for each pair (units: ftÂ² since EPSG:2263)
intersections['overlap_area'] = intersections.geometry.area

# 4. For each building (bbl), keep the row with the largest overlap_area
idx_max = intersections.groupby('bbl')['overlap_area'].idxmax()
largest_canopy_per_bldg = intersections.loc[idx_max].copy()

largest_canopy_per_bldg = largest_canopy_per_bldg.rename(
    columns={"geometry": "canopy_geom","Class":"canopy_change_class"})

buildings_with_canopy = buildings_buffered.merge(
    largest_canopy_per_bldg[["bbl", "canopy_geom", "canopy_change_class", "overlap_area"]],
    on="bbl",
    how="left"
)

In [263]:
#Taking a look
buildings_with_canopy.groupby(['canopy_change_class','year_ending_year']).agg({'bbl':"nunique"})

                                       bbl
canopy_change_class year_ending_year
Gain                2010               202
                    2017               202
Loss                2010               107
                    2017               107
No Change           2010              1095
                    2017              1095

### Geodataframe conversion for building_final_all_yrs

In [268]:
# starting from your existing df, e.g. building_final_all_yrs
bdf = building_final_all_yrs.copy()
# geometry already contains MultiPolygon objects, so just wrap as GeoDataFrame
buildings_gdf = gpd.GeoDataFrame(bdf, geometry="geometry", crs="EPSG:2263")  # CRS in feet
# 50-ft buffer around each building
buildings_buffered = buildings_gdf.copy()
buildings_buffered["geometry"] = buildings_buffered.geometry.buffer(50)

# ensure canopy_gdf is in same CRS
canopy_change = canopy_change.to_crs(buildings_buffered.crs)

# 2. Compute actual intersection geometries
#    This creates one row per buildingâ€“canopy overlap
intersections = gpd.overlay(
    buildings_buffered[['bbl', 'geometry']],  # keep bbl + geometry
    canopy_change,                               # keep all canopy attrs
    how='intersection'
)

# 3. Compute overlap area for each pair (units: ftÂ² since EPSG:2263)
intersections['overlap_area'] = intersections.geometry.area

# 4. For each building (bbl), keep the row with the largest overlap_area
idx_max = intersections.groupby('bbl')['overlap_area'].idxmax()
largest_canopy_per_bldg = intersections.loc[idx_max].copy()

largest_canopy_per_bldg = largest_canopy_per_bldg.rename(
    columns={"geometry": "canopy_geom","Class":"canopy_change_class"})

buildings_with_largest_canopy = buildings_buffered.merge(
    largest_canopy_per_bldg,
    on='bbl',
    how='left',
    suffixes=('', '_canopy')
)

In [269]:
#Taking a look
buildings_with_largest_canopy.groupby(['canopy_change_class','year_ending_year']).agg({'bbl':"nunique"})

                                      bbl
canopy_change_class year_ending_year
Gain                2010                6
                    2011                6
                    2012                6
                    2013                6
                    2014                6
                    2015                6
                    2016                6
                    2017                6
Loss                2010                2
                    2011                2
                    2012                2
                    2013                2
                    2014                2
                    2015                2
                    2016                2
                    2017                2
No Change           2010               17
                    2011               17
                    2012               17
                    2013               17
                    2014               17
                    2015               17
                    2016               17
                    2017               17

In [401]:
## Limited ll84_enriched_ct_canopy data for joining with the energy metrics
# ll84_enriched_ct_canopy.columns
ll84_enriched_ct_canopy[ll84_enriched_ct_canopy["borough"]=="STATEN IS"]="STATEN ISLAND"

## Striping those that are iffy, and keeping the solid ones. If needed i will clean later. 
print(ll84_enriched_ct_canopy.shape)
ll84_enriched_ct_canopy_limited = ll84_enriched_ct_canopy[(
    (ll84_enriched_ct_canopy["borough"]==ll84_enriched_ct_canopy["borough_clean"])
    &(## manhattan
        ((ll84_enriched_ct_canopy["bbl"].astype(str).str[0] == "1") & (ll84_enriched_ct_canopy["borough"]=="MANHATTAN"))
    ##Bronx
        |((ll84_enriched_ct_canopy["bbl"].astype(str).str[0] == "2") & (ll84_enriched_ct_canopy["borough"]=="BRONX"))
    #Brooklyn
         |((ll84_enriched_ct_canopy["bbl"].astype(str).str[0] == "3") & (ll84_enriched_ct_canopy["borough"]=='BROOKLYN'))
    #Queens
        |((ll84_enriched_ct_canopy["bbl"].astype(str).str[0] == "4") & (ll84_enriched_ct_canopy["borough"]=="QUEENS"))
    #Staten Island
    |((ll84_enriched_ct_canopy["bbl"].astype(str).str[0] == "5") & (ll84_enriched_ct_canopy["borough"]=="STATEN ISLAND"))
    # Null BBL
    |(ll84_enriched_ct_canopy["bbl"].isnull())
    ))]
print(ll84_enriched_ct_canopy_limited.shape)
### Dropped 1518 rows / buildings

(35918, 32)
(34400, 32)

In [ ]:
# ll84_enriched_ct_canopy.to_csv("ll84_enriched_ct_canopy.csv",index=False)

## Below is manual work for column alignment for multi year data.

In [654]:
### 
column_dict = {}
for year in residential3_2010_2017_lim4['year_ending_year'].unique():
    print(year)
    temp_df = residential3_2010_2017_lim4[residential3_2010_2017_lim4['year_ending_year']==year].dropna(how='all',axis=1)
    print(list(temp_df.columns))
    column_dict[year]=list(temp_df.columns)

2017
['property_id', 'property_name', 'year_ending', 'nyc_building_identification', 'address_1', 'city', 'largest_property_use_type_1', 'year_built', 'occupancy', 'energy_star_score', 'energy_star_certification', 'energy_star_certification_1', 'site_eui_kbtu_ft', 'weather_normalized_site_eui', 'site_energy_use_kbtu', 'weather_normalized_site_energy', 'source_eui_kbtu_ft', 'weather_normalized_source', 'source_energy_use_kbtu', 'weather_normalized_source_1', 'annual_maximum_demand_kw', 'annual_maximum_demand_mm', 'annual_maximum_demand_meter', 'percent_of_recs_retained', 'default_values', 'temporary_values', 'alert_property_has_no_uses', 'alert_data_center_issue_with', 'alert_gross_floor_area_is', 'property_gfa_self_reported', 'property_gfa_calculated', 'property_gfa_calculated_1', 'last_modified_date_property', 'last_modified_date_electric', 'last_modified_date_gas_meters', 'borough', 'latitude', 'longitude', 'community_board', 'council_district', 'last_modified_date_non', 'source_years', 'source_api_url', 'source_info_url', 'energy_star_certification_2', 'weather_normalized_site', 'weather_normalized_site_1', 'weather_normalized_site_2', 'weather_normalized_site_3', 'generation_date', 'census_tract', 'nta', 'postcode', 'address_2', 'data_quality_checker_date', 'county', 'source_energy_use_adjusted', 'data_quality_checker_run', 'irrigated_area_ft', 'account_id', 'property_id_1', 'bbl', 'year_ending_year']
2016
['property_id', 'property_name', 'year_ending', 'nyc_building_identification', 'address_1', 'city', 'largest_property_use_type_1', 'year_built', 'occupancy', 'energy_star_score', 'energy_star_certification', 'energy_star_certification_1', 'site_eui_kbtu_ft', 'weather_normalized_site_eui', 'site_energy_use_kbtu', 'weather_normalized_site_energy', 'source_eui_kbtu_ft', 'weather_normalized_source', 'source_energy_use_kbtu', 'weather_normalized_source_1', 'percent_of_recs_retained', 'default_values', 'temporary_values', 'alert_property_has_no_uses', 'alert_gross_floor_area_is', 'property_gfa_self_reported', 'property_gfa_calculated', 'property_gfa_calculated_1', 'borough', 'latitude', 'longitude', 'community_board', 'council_district', 'source_years', 'source_api_url', 'source_info_url', 'energy_star_certification_2', 'weather_normalized_site', 'weather_normalized_site_1', 'weather_normalized_site_2', 'weather_normalized_site_3', 'generation_date', 'census_tract', 'nta', 'postcode', 'release_date', 'address_2', 'data_quality_checker_date', 'county', 'source_energy_use_adjusted', 'data_quality_checker_run', 'date_property_last_modified', 'alert_data_center_does_not', 'alert_individual_monthly', 'alert_meter_has_gaps', 'source_eui_adjusted_to_current', 'count_of_buildings', 'bbl', 'year_ending_year']
2015
['property_id', 'property_name', 'year_ending', 'nyc_building_identification', 'address_1', 'city', 'largest_property_use_type_1', 'year_built', 'occupancy', 'energy_star_score', 'energy_star_certification', 'energy_star_certification_1', 'site_eui_kbtu_ft', 'weather_normalized_site_eui', 'site_energy_use_kbtu', 'weather_normalized_site_energy', 'source_eui_kbtu_ft', 'weather_normalized_source', 'source_energy_use_kbtu', 'weather_normalized_source_1', 'default_values', 'temporary_values', 'alert_property_has_no_uses', 'alert_gross_floor_area_is', 'property_gfa_self_reported', 'borough', 'latitude', 'longitude', 'community_board', 'council_district', 'source_years', 'source_api_url', 'source_info_url', 'energy_star_certification_2', 'weather_normalized_site', 'weather_normalized_site_1', 'weather_normalized_site_2', 'weather_normalized_site_3', 'generation_date', 'census_tract', 'nta', 'postcode', 'release_date', 'address_2', 'data_quality_checker_date', 'county', 'data_quality_checker_run', 'date_property_last_modified', 'alert_data_center_does_not', 'alert_individual_monthly', 'alert_meter_has_gaps', 'property_gfa_epa_calculated', 'property_gfa_epa_calculated_1', 'bbl', 'year_ending_year']
2014
['property_id', 'property_name', 'year_ending', 'nyc_building_identification', 'address_1', 'city', 'year_built', 'occupancy', 'energy_star_score', 'energy_star_certification', 'energy_star_certification_1', 'site_eui_kbtu_ft', 'weather_normalized_site_eui', 'site_energy_use_kbtu', 'weather_normalized_site_energy', 'source_eui_kbtu_ft', 'weather_normalized_source', 'source_energy_use_kbtu', 'weather_normalized_source_1', 'percent_of_recs_retained', 'default_values', 'temporary_values', 'alert_property_has_no_uses', 'alert_gross_floor_area_is', 'outpatient_rehabilitation', 'other_gross_floor_area_ft', 'borough', 'latitude', 'longitude', 'community_board', 'council_district', 'source_years', 'source_api_url', 'source_info_url', 'energy_star_certification_2', 'weather_normalized_site', 'weather_normalized_site_1', 'weather_normalized_site_2', 'weather_normalized_site_3', 'generation_date', 'census_tract', 'nta', 'postcode', 'release_date', 'address_2', 'data_quality_checker_date', 'county', 'other_weekly_operating_hours', 'other_number_of_computers', 'other_number_of_workers_on', 'data_quality_checker_run', 'date_property_last_modified', 'alert_data_center_does_not', 'alert_individual_monthly', 'alert_meter_has_gaps', 'personal_services_health', 'property_floor_area_building', 'energy_star_certification_3', 'energy_star_certification_5', 'investment_in_energy_projects', 'investment_in_energy_projects_1', 'estimated_values', 'bbl', 'year_ending_year']
2013
['property_id', 'property_name', 'year_ending', 'nyc_building_identification', 'address_1', 'city', 'year_built', 'occupancy', 'site_eui_kbtu_ft', 'weather_normalized_site_eui', 'site_energy_use_kbtu', 'weather_normalized_site_energy', 'source_eui_kbtu_ft', 'weather_normalized_source', 'source_energy_use_kbtu', 'weather_normalized_source_1', 'leed_us_project_id', 'outpatient_rehabilitation', 'pre_school_daycare_gross', 'other_gross_floor_area_ft', 'borough', 'latitude', 'longitude', 'community_board', 'council_district', 'source_years', 'source_api_url', 'source_info_url', 'weather_normalized_site', 'weather_normalized_site_1', 'generation_date', 'census_tract', 'nta', 'postcode', 'release_date', 'address_2', 'costar_property_id', 'county', 'other_weekly_operating_hours', 'other_number_of_computers', 'other_number_of_workers_on', 'date_property_last_modified', 'property_floor_area_building', 'energy_star_certification_3', 'energy_star_certification_5', 'investment_in_energy_projects', 'investment_in_energy_projects_1', 'custom_property_id_1_name', 'custom_property_id_1_id', 'energy_alerts', 'property_use_detail_alerts', 'bbl', 'year_ending_year']
2012
['property_id', 'property_name', 'year_ending', 'address_1', 'city', 'year_built', 'energy_star_score', 'target_energy_star_score', 'energy_star_certification', 'energy_star_certification_1', 'site_eui_kbtu_ft', 'weather_normalized_site_eui', 'site_energy_use_kbtu', 'source_eui_kbtu_ft', 'weather_normalized_source', 'source_energy_use_kbtu', 'borough', 'latitude', 'longitude', 'community_board', 'council_district', 'source_years', 'source_api_url', 'source_info_url', 'generation_date', 'census_tract', 'nta', 'postcode', 'release_date', 'address_2', 'county', 'date_property_last_modified', 'custom_property_id_1_id', 'energy_alerts', 'state_province', 'property_floor_area_buildings', 'service_and_product_provider', 'space_alerts', 'energy_current_date', 'target_site_eui_kbtu_ft', 'bin', 'bbl', 'year_ending_year']
2011
['property_id', 'address_1', 'city', 'year_built', 'weather_normalized_site_eui', 'borough', 'latitude', 'longitude', 'community_board', 'council_district', 'source_years', 'source_api_url', 'source_info_url', 'census_tract', 'nta', 'postcode', 'release_date', 'address_2', 'county', 'other_weekly_operating_hours', 'service_and_product_provider', 'bbl', 'building_id_espm', 'facility_name', 'rating', 'total_floor_space_sq_ft', 'facility_type', 'last_modified_date', 'metering_configuration', 'eligibility_for_energy_star', 'energy_star_application_status', 'current_rating_1_100', 'target_rating_1_100', 'space_use_alerts', 'current_energy_period_ending', 'current_site_energy_intensity', 'current_total_site_energy', 'target_site_energy_intensity', 'current_source_energy', 'current_total_source_energy', 'current_weather_normalized', 'total_indoor_and_outdoor', 'bin_unique_building_identifier', 'energy_use_alerts', 'full_time_equivalent_fte', 'year_ending_year']
2010
['property_id', 'address_1', 'city', 'weather_normalized_site_eui', 'borough', 'latitude', 'longitude', 'community_board', 'council_district', 'source_years', 'source_api_url', 'source_info_url', 'census_tract', 'nta', 'postcode', 'release_date', 'address_2', 'county', 'other_weekly_operating_hours', 'bin', 'bbl', 'facility_name', 'rating', 'total_floor_space_sq_ft', 'facility_type', 'last_modified_date', 'eligibility_for_energy_star', 'energy_star_application_status', 'current_rating_1_100', 'target_rating_1_100', 'current_energy_period_ending', 'current_site_energy_intensity', 'current_total_site_energy', 'target_site_energy_intensity', 'current_source_energy', 'current_total_source_energy', 'current_weather_normalized', 'total_indoor_and_outdoor', 'current_total_on_site', 'building_id', 'period_ending_date', 'state', 'year_ending_year']

In [ ]:
### 2010
## Core for joining 
'year_ending_year',
'property_id',
'bbl',
'address_1',
'city',
"borough",
"postcode",
'address_2',
"state",
## Data Information
'release_date',
"last_modified_date",
"current_energy_period_ending",
"period_ending_date",
#Building
"total_floor_space_sq_ft",
## Energy Use
'current_energy_period_ending', 
'current_site_energy_intensity', 
'current_total_site_energy', 
'target_site_energy_intensity',
'current_source_energy', 
'current_total_source_energy', 
'current_weather_normalized', 
'total_indoor_and_outdoor', 
'current_total_on_site'
#---------------------------------------
## 2011
## Core for joining 
'year_ending_year',
'property_id',
'bbl',
'address_1',
'city',
"borough",
"postcode",
'address_2',
"state",
## Data Information
"release_date"
"current_energy_period_ending"

## building
"total_floor_space_sq_ft"
"year_built"
"last_modified_date"
# metering_configuration  ?

##energy
weather_normalized_site_eui
'current_energy_period_ending',
'current_site_energy_intensity',
'current_total_site_energy',
'target_site_energy_intensity',
'current_source_energy',
'current_total_source_energy',
'current_weather_normalized'
###-------------------------
##2012
'year_ending_year'
'property_id', 
'bbl'
 'address_1',
'city', 
 'borough',
 'address_2',
 'state_province'
## Data info
'generation_date'
'release_date', 
'energy_current_date'
#Building
'year_built',
'date_property_last_modified'
 'property_floor_area_buildings'

# Engergy
'site_eui_kbtu_ft',
'weather_normalized_site_eui',
'site_energy_use_kbtu',
'source_eui_kbtu_ft',
'weather_normalized_source',
'source_energy_use_kbtu',  
'target_site_eui_kbtu_ft',
### -------------------------
### 2013
## Core for joining
 'year_ending_year',
'property_id', 
 'bbl', 
'address_1', 
'city', 
 'borough',
'postcode',  
'address_2',
## data info 
'generation_date',
'release_date',

#building info
'year_built',  
 'date_property_last_modified'
'property_floor_area_building'
#energy
'site_eui_kbtu_ft',
'weather_normalized_site_eui',
'site_energy_use_kbtu',
'weather_normalized_site_energy',
'source_eui_kbtu_ft',
'weather_normalized_source',
'source_energy_use_kbtu',
'weather_normalized_source_1', 
'weather_normalized_site',
'weather_normalized_site_1',
  'costar_property_id', 
###-------------------------------
## 2014
## Core for joining 
'year_ending_year',
'property_id',
'bbl',
  'address_1', 
'city',
'borough',
'postcode'
'address_2'
## Data Information
'generation_date',
'release_date'

## Buidling Info
'year_built',
'property_floor_area_building',
## Energy Use
 'site_eui_kbtu_ft', 
'weather_normalized_site_eui', 
'site_energy_use_kbtu', 
'weather_normalized_site_energy',
'source_eui_kbtu_ft',
'weather_normalized_source'
'source_energy_use_kbtu'
 'weather_normalized_source_1'
'weather_normalized_site',
'weather_normalized_site_1',
'weather_normalized_site_2',
'weather_normalized_site_3',
## 2015
'property_id',
'address_1', 
'city',
 'borough',
 'postcode'
 'address_2', 
## Core for joining 

## Data Information
'generation_date'
'release_date',
## Buidling Info
'largest_property_use_type_1',
'year_built',
'date_property_last_modified',
"property_gfa_self_reported"
 'property_gfa_epa_calculated', 
'property_gfa_epa_calculated_1'
## Energy Use
'site_eui_kbtu_ft',
'weather_normalized_site_eui',
'site_energy_use_kbtu',
'weather_normalized_site_energy',
'source_eui_kbtu_ft',
'weather_normalized_source',
'source_energy_use_kbtu',
'weather_normalized_source_1', 
 'weather_normalized_site', 'weather_normalized_site_1', 'weather_normalized_site_2', 'weather_normalized_site_3',
#-----------------------------
## 2016
## Core for joining 
'property_id',
'bbl',
'address_1',
'city',
'borough'
 'postcode', 
'address_2',


## Data Information
'generation_date'
'release_date',
## Buidling Info
'largest_property_use_type_1',
'year_built',
 'property_gfa_self_reported', 
'property_gfa_calculated', 
'property_gfa_calculated_1',
'date_property_last_modified'
## Energy Use
'site_eui_kbtu_ft',
'weather_normalized_site_eui',
'site_energy_use_kbtu',
'weather_normalized_site_energy',
'source_eui_kbtu_ft',
'weather_normalized_source',
'source_energy_use_kbtu',
'weather_normalized_source_1',
 'weather_normalized_site', 
'weather_normalized_site_1', 
'weather_normalized_site_2', 
'weather_normalized_site_3',
'source_energy_use_adjusted'
'source_eui_adjusted_to_current'
##### --------------------------------------
## 2017
## Core for joining
 'year_ending_year'
'property_id', 
'bbl'
'address_1',
'city',  
'borough',
'postcode', 
'address_2',  \

## Data Information
'generation_date'

## Buidling Info
 'largest_property_use_type_1', 
'year_built',
'property_gfa_self_reported',
'property_gfa_calculated', 
'property_gfa_calculated_1
'last_modified_date_property',
## Energy Use
'site_eui_kbtu_ft', 
'weather_normalized_site_eui', 
'site_energy_use_kbtu',
'weather_normalized_site_energy',
'source_eui_kbtu_ft',
'weather_normalized_source',
'source_energy_use_kbtu',
'weather_normalized_source_1', 
 'weather_normalized_site', 
'weather_normalized_site_1',
'weather_normalized_site_2',
'weather_normalized_site_3', 
 'source_energy_use_adjusted',