In [73]:
import os
import re
import requests
import pandas as pd
import numpy as np
import geopandas as gpd

# ---- NYC Open Data dataset IDs ----
DS_TREE_POINTS = "hn5i-inap"  # Forestry Tree Points (street-tree planting spaces / trees)
DS_WORK_ORDERS = "bdjm-n7q4"  # Forestry Work Orders (events: removals, plantings, etc.)
DS_CENSUS_2015 = "uvpi-gqnh"  #  2015 Street Tree Census - dont knwo if i ineed

# ---- Analysis window ----
YEARS = list(range(2010, 2018))  # 2010..2017 inclusive
AS_OF = {y: pd.Timestamp(f"{y}-12-31") for y in YEARS}

# Spatial CRS for NYC (planar feet) if you do spatial joins later
TARGET_CRS = "EPSG:2263"
BASE = "https://data.cityofnewyork.us/resource/{id}"

### Setting Pandas Options 
pd.options.display.max_columns = 500

In [75]:
### Defining functions in roder to pull the data as needed. 
def _headers():
    h = {}
    tok = os.getenv("SOCRATA_APP_TOKEN")
    if tok:
        h["X-App-Token"] = tok
    return h

def socrata_fetch_tabular(dataset_id, where=None, select=None, limit=25000, max_rows=None, verbose=True):
    """
    Pull ALL rows (paged) from a Socrata tabular dataset (.json). Returns a DataFrame.
    Set max_rows=None to attempt full download.
    """
    url = f"{BASE.format(id=dataset_id)}.json"
    params_base = {"$limit": limit}
    if where:  params_base["$where"]  = where
    if select: params_base["$select"] = select

    frames, offset, got = [], 0, 0
    while True:
        if max_rows is not None and got >= max_rows:
            break
        page = min(limit, max_rows - got) if max_rows else limit
        p = dict(params_base); p["$offset"] = offset; p["$limit"] = page
        r = requests.get(url, params=p, headers=_headers(), timeout=180); r.raise_for_status()
        rows = r.json()
        if not rows: break
        frames.append(pd.DataFrame(rows))
        n = len(rows); got += n; offset += n
        if verbose: print(f"{dataset_id}: fetched {got:,} rows…")
        if n < page: break
    return pd.concat(frames, ignore_index=True) if frames else pd.DataFrame()

def socrata_fetch_geojson(dataset_id, limit=50000, verbose=True):
    """
    Pull ALL features from a Socrata GeoJSON endpoint (.geojson). Returns a GeoDataFrame (EPSG:4326).
    Useful for polygon layers like census tracts.
    """
    feats, offset = [], 0
    while True:
        url = f"{BASE.format(id=dataset_id)}.geojson?$limit={limit}&$offset={offset}"
        r = requests.get(url, headers=_headers(), timeout=180); r.raise_for_status()
        gj = r.json(); chunk = gj.get("features", [])
        if not chunk: break
        feats.extend(chunk); offset += len(chunk)
        if verbose: print(f"{dataset_id} (geojson): fetched {offset:,} features…")
        if len(chunk) < limit: break
    return gpd.GeoDataFrame.from_features(feats, crs="EPSG:4326") if feats else gpd.GeoDataFrame(geometry=[], crs="EPSG:4326")

def add_lat_lon_from_location(df, location_col="location"):
    """
    Unpack Socrata 'location' Point dict into numeric lat/lon, preserving all other columns.
    """
    if location_col not in df.columns: return df
    def _lat(v):
        if isinstance(v, dict) and "latitude" in v: return v["latitude"]
        if isinstance(v, dict) and "coordinates" in v: return v["coordinates"][1]
    def _lon(v):
        if isinstance(v, dict) and "longitude" in v: return v["longitude"]
        if isinstance(v, dict) and "coordinates" in v: return v["coordinates"][0]
    out = df.copy()
    out["lat"] = pd.to_numeric(out[location_col].map(_lat), errors="coerce")
    out["lon"] = pd.to_numeric(out[location_col].map(_lon), errors="coerce")
    return out

def convert_datetime_columns(df, extra_force=()):
    """
    Convert columns that look like dates/times (by name) to pandas datetime.
    extra_force: iterable of column names to always attempt.
    """
    df = df.copy()
    name_pat = re.compile(r"(date|time|_at|_on)", re.I)
    candidates = [c for c in df.columns if name_pat.search(c)]
    candidates = sorted(set(candidates).union(extra_force))
    for c in candidates:
        df[c] = pd.to_datetime(df[c], errors="coerce")
    return df

def classify_work_orders(works):
    """
    Add boolean flags for 'is_tree_removal' and 'is_tree_planting' + pick a best 'event_date'.
    Uses wotype + wstatus. Tighten patterns later if you discover coded fields.
    """
    w = works.copy()
    def s(x): return x.astype(str).str.lower() if isinstance(x, pd.Series) else pd.Series([], dtype=str)
    wotype, wstatus = s(w.get("wotype")), s(w.get("wstatus"))

    is_closed   = wstatus.isin({"closed","complete","completed"})
    is_removal  = wotype.str.contains(r"\btree removal\b", na=False) | \
                  wotype.str.contains(r"\btree removal for tree planting\b", na=False) | \
                  wotype.str.contains(r"\btree down\b", na=False)
    is_planting = wotype.str.contains(r"\btree plant\b", na=False) | \
                  wotype.str.contains(r"\bplanting\b", na=False)

    w["is_tree_removal"]  = is_removal & is_closed
    w["is_tree_planting"] = is_planting & is_closed

    # Choose a best event date per row: prefer completion/closed → else earliest parsed date on row
    date_priority = [c for c in [
        "completeddate","closeddate","finishdate","completion_date","date_completed",
        "actual_end_date","actual_finish_date"
    ] if c in w.columns]
    dt_cols = [c for c in w.columns if pd.api.types.is_datetime64_any_dtype(w[c])]

    def pick_event_date(row):
        for c in date_priority:
            v = row.get(c)
            if pd.notna(v): return v
        vals = [row[c] for c in dt_cols if pd.notna(row[c])]
        return min(vals) if vals else pd.NaT

    w["event_date"] = w.apply(pick_event_date, axis=1)
    return w

####  Pulling in the Data from the NYC OPEN DATA API

In [3]:
# --- Forestry Tree Points (all columns; keep only rows with geometry) ---
points_raw = socrata_fetch_tabular(
    DS_TREE_POINTS,
    where="location IS NOT NULL",
    select=None,
    limit=25000,
    max_rows=None
)
points = add_lat_lon_from_location(points_raw, "location").dropna(subset=["lat","lon"])
points = convert_datetime_columns(points, extra_force=("createddate", "updateddate"))
# -----------------------------------------------------------------------------------------------------
# Use 'createddate' as baseline start; we can refine with planting WOs later if earlier
if "createddate" not in points.columns:
    raise KeyError("Expected 'createddate' in Tree Points. Show points.columns if it's named differently.")

# Planting-space key in Tree Points
key_points = "plantingspaceglobalid" if "plantingspaceglobalid" in points.columns else \
             "planting_space_global_id" if "planting_space_global_id" in points.columns else None
if not key_points:
    raise KeyError("Expected a planting space id in Tree Points (e.g., 'plantingspaceglobalid').")

# --- Forestry Work Orders (all columns) ---
works_raw = socrata_fetch_tabular(
    DS_WORK_ORDERS,
    where=None,
    select=None,
    limit=25000,
    max_rows=None
)
works = convert_datetime_columns(works_raw)
works = classify_work_orders(works)

# Planting-space key in Work Orders
key_works = "plantingspaceglobalid" if "plantingspaceglobalid" in works.columns else \
            "planting_space_global_id" if "planting_space_global_id" in works.columns else None
if not key_works:
    print("⚠️ No planting-space key found in Work Orders; one-to-many join will be skipped.")

# --- 2015 Tree Census for enrichment (species, DBH cross-check, etc.) ---
# You can use this later for QA or to backfill attributes where Tree Points are missing.
census15 = socrata_fetch_tabular(
    DS_CENSUS_2015,
    where="latitude IS NOT NULL AND longitude IS NOT NULL",
    select=None,
    limit=25000,
    max_rows=200_000  # start smaller; set None to attempt full
)
census15 = convert_datetime_columns(census15)

hn5i-inap: fetched 25,000 rows…
hn5i-inap: fetched 50,000 rows…
hn5i-inap: fetched 75,000 rows…
hn5i-inap: fetched 100,000 rows…
hn5i-inap: fetched 125,000 rows…
hn5i-inap: fetched 150,000 rows…
hn5i-inap: fetched 175,000 rows…
hn5i-inap: fetched 200,000 rows…
hn5i-inap: fetched 225,000 rows…
hn5i-inap: fetched 250,000 rows…
hn5i-inap: fetched 275,000 rows…
hn5i-inap: fetched 300,000 rows…
hn5i-inap: fetched 325,000 rows…
hn5i-inap: fetched 350,000 rows…
hn5i-inap: fetched 375,000 rows…
hn5i-inap: fetched 400,000 rows…
hn5i-inap: fetched 425,000 rows…
hn5i-inap: fetched 450,000 rows…
hn5i-inap: fetched 475,000 rows…
hn5i-inap: fetched 500,000 rows…
hn5i-inap: fetched 525,000 rows…
hn5i-inap: fetched 550,000 rows…
hn5i-inap: fetched 575,000 rows…
hn5i-inap: fetched 600,000 rows…
hn5i-inap: fetched 625,000 rows…
hn5i-inap: fetched 650,000 rows…
hn5i-inap: fetched 675,000 rows…
hn5i-inap: fetched 700,000 rows…
hn5i-inap: fetched 725,000 rows…
hn5i-inap: fetched 750,000 rows…
hn5i-inap: fetched 775,000 rows…
hn5i-inap: fetched 800,000 rows…
hn5i-inap: fetched 825,000 rows…
hn5i-inap: fetched 850,000 rows…
hn5i-inap: fetched 875,000 rows…
hn5i-inap: fetched 900,000 rows…
hn5i-inap: fetched 925,000 rows…
hn5i-inap: fetched 950,000 rows…
hn5i-inap: fetched 975,000 rows…
hn5i-inap: fetched 1,000,000 rows…
hn5i-inap: fetched 1,025,000 rows…
hn5i-inap: fetched 1,050,000 rows…
hn5i-inap: fetched 1,075,000 rows…
hn5i-inap: fetched 1,093,439 rows…
bdjm-n7q4: fetched 25,000 rows…
bdjm-n7q4: fetched 50,000 rows…
bdjm-n7q4: fetched 75,000 rows…
bdjm-n7q4: fetched 100,000 rows…
bdjm-n7q4: fetched 125,000 rows…
bdjm-n7q4: fetched 150,000 rows…
bdjm-n7q4: fetched 175,000 rows…
bdjm-n7q4: fetched 200,000 rows…
bdjm-n7q4: fetched 225,000 rows…
bdjm-n7q4: fetched 250,000 rows…
bdjm-n7q4: fetched 275,000 rows…
bdjm-n7q4: fetched 300,000 rows…
bdjm-n7q4: fetched 325,000 rows…
bdjm-n7q4: fetched 350,000 rows…
bdjm-n7q4: fetched 375,000 rows…
bdjm-n7q4: fetched 400,000 rows…
bdjm-n7q4: fetched 425,000 rows…
bdjm-n7q4: fetched 450,000 rows…
bdjm-n7q4: fetched 475,000 rows…
bdjm-n7q4: fetched 500,000 rows…
bdjm-n7q4: fetched 525,000 rows…
bdjm-n7q4: fetched 550,000 rows…
bdjm-n7q4: fetched 575,000 rows…
bdjm-n7q4: fetched 600,000 rows…
bdjm-n7q4: fetched 625,000 rows…
bdjm-n7q4: fetched 650,000 rows…
bdjm-n7q4: fetched 675,000 rows…
bdjm-n7q4: fetched 700,000 rows…
bdjm-n7q4: fetched 725,000 rows…
bdjm-n7q4: fetched 750,000 rows…
bdjm-n7q4: fetched 775,000 rows…
bdjm-n7q4: fetched 800,000 rows…
bdjm-n7q4: fetched 825,000 rows…
bdjm-n7q4: fetched 850,000 rows…
bdjm-n7q4: fetched 875,000 rows…
bdjm-n7q4: fetched 900,000 rows…
bdjm-n7q4: fetched 925,000 rows…
bdjm-n7q4: fetched 950,000 rows…
bdjm-n7q4: fetched 975,000 rows…
bdjm-n7q4: fetched 1,000,000 rows…
bdjm-n7q4: fetched 1,025,000 rows…
bdjm-n7q4: fetched 1,050,000 rows…
bdjm-n7q4: fetched 1,075,000 rows…
bdjm-n7q4: fetched 1,100,000 rows…
bdjm-n7q4: fetched 1,125,000 rows…
bdjm-n7q4: fetched 1,150,000 rows…
bdjm-n7q4: fetched 1,175,000 rows…
bdjm-n7q4: fetched 1,200,000 rows…
bdjm-n7q4: fetched 1,225,000 rows…
bdjm-n7q4: fetched 1,250,000 rows…
bdjm-n7q4: fetched 1,275,000 rows…
bdjm-n7q4: fetched 1,300,000 rows…
bdjm-n7q4: fetched 1,325,000 rows…
bdjm-n7q4: fetched 1,350,000 rows…
bdjm-n7q4: fetched 1,375,000 rows…
bdjm-n7q4: fetched 1,378,889 rows…
uvpi-gqnh: fetched 25,000 rows…
uvpi-gqnh: fetched 50,000 rows…
uvpi-gqnh: fetched 75,000 rows…
uvpi-gqnh: fetched 100,000 rows…
uvpi-gqnh: fetched 125,000 rows…
uvpi-gqnh: fetched 150,000 rows…
uvpi-gqnh: fetched 175,000 rows…
uvpi-gqnh: fetched 200,000 rows…

#### Taking the Forestry Tree points data and limiting to the window of interest (2010 - 2017)

In [6]:
cut_created_max = pd.Timestamp("2017-12-31")   # keep created <= this (exclude NaT and > 2017-12-31)
cut_planted_max = pd.Timestamp("2009-12-31")   # accept planted <= this OR NaT

### Assuptions made: Null values would imply older trees, while Newly planted trees are probably too. So essentially if they were planted in the window
# We ignore.

# --- Masks per your rules ---
# 1) CREATEDDATE: keep only rows with a non-null createddate on/before 2017-12-31
mask_created = points["createddate"].isna() | (points["createddate"] <= cut_created_max)

# 2) PLANTEDDATE: keep rows where planteddate is NaT OR planteddate <= 2009-12-31 We want trees planted beofre the window.
## Newly planted trees are probably too 
mask_planted = points["planteddate"].isna() | (points["planteddate"] <= cut_planted_max)

# --- Apply both filters ---
points_filtered = points.loc[mask_created & mask_planted].copy()

In [76]:
#Only Alive Trees
points_filter = points_filtered[points_filtered['tpcondition']!='Dead']
points_filter = points_filter[~points_filter['tpstructure'].isin(['Stump - Uprooted','Stump'])]

In [78]:
points_filter.head()

,objectid,dbh,tpstructure,tpcondition,plantingspaceglobalid,geometry,globalid,genusspecies,createddate,location,stumpdiameter,updateddate,riskrating,riskratingdate,planteddate,lat,lon
0,230120,0,Retired,Unknown,B9DDFFE7-7387-4923-91EA-6E9212AA324F,POINT(-73.72963593901264 40.69403944537182),039E4FD7-CFB6-4518-9E16-1E37D10C994A,Unknown - Unknown,2015-06-19 10:39:00,"{'type': 'Point', 'coordinates': [-73.72963593...",NaN,NaT,NaN,NaT,NaT,40.694039,-73.729636
3,746627,18,Full,Good,CCD7CEB4-D7FC-427F-982C-55355AB0989D,POINT(-73.93851920790104 40.60738960999758),FF71F967-C0E7-478E-BD3A-C54A2927A624,Acer - maple,2015-09-04 14:54:00,"{'type': 'Point', 'coordinates': [-73.93851920...",NaN,NaT,NaN,NaT,NaT,40.607390,-73.938519
5,1058526,14,Full,Good,12AA0ADA-517C-4726-905A-E0A5A98EBCC2,POINT(-73.94958994062151 40.72358613049737),7AD3859E-4A1C-4C72-A4B1-F0AC2A97DB0E,Pinus - pine,2015-10-01 14:06:48,"{'type': 'Point', 'coordinates': [-73.94958994...",0,NaT,NaN,NaT,NaT,40.723586,-73.949590
6,1392285,2,Full,Good,560979A5-0B59-46A5-A16E-8FDE0A01875D,POINT(-73.96235422914798 40.7946082222144),ECF53949-832B-4D61-B3C1-DD3042031E87,Quercus palustris - pin oak,2015-10-29 12:29:49,"{'type': 'Point', 'coordinates': [-73.96235422...",0,NaT,NaN,NaT,NaT,40.794608,-73.962354
7,1415194,6,Full,Good,20EE5761-8B78-45D5-8EEE-81C335E5384E,POINT(-73.76501171400223 40.75057879438073),25DF6E74-6BED-45DC-978B-EAF670E0F365,Morus - mulberry,2015-10-29 13:49:57,"{'type': 'Point', 'coordinates': [-73.76501171...",0,NaT,NaN,NaT,NaT,40.750579,-73.765012

#### Starting with Work Order data for trees
- Limiting to those within the window, Not open, so closed (action taken), and using the data to find trees removed during the window.

In [80]:
# 1) Pick the right status column and filter to CLOSED work orders
status_col = "wostatus" if "wostatus" in works_raw.columns else "wstatus"
closed_orders = works_raw.loc[
    works_raw[status_col].astype(str).str.lower().eq("closed")
].copy()

# 2) Parse dates
closed_orders["createddate"] = pd.to_datetime(closed_orders["createddate"], errors="coerce")
closed_orders["createddate"] = pd.to_datetime(closed_orders["createddate"], errors="coerce")
closed_orders["closeddate"] = pd.to_datetime(closed_orders["closeddate"], errors="coerce")


# 3) Keep rows with createddate < 2018-01-01 OR createddate is NaT
cut_off = pd.Timestamp("2018-01-01")
mask = ((closed_orders["createddate"].isna()) | (closed_orders["createddate"] < cut_off)
       &((closed_orders["createddate"].isna()) | (closed_orders["createddate"] < cut_off))
       &(closed_orders["closeddate"].isna() | (closed_orders["closeddate"] < cut_off)))
closed_orders_2017 = closed_orders.loc[mask].copy()
closed_orders_2017

print(len(closed_orders), "closed orders total")
print(len(closed_orders_2017), "closed orders with createddate < 2018-01-01 or NaT")

889749 closed orders total
222626 closed orders with createddate < 2018-01-01 or NaT

In [81]:
### Looking at removals to flag via object ID in the forestry points data
removals = closed_orders_2017[((closed_orders_2017["wotype"].astype(str).str.lower().str.contains("removal"))|
    (closed_orders_2017["wocategory"].astype(str).str.lower().str.contains("removal")))]

In [82]:
### saving files
# points_filter.to_csv("tree_points_filters.csv",index=False)
# removals.to_csv("tree_removals.csv",index=False)

In [83]:
non_removed = points_filter[~points_filter['objectid'].isin(removals['objectid'].unique())]
print(non_removed.shape)
removed = points_filter[points_filter['objectid'].isin(removals['objectid'].unique())]
print(removed.shape)

(691141, 17)
(5161, 17)

#### Confirming that there are no duplicate tree listings in the work orders

In [27]:
removed_lim = removed[["objectid","updateddate","createddate","riskratingdate"]].drop_duplicates()
#Checking object Id is 1:1 for removals
test = removed_lim.groupby(["objectid"]).agg({"updateddate":"count","createddate":"count"}).reset_index()
test["updateddate"][test["updateddate"]==0]=np.nan
test["entry_count"] = test["updateddate"].combine_first(test["createddate"])
test = test.drop(columns=["updateddate","createddate"])
test[test["entry_count"]>1]
## COnfirm no dupes

C:\Users\johnf\AppData\Local\Temp\ipykernel_64068\3176215031.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test["updateddate"][test["updateddate"]==0]=np.nan
C:\Users\johnf\AppData\Local\Temp\ipykernel_64068\3176215031.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["updateddate"][test["updateddate"]==0]=np.nan

Empty DataFrame
Columns: [objectid, entry_count]
Index: []

#### Using Contextual Ticket dates to identify Est. Removal Date. 
- Only interested in those here that were removed WITHIN the analysis window.

In [33]:
#Figuring out the Removed trees and when they were removed
# 1) Make sure the dates are real datetimes
for c in ["updateddate", "createddate"]:
    removed[c] = pd.to_datetime(removed[c], errors="coerce")

# 2) Removal date estimate: prefer updateddate, fall back to createddate
removed.loc[:, "removal_date_est"] = removed["updateddate"].fillna(removed["createddate"])
cutoff = pd.Timestamp("2018-01-01")  # everything strictly earlier than this
removed.loc[:, "removed_before_2018"] = removed["removal_date_est"] < cutoff

# Optional: keep only those rows
removed_2017_and_earlier = removed[removed["removed_before_2018"]]

## NO nulls, Checked
# removed[removed["Removal_Data_Est"].isnull()]

C:\Users\johnf\AppData\Local\Temp\ipykernel_64068\3582012041.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  removed[c] = pd.to_datetime(removed[c], errors="coerce")
C:\Users\johnf\AppData\Local\Temp\ipykernel_64068\3582012041.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  removed[c] = pd.to_datetime(removed[c], errors="coerce")
C:\Users\johnf\AppData\Local\Temp\ipykernel_64068\3582012041.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  removed.loc[:, "removal_date_est"] = removed["updateddate"].fillna(removed["createddate"])
C:\Users\johnf\AppData\Local\Temp\ipykernel_64068\3582012041.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  removed.loc[:, "removed_before_2018"] = removed["removal_date_est"] < cutoff

In [36]:
print(removed.shape)
print(removed_2017_and_earlier.shape)

(5161, 20)
(1435, 20)

##### for those removals, adding flag to include or not incluide in analysis based on when during the eyar they were removed. 
- Those removed in June or before will not be included in year, but July and after included. Essentially if it was ardoun for majority of year - keep it.

In [43]:
removed_2017_and_earlier["removal_year"] =  removed_2017_and_earlier["removal_date_est"].dt.year
# 2) Include-in-year flag:
#    True  -> removed in July (7) or later
#    False -> removed in June (6) or earlier
#    NaT   -> treated as False (not included)
m = removed_2017_and_earlier["removal_date_est"].dt.month
removed_2017_and_earlier["include_in_year"] = (m >= 7) & m.notna()

C:\Users\johnf\AppData\Local\Temp\ipykernel_64068\2106863667.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  removed_2017_and_earlier["removal_year"] =  removed_2017_and_earlier["removal_date_est"].dt.year
C:\Users\johnf\AppData\Local\Temp\ipykernel_64068\2106863667.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  removed_2017_and_earlier["include_in_year"] = (m >= 7) & m.notna()

#### Performing the join with the filtered Points data to get usable tree existance data

In [53]:
removed_lim_join = removed_2017_and_earlier[["objectid","removal_date_est","removed_before_2018","removal_year","include_in_year"]]
trees_raw = points_filter.merge(removed_lim_join, how='left',on = ["objectid"] )

In [55]:
##*** Analysis assumption is that the trees from this data set were around in 2010. ***
trees_raw["removed_before_2018"][trees_raw["removed_before_2018"].isnull()]=False
trees_raw

C:\Users\johnf\AppData\Local\Temp\ipykernel_64068\2394499615.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  trees_raw["removed_before_2018"][trees_raw["removed_before_2018"].isnull()]=False
C:\Users\johnf\AppData\Local\Temp\ipykernel_64068\2394499615.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trees_raw["removed_before_2018"][trees_raw["removed_before_2018"].isnull()]=False

,objectid,dbh,tpstructure,tpcondition,plantingspaceglobalid,geometry,globalid,genusspecies,createddate,location,stumpdiameter,updateddate,riskrating,riskratingdate,planteddate,lat,lon,removal_date_est,removed_before_2018,removal_year,include_in_year
0,230120,0,Retired,Unknown,B9DDFFE7-7387-4923-91EA-6E9212AA324F,POINT(-73.72963593901264 40.69403944537182),039E4FD7-CFB6-4518-9E16-1E37D10C994A,Unknown - Unknown,2015-06-19 10:39:00,"{'type': 'Point', 'coordinates': [-73.72963593...",NaN,NaT,NaN,NaT,NaT,40.694039,-73.729636,NaT,False,NaN,NaN
1,746627,18,Full,Good,CCD7CEB4-D7FC-427F-982C-55355AB0989D,POINT(-73.93851920790104 40.60738960999758),FF71F967-C0E7-478E-BD3A-C54A2927A624,Acer - maple,2015-09-04 14:54:00,"{'type': 'Point', 'coordinates': [-73.93851920...",NaN,NaT,NaN,NaT,NaT,40.607390,-73.938519,NaT,False,NaN,NaN
2,1058526,14,Full,Good,12AA0ADA-517C-4726-905A-E0A5A98EBCC2,POINT(-73.94958994062151 40.72358613049737),7AD3859E-4A1C-4C72-A4B1-F0AC2A97DB0E,Pinus - pine,2015-10-01 14:06:48,"{'type': 'Point', 'coordinates': [-73.94958994...",0,NaT,NaN,NaT,NaT,40.723586,-73.949590,NaT,False,NaN,NaN
3,1392285,2,Full,Good,560979A5-0B59-46A5-A16E-8FDE0A01875D,POINT(-73.96235422914798 40.7946082222144),ECF53949-832B-4D61-B3C1-DD3042031E87,Quercus palustris - pin oak,2015-10-29 12:29:49,"{'type': 'Point', 'coordinates': [-73.96235422...",0,NaT,NaN,NaT,NaT,40.794608,-73.962354,NaT,False,NaN,NaN
4,1415194,6,Full,Good,20EE5761-8B78-45D5-8EEE-81C335E5384E,POINT(-73.76501171400223 40.75057879438073),25DF6E74-6BED-45DC-978B-EAF670E0F365,Morus - mulberry,2015-10-29 13:49:57,"{'type': 'Point', 'coordinates': [-73.76501171...",0,NaT,NaN,NaT,NaT,40.750579,-73.765012,NaT,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696297,5782313,3,Full,Good,5BB1F270-B6E0-4EB0-A998-E528605E93DF,POINT(-73.94682076785342 40.585317039825405),0598CDAF-0DEC-4E5D-BC0A-90831E9DF202,Pyrus calleryana 'Chanticleer' - 'Chanticleer'...,2017-12-11 00:00:00,"{'type': 'Point', 'coordinates': [-73.94682076...",NaN,2019-01-03 15:47:07,NaN,NaT,NaT,40.585317,-73.946821,NaT,False,NaN,NaN
696298,5787952,3,Full,Good,71BD3EDA-6B99-45CC-8602-192D43C0548C,POINT(-73.8228103286091 40.70357559309544),77AC65C0-F876-443F-A59A-5179623A45C0,Zelkova serrata 'Mushashino' - 'Mushashino' Ze...,2017-05-17 00:00:00,"{'type': 'Point', 'coordinates': [-73.82281032...",NaN,2019-08-07 18:49:56,3,2019-07-30 14:34:32,NaT,40.703576,-73.822810,NaT,False,NaN,NaN
696299,5787133,3,Full,Good,A2DD01E4-827D-4551-BA8B-7897F33E059E,POINT(-73.94297748515692 40.58612917453949),932FCCA1-CF52-4733-953F-54C4B05E50D5,Ginkgo biloba 'Autumn Gold' - 'Autumn Gold' Gi...,2017-12-11 00:00:00,"{'type': 'Point', 'coordinates': [-73.94297748...",NaN,2018-12-31 16:07:28,NaN,NaT,NaT,40.586129,-73.942977,NaT,False,NaN,NaN
696300,5787679,4,Retired,Good,964DB6FF-08AF-426B-A30C-B13802F9EF28,POINT(-73.9962117329861 40.758407615772356),CFEFAF62-5A0E-4D47-9884-06044DA376D0,Ulmus parvifolia - Chinese elm,2017-06-21 00:00:00,"{'type': 'Point', 'coordinates': [-73.99621173...",NaN,2022-01-31 19:09:00,7,2021-11-09 17:16:00,NaT,40.758408,-73.996212,NaT,False,NaN,NaN
696301,11830791,24,Retired,Good,B9ABB59C-FEB6-4C5B-A0D2-C00F6F52DE10,POINT(-74.11949039575364 40.62592562091036),2045EB3E-D84F-4CFF-AC49-DD5A00429163,Fraxinus americana - white ash,2016-03-15 16:18:33,"{'type': 'Point', 'coordinates': [-74.11949039...",0,2021-08-30 18:29:43,NaN,NaT,NaT,40.625926,-74.119490,NaT,False,NaN,NaN

In [59]:
trees_raw.shape

(696302, 21)

### Flattening the data long ways for each year in the analysis, removing the trees based on found removal work orders.

In [71]:
## Processing the Tree Data to Have Yearly values for eahc tree:
trees_processing = []
trees_raw['manual_year'] = None
for year in range(2010,2018):
    print(year)
    trees_raw['manual_year'] = year
    trees_incl = trees_raw[((trees_raw["removal_year"].isnull())
                        |(trees_raw["removal_year"]>year)
                        |((trees_raw["removal_year"]==year) & (trees_raw["include_in_year"]==True)))]
    trees_processing.append(trees_incl)

2010
2011
2012
2013
2014
2015
2016
2017

In [72]:
trees_processed = pd.concat(trees_processing)
# trees_processed.to_csv("trees_processed_for_part3.csv", index=False)